Repository zendeskgarden/react-containers: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, prettier-package-json --write

.lintstagedrc:

{
  "*.js": [
    "eslint",
    "prettier --write",
    "git add"
  ],
  "!(*CHANGELOG).md": [
    "markdownlint",
    "prettier --write",
    "git add"
  ],
  "**/package.json": [
    "prettier-package-json --write",
    "git add"
  ]
}

fix: lint-staged upgrade broke due to config changes (#77)
  .lintstagedrc
Due: none

chore: Add data-garden-container-* attributes
  packages/accordion/src/useAccordion.js
  packages/breadcrumb/src/useBreadcrumb.js
  packages/buttongroup/src/useButtonGroup.js
  packages/field/src/useField.js
  packages/focusjail/src/useFocusJail.js
  packages/keyboardfocus/src/useKeyboardFocus.js
  packages/modal/src/useModal.js
  packages/pagination/src/usePagination.js
  packages/selection/src/useSelection.js
  packages/tabs/src/useTabs.js
  packages/tooltip/src/useTooltip.js
  utils/build/webpack.commonjs.js
Due: eslint, prettier --write

chore(deps): update all development non-major dependencies
  package.json
  yarn.lock
Due: prettier-package-json --write

Set PACKAGE_VERSION as 'storybook' and remove special handling just for it
  .storybook/webpack.config.js
  packages/accordion/src/useAccordion.js
  packages/breadcrumb/src/useBreadcrumb.js
  packages/buttongroup/src/useButtonGroup.js
  packages/field/src/useField.js
  packages/focusjail/src/useFocusJail.js
  packages/keyboardfocus/src/useKeyboardFocus.js
  packages/modal/src/useModal.js
  packages/pagination/src/usePagination.js
  packages/selection/src/useSelection.js
  packages/tabs/src/useTabs.js
  packages/tooltip/src/useTooltip.js
Due: eslint, prettier --write

chore(deps): update dependency jest-dom to v4
  yarn.lock
Due: none

Migrate to new package
  package.json
  utils/test/jest.setup.js
  yarn.lock
Due: eslint, prettier --write, prettier-package-json --write

chore: Add data-garden-container-* attributes (#76)
  .storybook/webpack.config.js
  packages/accordion/src/useAccordion.js
  packages/breadcrumb/src/useBreadcrumb.js
  packages/buttongroup/src/useButtonGroup.js
  packages/field/src/useField.js
  packages/focusjail/src/useFocusJail.js
  packages/keyboardfocus/src/useKeyboardFocus.js
  packages/modal/src/useModal.js
  packages/pagination/src/usePagination.js
  packages/selection/src/useSelection.js
  packages/tabs/src/useTabs.js
  packages/tooltip/src/useTooltip.js
  utils/build/webpack.commonjs.js
Due: eslint, prettier --write

chore(release): publish
  packages/accordion/CHANGELOG.md
  packages/accordion/package.json
  packages/breadcrumb/CHANGELOG.md
  packages/breadcrumb/package.json
  packages/buttongroup/CHANGELOG.md
  packages/buttongroup/package.json
  packages/field/CHANGELOG.md
  packages/field/package.json
  packages/focusjail/CHANGELOG.md
  packages/focusjail/package.json
  packages/keyboardfocus/CHANGELOG.md
  packages/keyboardfocus/package.json
  packages/modal/CHANGELOG.md
  packages/modal/package.json
  packages/pagination/CHANGELOG.md
  packages/pagination/package.json
  packages/selection/CHANGELOG.md
  packages/selection/package.json
  packages/tabs/CHANGELOG.md
  packages/tabs/package.json
  packages/tooltip/CHANGELOG.md
  packages/tooltip/package.json
Due: prettier-package-json --write

fix: Duplicate dependencies listed in package.json
  package.json
  yarn.lock
Due: prettier-package-json --write

fix: Duplicate dependencies listed in package.json (#80)
  package.json
  yarn.lock
Due: prettier-package-json --write

fix(tooltip): don't pass in a ref as it's not actually needed
  packages/tooltip/README.md
  packages/tooltip/src/TooltipContainer.js
  packages/tooltip/src/TooltipContainer.spec.js
  packages/tooltip/src/useTooltip.js
Due: eslint, prettier --write

fix(tooltip): don't pass in a ref as it's not actually needed (#82)
  packages/tooltip/README.md
  packages/tooltip/src/TooltipContainer.js
  packages/tooltip/src/TooltipContainer.spec.js
  packages/tooltip/src/useTooltip.js
Due: eslint, prettier --write

chore(release): publish
  packages/tooltip/CHANGELOG.md
  packages/tooltip/package.json
Due: prettier-package-json --write

feat(focusvisible): introduce useFocusVisible hook and container
  README.md
  babel.config.js
  demo/index.html
  package.json
  packages/.template/src/ExampleContainer.spec.js
  packages/focusvisible/CHANGELOG.md
  packages/focusvisible/README.md
  packages/focusvisible/package.json
  packages/focusvisible/src/FocusVisibleContainer.js
  packages/focusvisible/src/FocusVisibleContainer.spec.js
  packages/focusvisible/src/index.js
  packages/focusvisible/src/index.spec.js
  packages/focusvisible/src/useFocusVisible.js
  packages/focusvisible/stories.js
  yarn.lock
Due: eslint, prettier --write, prettier-package-json --write

Address Ryans comments
  packages/focusvisible/src/FocusVisibleContainer.js
  packages/focusvisible/src/FocusVisibleContainer.spec.js
  packages/focusvisible/src/useFocusVisible.js
  packages/focusvisible/stories.js
Due: eslint, prettier --write

feat(focusvisible): introduce useFocusVisible hook and container (#84)
  README.md
  babel.config.js
  demo/index.html
  package.json
  packages/.template/src/ExampleContainer.spec.js
  packages/focusvisible/CHANGELOG.md
  packages/focusvisible/README.md
  packages/focusvisible/package.json
  packages/focusvisible/src/FocusVisibleContainer.js
  packages/focusvisible/src/FocusVisibleContainer.spec.js
  packages/focusvisible/src/index.js
  packages/focusvisible/src/index.spec.js
  packages/focusvisible/src/useFocusVisible.js
  packages/focusvisible/stories.js
  yarn.lock
Due: eslint, prettier --write, prettier-package-json --write

chore(release): publish
  packages/focusvisible/CHANGELOG.md
  packages/focusvisible/package.json
Due: prettier-package-json --write

fix(selection): Effect gets caught in infinite loop in test env
  packages/selection/src/useSelection.js
Due: eslint, prettier --write

Disable lint rule
  packages/selection/src/useSelection.js
Due: eslint, prettier --write

fix(selection): Effect gets caught in infinite loop in test env (#88)
  packages/selection/src/useSelection.js
Due: eslint, prettier --write

chore(release): publish
  packages/buttongroup/CHANGELOG.md
  packages/buttongroup/package.json
  packages/pagination/CHANGELOG.md
  packages/pagination/package.json
  packages/selection/CHANGELOG.md
  packages/selection/package.json
  packages/tabs/CHANGELOG.md
  packages/tabs/package.json
Due: prettier-package-json --write

backout eslint upgrade due to issue with for of bug
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency rimraf to v3
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency @testing-library/dom to v6
  package.json
  yarn.lock
Due: prettier-package-json --write

fix schedule tests race condition
  packages/schedule/src/ScheduleContainer.spec.js
Due: eslint, prettier --write

chore(deps): update dependency @testing-library/react to v9
  package.json
  yarn.lock
Due: prettier-package-json --write

Remove cleanup-after-each
  utils/test/jest.config.js
Due: eslint, prettier --write

chore: add bundle size badges
  README.md
Due: none

chore: add bundle size badges (#90)
  README.md
Due: none

Disable lint regression
  packages/utilities/src/utils/getControlledValue.js
Due: eslint, prettier --write

chore(deps): update dependency @zendeskgarden/eslint-config to v8
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency eslint-plugin-react-hooks to v2
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency inquirer to v7
  package.json
  yarn.lock
Due: prettier-package-json --write

Support passing in focusOnMount and environment for the useModal hook
  packages/modal/src/ModalContainer.js
  packages/modal/src/useModal.js
Due: eslint, prettier --write
