Repository zendeskgarden/react-containers: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, prettier-package-json --write

.lintstagedrc:

{
  "*.js": [
    "eslint",
    "prettier --write",
    "git add"
  ],
  "!(*CHANGELOG).md": [
    "markdownlint",
    "prettier --write",
    "git add"
  ],
  "**/package.json": [
    "prettier-package-json --write",
    "git add"
  ]
}

chore(renovate): refactor config (#380)
  .github/renovate.json
Due: none

fix: ignore console lint warning for deprecation warning
  packages/utilities/src/utils/useCombinedRefs.ts
Due: none

Replace useGrid to use GridContainer for better test coverage
  packages/grid/src/GridContainer.spec.tsx
Due: none

remove true value
  packages/grid/src/GridContainer.spec.tsx
Due: none

chore(utilities): deprecate use-combined-refs hook (#382)
  packages/utilities/.size-snapshot.json
  packages/utilities/src/utils/useCombinedRefs.ts
Due: none

chore(grid): replace useGrid to use GridContainer for better test coverage (#383)
  packages/grid/src/GridContainer.spec.tsx
Due: none

chore(release): publish
  packages/accordion/.size-snapshot.json
  packages/accordion/CHANGELOG.md
  packages/accordion/package.json
  packages/buttongroup/.size-snapshot.json
  packages/buttongroup/CHANGELOG.md
  packages/buttongroup/package.json
  packages/focusjail/.size-snapshot.json
  packages/focusjail/CHANGELOG.md
  packages/focusjail/package.json
  packages/grid/CHANGELOG.md
  packages/grid/package.json
  packages/keyboardfocus/.size-snapshot.json
  packages/keyboardfocus/CHANGELOG.md
  packages/keyboardfocus/package.json
  packages/modal/CHANGELOG.md
  packages/modal/package.json
  packages/pagination/CHANGELOG.md
  packages/pagination/package.json
  packages/selection/CHANGELOG.md
  packages/selection/package.json
  packages/tabs/CHANGELOG.md
  packages/tabs/package.json
  packages/tooltip/.size-snapshot.json
  packages/tooltip/CHANGELOG.md
  packages/tooltip/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
Due: prettier-package-json --write

Updates [skip ci]
  iframe.html
  main.1ca143a8.iframe.bundle.js
  main.86d3dced.iframe.bundle.js
Due: eslint, prettier --write

chore(deps): update non-major shared dependencies
  package.json
  yarn.lock
Due: prettier-package-json --write

Update snapshot
  packages/utilities/.size-snapshot.json
Due: none

Update lint-staged 11.2.3
  package.json
  yarn.lock
Due: prettier-package-json --write

run npx yarn-deduplicate
  yarn.lock
Due: none

chore(deps): update dependency @rollup/plugin-commonjs to v21
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency @types/webpack to v5
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency @zendeskgarden/eslint-config to v24
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(storybook): support ie11 with webpack 5
  .storybook/main.js
  .storybook/webpack.config.js
Due: eslint, prettier --write

fix(storybook): lint warning
  .storybook/main.js
Due: eslint, prettier --write

chore(storybook): add todo to remove ie11 specific config
  .storybook/main.js
  .storybook/webpack.config.js
Due: eslint, prettier --write

chore(storybook): support ie11 with webpack 5 (#393)
  .storybook/main.js
  .storybook/webpack.config.js
Due: eslint, prettier --write

Update eslint dependencies
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency eslint to v8
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency eslint-plugin-jest to v25
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update typescript-eslint monorepo to v5
  package.json
  yarn.lock
Due: prettier-package-json --write

Remove storybook eslint-loader
  .storybook/webpack.config.js
  package.json
  yarn.lock
Due: eslint, prettier --write, prettier-package-json --write

Updates [skip ci]
  iframe.html
  main.94baf218.iframe.bundle.js
  main.a78561e8.iframe.bundle.js
Due: eslint, prettier --write

yarn-deduplicate && skipLibCheck
  tsconfig.json
  yarn.lock
Due: none

Updates [skip ci]
  905.701d2457.iframe.bundle.js
  905.701d2457.iframe.bundle.js.LICENSE.txt
  905.89cd9bb1.iframe.bundle.js
  980.3a0a691338c78f82be05.manager.bundle.js
  980.9e33d3d3e404e99ee359.manager.bundle.js
  980.9e33d3d3e404e99ee359.manager.bundle.js.LICENSE.txt
  iframe.html
  index.html
Due: eslint, prettier --write

fix(splitter): no grow no shrink on sidepane
  packages/splitter/README.md
  packages/splitter/splitter.stories.tsx
Due: none

fix(splitter): collapse state down
  packages/splitter/.size-snapshot.json
  packages/splitter/splitter.stories.tsx
  packages/splitter/src/SplitterContainer.spec.tsx
  packages/splitter/src/useSplitter.ts
Due: none

fix(splitter): fix breaking updates to typescript
  packages/splitter/.size-snapshot.json
  packages/splitter/README.md
  packages/splitter/src/SplitterContainer.tsx
  packages/splitter/src/useSplitter.ts
Due: none

docs(splitter): getSplitterProps to getSeparatorProps
  packages/splitter/README.md
Due: none

fix(splitter): use react state only
  packages/splitter/.size-snapshot.json
  packages/splitter/README.md
  packages/splitter/splitter.stories.tsx
  packages/splitter/src/SplitterContainer.spec.tsx
  packages/splitter/src/SplitterContainer.tsx
  packages/splitter/src/useSplitter.ts
Due: none

fix(splitter): remove number type
  packages/splitter/splitter.stories.tsx
Due: none

fix(splitter): controls to primaryPaneId
  packages/splitter/.size-snapshot.json
  packages/splitter/README.md
  packages/splitter/splitter.stories.tsx
  packages/splitter/src/SplitterContainer.spec.tsx
  packages/splitter/src/SplitterContainer.tsx
  packages/splitter/src/useSplitter.ts
Due: none

feat(splitter): add rtl support
  packages/splitter/.size-snapshot.json
  packages/splitter/splitter.stories.tsx
  packages/splitter/src/SplitterContainer.spec.tsx
  packages/splitter/src/SplitterContainer.tsx
  packages/splitter/src/useSplitter.ts
Due: none

feat(splitter): add splitter
  README.md
  packages/splitter/.size-snapshot.json
  packages/splitter/CHANGELOG.md
  packages/splitter/README.md
  packages/splitter/package.json
  packages/splitter/splitter.stories.tsx
  packages/splitter/src/SplitterContainer.spec.tsx
  packages/splitter/src/SplitterContainer.tsx
  packages/splitter/src/index.ts
  packages/splitter/src/useSplitter.ts
  packages/splitter/tsconfig.build.json
  packages/splitter/yarn.lock
Due: prettier-package-json --write

fix(splitter): disable movement on mouse leaving document
  packages/splitter/.size-snapshot.json
  packages/splitter/src/SplitterContainer.spec.tsx
  packages/splitter/src/useSplitter.ts
Due: none
