Repository zendeskgarden/react-containers: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, prettier-package-json --write

.lintstagedrc:

{
  "*.js": [
    "eslint",
    "prettier --write",
    "git add"
  ],
  "!(*CHANGELOG).md": [
    "markdownlint",
    "prettier --write",
    "git add"
  ],
  "**/package.json": [
    "prettier-package-json --write",
    "git add"
  ]
}

fix(splitter): fix ie11 mouseleave using document.body
  packages/splitter/.size-snapshot.json
  packages/splitter/src/SplitterContainer.spec.tsx
  packages/splitter/src/SplitterContainer.tsx
  packages/splitter/src/useSplitter.ts
Due: none

feat(splitter): add splitter (#384)
  README.md
  packages/splitter/.size-snapshot.json
  packages/splitter/CHANGELOG.md
  packages/splitter/README.md
  packages/splitter/package.json
  packages/splitter/splitter.stories.tsx
  packages/splitter/src/SplitterContainer.spec.tsx
  packages/splitter/src/SplitterContainer.tsx
  packages/splitter/src/index.ts
  packages/splitter/src/useSplitter.ts
  packages/splitter/tsconfig.build.json
  packages/splitter/yarn.lock
Due: prettier-package-json --write

Updates [skip ci]
  577.6dc05916.iframe.bundle.js
  577.6dc05916.iframe.bundle.js.LICENSE.txt
  905.701d2457.iframe.bundle.js
  iframe.html
  main.4f113a92.iframe.bundle.js
  main.94baf218.iframe.bundle.js
Due: eslint, prettier --write

chore: update renovate configuration
  .github/renovate.json
Due: none

Update version script to keep lockfiles in sync
  package.json
  packages/accordion/yarn.lock
  packages/buttongroup/yarn.lock
  packages/focusjail/yarn.lock
  packages/keyboardfocus/yarn.lock
  packages/modal/yarn.lock
  packages/pagination/yarn.lock
  packages/selection/yarn.lock
  packages/tabs/yarn.lock
  packages/tooltip/yarn.lock
Due: prettier-package-json --write

chore: update renovate configuration (#395)
  .github/renovate.json
  package.json
  packages/accordion/yarn.lock
  packages/buttongroup/yarn.lock
  packages/focusjail/yarn.lock
  packages/keyboardfocus/yarn.lock
  packages/modal/yarn.lock
  packages/pagination/yarn.lock
  packages/selection/yarn.lock
  packages/tabs/yarn.lock
  packages/tooltip/yarn.lock
Due: prettier-package-json --write

Clean + build
  packages/accordion/yarn.lock
  packages/buttongroup/yarn.lock
  packages/focusjail/yarn.lock
  packages/keyboardfocus/yarn.lock
  packages/modal/yarn.lock
  packages/pagination/yarn.lock
  packages/selection/yarn.lock
  packages/splitter/yarn.lock
  packages/tabs/yarn.lock
  packages/tooltip/yarn.lock
Due: none

yarn lerna exec yarn install
  packages/accordion/yarn.lock
  packages/buttongroup/yarn.lock
  packages/focusjail/yarn.lock
  packages/keyboardfocus/yarn.lock
  packages/modal/yarn.lock
  packages/pagination/yarn.lock
  packages/selection/yarn.lock
  packages/splitter/yarn.lock
  packages/tabs/yarn.lock
  packages/tooltip/yarn.lock
Due: none

yarn lerna exec yarn upgrade
  packages/accordion/yarn.lock
  packages/breadcrumb/yarn.lock
  packages/buttongroup/yarn.lock
  packages/field/yarn.lock
  packages/focusjail/yarn.lock
  packages/focusvisible/yarn.lock
  packages/grid/yarn.lock
  packages/keyboardfocus/yarn.lock
  packages/modal/yarn.lock
  packages/pagination/yarn.lock
  packages/schedule/yarn.lock
  packages/scrollregion/yarn.lock
  packages/selection/yarn.lock
  packages/splitter/yarn.lock
  packages/tabs/yarn.lock
  packages/tooltip/yarn.lock
  packages/utilities/yarn.lock
Due: none

Clean up husky
  .husky/.gitignore
Due: none

Revert `version` script
  package.json
Due: prettier-package-json --write

fix: package lock files out of sync (#396)
  .husky/.gitignore
  package.json
  packages/accordion/yarn.lock
  packages/breadcrumb/yarn.lock
  packages/buttongroup/yarn.lock
  packages/field/yarn.lock
  packages/focusjail/yarn.lock
  packages/focusvisible/yarn.lock
  packages/grid/yarn.lock
  packages/keyboardfocus/yarn.lock
  packages/modal/yarn.lock
  packages/pagination/yarn.lock
  packages/schedule/yarn.lock
  packages/scrollregion/yarn.lock
  packages/selection/yarn.lock
  packages/splitter/yarn.lock
  packages/tabs/yarn.lock
  packages/tooltip/yarn.lock
  packages/utilities/yarn.lock
Due: prettier-package-json --write

Updates [skip ci]
  577.6dc05916.iframe.bundle.js
  927.265db1e5.iframe.bundle.js
  927.265db1e5.iframe.bundle.js.LICENSE.txt
  iframe.html
  main.1e6bac53.iframe.bundle.js
  main.4f113a92.iframe.bundle.js
Due: eslint, prettier --write

chore(release): publish
  packages/accordion/.size-snapshot.json
  packages/accordion/CHANGELOG.md
  packages/accordion/package.json
  packages/breadcrumb/.size-snapshot.json
  packages/breadcrumb/CHANGELOG.md
  packages/breadcrumb/package.json
  packages/buttongroup/.size-snapshot.json
  packages/buttongroup/CHANGELOG.md
  packages/buttongroup/package.json
  packages/field/CHANGELOG.md
  packages/field/package.json
  packages/focusjail/CHANGELOG.md
  packages/focusjail/package.json
  packages/focusvisible/CHANGELOG.md
  packages/focusvisible/package.json
  packages/grid/CHANGELOG.md
  packages/grid/package.json
  packages/keyboardfocus/CHANGELOG.md
  packages/keyboardfocus/package.json
  packages/modal/.size-snapshot.json
  packages/modal/CHANGELOG.md
  packages/modal/package.json
  packages/pagination/CHANGELOG.md
  packages/pagination/package.json
  packages/schedule/CHANGELOG.md
  packages/schedule/package.json
  packages/scrollregion/CHANGELOG.md
  packages/scrollregion/package.json
  packages/selection/.size-snapshot.json
  packages/selection/CHANGELOG.md
  packages/selection/package.json
  packages/splitter/.size-snapshot.json
  packages/splitter/CHANGELOG.md
  packages/splitter/package.json
  packages/tabs/CHANGELOG.md
  packages/tabs/package.json
  packages/tooltip/CHANGELOG.md
  packages/tooltip/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
Due: prettier-package-json --write

Updates [skip ci]
  iframe.html
  main.1e6bac53.iframe.bundle.js
  main.faa7fe40.iframe.bundle.js
Due: eslint, prettier --write

feat(accordion): add default expanded sections prop
  packages/accordion/.size-snapshot.json
  packages/accordion/src/AccordionContainer.spec.tsx
  packages/accordion/src/useAccordion.ts
Due: none

feat(accordion): add default expanded sections prop (#397)
  packages/accordion/.size-snapshot.json
  packages/accordion/src/AccordionContainer.spec.tsx
  packages/accordion/src/useAccordion.ts
Due: none

Updates [skip ci]
  iframe.html
  main.3ce0dd10.iframe.bundle.js
  main.faa7fe40.iframe.bundle.js
Due: eslint, prettier --write

chore(release): publish
  packages/accordion/.size-snapshot.json
  packages/accordion/CHANGELOG.md
  packages/accordion/package.json
Due: prettier-package-json --write

feat(utilities): Added new enums
  packages/utilities/.size-snapshot.json
  packages/utilities/src/index.ts
  packages/utilities/src/utils/ContainerOrientation.ts
  packages/utilities/src/utils/DocumentPosition.ts
  packages/utilities/src/utils/KEY_CODES.ts
Due: none

feat(utilities): Added new Keys enum
  packages/utilities/.size-snapshot.json
  packages/utilities/src/index.ts
  packages/utilities/src/utils/KeyboardEventValues.ts
Due: none

feat(utilities): add DocumentPosition, ContainerOrientation, and KEYS (#398)
  packages/utilities/.size-snapshot.json
  packages/utilities/src/index.ts
  packages/utilities/src/utils/ContainerOrientation.ts
  packages/utilities/src/utils/DocumentPosition.ts
  packages/utilities/src/utils/KeyboardEventValues.ts
Due: none

chore(release): publish
  packages/accordion/.size-snapshot.json
  packages/accordion/CHANGELOG.md
  packages/accordion/package.json
  packages/buttongroup/.size-snapshot.json
  packages/buttongroup/CHANGELOG.md
  packages/buttongroup/package.json
  packages/focusjail/.size-snapshot.json
  packages/focusjail/CHANGELOG.md
  packages/focusjail/package.json
  packages/keyboardfocus/CHANGELOG.md
  packages/keyboardfocus/package.json
  packages/modal/CHANGELOG.md
  packages/modal/package.json
  packages/pagination/.size-snapshot.json
  packages/pagination/CHANGELOG.md
  packages/pagination/package.json
  packages/selection/.size-snapshot.json
  packages/selection/CHANGELOG.md
  packages/selection/package.json
  packages/splitter/CHANGELOG.md
  packages/splitter/package.json
  packages/tabs/CHANGELOG.md
  packages/tabs/package.json
  packages/tooltip/.size-snapshot.json
  packages/tooltip/CHANGELOG.md
  packages/tooltip/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
Due: prettier-package-json --write

chore(deps): update dependency @zendeskgarden/eslint-config to v26
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency babel-plugin-styled-components to v2
  package.json
  yarn.lock
Due: prettier-package-json --write

Updates [skip ci]
  iframe.html
  main.3ce0dd10.iframe.bundle.js
  main.459a5e4c.iframe.bundle.js
Due: eslint, prettier --write

Updates [skip ci]
  iframe.html
  main.459a5e4c.iframe.bundle.js
  main.e2f52b9d.iframe.bundle.js
Due: eslint, prettier --write

chore: update eslint-plugin-react
  package.json
  yarn.lock
Due: prettier-package-json --write

Updates [skip ci]
  927.265db1e5.iframe.bundle.js
  927.c1247e1d.iframe.bundle.js
  927.c1247e1d.iframe.bundle.js.LICENSE.txt
  980.106f6cbadec2d5a43234.manager.bundle.js
  980.106f6cbadec2d5a43234.manager.bundle.js.LICENSE.txt
  980.9e33d3d3e404e99ee359.manager.bundle.js
  iframe.html
  index.html
  main.459a5e4c.iframe.bundle.js
  main.e2f52b9d.iframe.bundle.js
Due: eslint, prettier --write

chore(deps): update dependency execa to v6
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency lint-staged to v12
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency ts-loader to v9
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update non-major shared dependencies
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update storybook to 6.4.8
  yarn.lock
Due: none

fix(comment): remove commented height
  packages/splitter/src/SplitterContainer.spec.tsx
Due: none

fix(splitter): make get primary pane props compatible with html element
  packages/splitter/.size-snapshot.json
  packages/splitter/README.md
  packages/splitter/splitter.stories.tsx
  packages/splitter/src/SplitterContainer.spec.tsx
  packages/splitter/src/useSplitter.ts
Due: none

docs(readme): revise splitter return signature
  packages/splitter/README.md
Due: none

chore(splitter): clarify splitter getter return interface
  packages/splitter/src/useSplitter.ts
Due: none
