Repository zendeskgarden/react-containers: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "eslint --max-warnings 0",
    "jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests",
    "prettier --write"
  ],
  "!(*CHANGELOG).md": [
    "markdownlint",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

Fill out combobox actions
  packages/combobox/demo/combobox.stories.mdx
  packages/combobox/demo/stories/ComboboxStory.tsx
  packages/combobox/src/ComboboxContainer.tsx
  packages/combobox/src/types.ts
  packages/combobox/src/useCombobox.ts
  packages/combobox/src/utils.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Fill out prop set and move custom functionality to stateReducer
  packages/combobox/.size-snapshot.json
  packages/combobox/src/ComboboxContainer.tsx
  packages/combobox/src/types.ts
  packages/combobox/src/useCombobox.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore(renovate): add postUpdateOptions to config
  .github/renovate.json
Due: none

chore(renovate): add postUpdateOptions to config (#509)
  .github/renovate.json
Due: none

Updates [skip ci]
  project.json
Due: none

chore: turn of nx
  lerna.json
Due: none

Updates [skip ci]
  iframe.html
  main.36fae23a.iframe.bundle.js
  main.39437ec8.iframe.bundle.js
  project.json
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Fill in prop documentation
  packages/combobox/src/types.ts
  packages/combobox/src/useCombobox.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Update downshift and fix controlled storybook rerender
  packages/combobox/demo/stories/ComboboxStory.tsx
  packages/combobox/package.json
  packages/combobox/src/ComboboxContainer.tsx
  packages/combobox/yarn.lock
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

Add autocomplete functionality
  packages/combobox/demo/combobox.stories.mdx
  packages/combobox/demo/stories/ComboboxStory.tsx
  packages/combobox/src/ComboboxContainer.tsx
  packages/combobox/src/types.ts
  packages/combobox/src/useCombobox.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Add `disabled` prop
  packages/combobox/demo/stories/ComboboxStory.tsx
  packages/combobox/src/ComboboxContainer.tsx
  packages/combobox/src/types.ts
  packages/combobox/src/useCombobox.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Reshape option value data to simplify API usage
  packages/combobox/demo/combobox.stories.mdx
  packages/combobox/demo/stories/ComboboxStory.tsx
  packages/combobox/demo/stories/data.ts
  packages/combobox/src/ComboboxContainer.tsx
  packages/combobox/src/types.ts
  packages/combobox/src/useCombobox.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Reshape options to handle initial selection
  packages/combobox/demo/stories/ComboboxStory.tsx
  packages/combobox/src/ComboboxContainer.tsx
  packages/combobox/src/types.ts
  packages/combobox/src/useCombobox.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Stash story while evaluating a selection return update
  packages/combobox/demo/stories/ComboboxStory.tsx
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Replace flat `selectionValue` with structured `selection` return value
  packages/combobox/demo/stories/ComboboxStory.tsx
  packages/combobox/src/types.ts
  packages/combobox/src/useCombobox.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Remove state setters (re-add as needed)
  packages/combobox/src/types.ts
  packages/combobox/src/useCombobox.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Eliminate multiple specific handlers in favor of combined `onChange` handler
  packages/combobox/demo/combobox.stories.mdx
  packages/combobox/src/ComboboxContainer.tsx
  packages/combobox/src/types.ts
  packages/combobox/src/useCombobox.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Simplify `onChange` usage
  packages/combobox/demo/combobox.stories.mdx
  packages/combobox/src/useCombobox.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Initial test spec setup
  packages/combobox/.size-snapshot.json
  packages/combobox/src/ComboboxContainer.spec.tsx
  packages/combobox/src/useCombobox.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Unit testing checkpoint
  packages/combobox/.size-snapshot.json
  packages/combobox/src/ComboboxContainer.spec.tsx
  packages/combobox/src/useCombobox.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Add autocomplete behavior
  packages/combobox/demo/stories/ComboboxStory.tsx
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Test ignore
  packages/combobox/src/utils.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Handle autocomplete selection override
  packages/combobox/.size-snapshot.json
  packages/combobox/demo/stories/ComboboxStory.tsx
  packages/combobox/src/useCombobox.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Fix value initialization
  packages/combobox/.size-snapshot.json
  packages/combobox/src/useCombobox.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Fix disabled values population
  packages/combobox/.size-snapshot.json
  packages/combobox/src/useCombobox.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Remove `openChangeType` state and add `aria-multiselectable`
  packages/combobox/.size-snapshot.json
  packages/combobox/src/useCombobox.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Fill out test coverage
  packages/combobox/src/ComboboxContainer.spec.tsx
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Add unrelated focus test
  packages/combobox/src/ComboboxContainer.spec.tsx
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Refactor field type interfaces
  packages/field/package.json
  packages/field/src/FieldContainer.tsx
  packages/field/src/index.ts
  packages/field/src/types.ts
  packages/field/src/useField.ts
  packages/field/yarn.lock
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

Update field story with new type information
  packages/field/demo/field.stories.mdx
  packages/field/demo/stories/FieldStory.tsx
  packages/field/src/types.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Fix FieldContainer unit tests
  packages/field/.size-snapshot.json
  packages/field/src/FieldContainer.spec.tsx
  packages/field/src/useField.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Add field prop getters
  packages/combobox/demo/stories/ComboboxStory.tsx
  packages/combobox/src/ComboboxContainer.tsx
  packages/combobox/src/types.ts
  packages/combobox/src/useCombobox.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Add label/hint/message test
  packages/combobox/.size-snapshot.json
  packages/combobox/src/ComboboxContainer.spec.tsx
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Initial types extraction
  packages/grid/src/GridContainer.tsx
  packages/grid/src/index.ts
  packages/grid/src/types.ts
  packages/grid/src/useGrid.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

fix!(field): refactored interface types for enhanced accessibility (#516)
  packages/field/.size-snapshot.json
  packages/field/demo/field.stories.mdx
  packages/field/demo/stories/FieldStory.tsx
  packages/field/package.json
  packages/field/src/FieldContainer.spec.tsx
  packages/field/src/FieldContainer.tsx
  packages/field/src/index.ts
  packages/field/src/types.ts
  packages/field/src/useField.ts
  packages/field/yarn.lock
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write
