Repository zendeskgarden/react-containers: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "eslint --max-warnings 0",
    "jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests",
    "prettier --write"
  ],
  "!(*CHANGELOG).md": [
    "markdownlint",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

Remove unsupported `defaultProps` and fix tests for React 19
  packages/accordion/src/AccordionContainer.tsx
  packages/combobox/src/ComboboxContainer.spec.tsx
  packages/schedule/src/ScheduleContainer.tsx
  packages/selection/src/SelectionContainer.tsx
  packages/slider/src/SliderContainer.tsx
  packages/slider/src/useSlider.ts
  packages/splitter/src/SplitterContainer.tsx
  packages/tabs/src/TabsContainer.tsx
  packages/tooltip/src/TooltipContainer.tsx
  packages/utilities/src/utils/useId.spec.tsx
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Start to resolve React 19 issues
  packages/focusvisible/src/FocusVisibleContainer.tsx
  packages/focusvisible/src/useFocusVisible.ts
  packages/menu/src/MenuContainer.tsx
  packages/modal/src/ModalContainer.tsx
  packages/modal/src/useModal.ts
  packages/tooltip/src/useTooltip.ts
  tsconfig.json
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore(modals): add `onClose` storybook action reporting
  package-lock.json
  package.json
  packages/modal/demo/modal.stories.tsx
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

chore(modals): add `onClose` storybook action reporting (#713)
  package-lock.json
  package.json
  packages/modal/demo/modal.stories.tsx
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

Updates [skip ci]
  2918.2acaea5e.iframe.bundle.js
  2918.2acaea5e.iframe.bundle.js.LICENSE.txt
  2918.2acaea5e.iframe.bundle.js.map
  6880.920ba287.iframe.bundle.js
  8841.b559c8fc.iframe.bundle.js
  8841.b559c8fc.iframe.bundle.js.LICENSE.txt
  9507.e4263189.iframe.bundle.js
  9507.e4263189.iframe.bundle.js.map
  iframe.html
  main.8aaed8f6.iframe.bundle.js
  main.b745bb31.iframe.bundle.js
  modal-demo-modal-mdx.7856ef22.iframe.bundle.js
  modal-demo-modal-mdx.c15b376e.iframe.bundle.js
  modal-demo-modal-stories.60ff0f85.iframe.bundle.js
  modal-demo-modal-stories.e5c2d912.iframe.bundle.js
  modal-demo-modal-stories.e5c2d912.iframe.bundle.js.LICENSE.txt
  project.json
  runtime~main.09c660a4.iframe.bundle.js
  runtime~main.fa54c5d2.iframe.bundle.js
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

fix(modal): ensure interaction within modal does not invoke close on blur
  packages/modal/src/ModalContainer.spec.tsx
  packages/modal/src/useModal.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Temporarily bypass bandwidth check
  utils/scripts/deploy.mjs
Due: none

Revert previous
  utils/scripts/deploy.mjs
Due: none

fix(modal): ensure interaction within modal does not invoke close on blur (#714)
  packages/modal/src/ModalContainer.spec.tsx
  packages/modal/src/useModal.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Updates [skip ci]
  6880.920ba287.iframe.bundle.js
  6880.ea0998a4.iframe.bundle.js
  iframe.html
  project.json
  runtime~main.09c660a4.iframe.bundle.js
  runtime~main.a1986008.iframe.bundle.js
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore(release): publish
  package-lock.json
  packages/accordion/CHANGELOG.md
  packages/accordion/package.json
  packages/combobox/CHANGELOG.md
  packages/combobox/package.json
  packages/field/CHANGELOG.md
  packages/field/package.json
  packages/focusjail/CHANGELOG.md
  packages/focusjail/package.json
  packages/grid/CHANGELOG.md
  packages/grid/package.json
  packages/menu/CHANGELOG.md
  packages/menu/package.json
  packages/modal/CHANGELOG.md
  packages/modal/package.json
  packages/scrollregion/CHANGELOG.md
  packages/scrollregion/package.json
  packages/selection/CHANGELOG.md
  packages/selection/package.json
  packages/slider/CHANGELOG.md
  packages/slider/package.json
  packages/splitter/CHANGELOG.md
  packages/splitter/package.json
  packages/tabs/CHANGELOG.md
  packages/tabs/package.json
  packages/tooltip/CHANGELOG.md
  packages/tooltip/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
Due: prettier-package-json --write

Updates [skip ci]
  iframe.html
  main.8aaed8f6.iframe.bundle.js
  main.bc20faf7.iframe.bundle.js
  project.json
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

fix(tooltip): only open on explicit focus
  packages/tooltip/src/TooltipContainer.spec.tsx
  packages/tooltip/src/useTooltip.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Fix deploy
  package.json
Due: prettier-package-json --write

Update package lock
  package-lock.json
Due: none

Add clarifying comment
  packages/tooltip/src/TooltipContainer.spec.tsx
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

fix(tooltip): only open on explicit focus (#715)
  package-lock.json
  package.json
  packages/tooltip/src/TooltipContainer.spec.tsx
  packages/tooltip/src/useTooltip.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

Updates [skip ci]
  3104.94173730.iframe.bundle.js
  3104.fa1401cd.iframe.bundle.js
  3104.fa1401cd.iframe.bundle.js.LICENSE.txt
  4986.5bc96b39.iframe.bundle.js
  5961.c878f3e0.iframe.bundle.js
  5961.c878f3e0.iframe.bundle.js.LICENSE.txt
  5961.cb34994d.iframe.bundle.js
  723.a6b1a68b.iframe.bundle.js
  723.a6b1a68b.iframe.bundle.js.LICENSE.txt
  723.d2788369.iframe.bundle.js
  8342.24b25cd8.iframe.bundle.js
  8342.24b25cd8.iframe.bundle.js.LICENSE.txt
  iframe.html
  main.bc20faf7.iframe.bundle.js
  main.ed59fb93.iframe.bundle.js
  project.json
  runtime~main.a1986008.iframe.bundle.js
  runtime~main.fe375d84.iframe.bundle.js
  tooltip-demo-patterns-patterns-mdx.3c132419.iframe.bundle.js
  tooltip-demo-patterns-patterns-mdx.d7e47a9f.iframe.bundle.js
  tooltip-demo-patterns-patterns-mdx.d7e47a9f.iframe.bundle.js.LICENSE.txt
  tooltip-demo-patterns-patterns-stories.5e7aa01c.iframe.bundle.js
  tooltip-demo-patterns-patterns-stories.7eca6506.iframe.bundle.js
  tooltip-demo-patterns-patterns-stories.7eca6506.iframe.bundle.js.LICENSE.txt
  tooltip-demo-tooltip-mdx.b07b52a4.iframe.bundle.js
  tooltip-demo-tooltip-mdx.c01654d8.iframe.bundle.js
  tooltip-demo-tooltip-stories.61d62a45.iframe.bundle.js
  tooltip-demo-tooltip-stories.61d62a45.iframe.bundle.js.LICENSE.txt
  tooltip-demo-tooltip-stories.c6c8989f.iframe.bundle.js
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore(release): publish
  package-lock.json
  packages/tooltip/CHANGELOG.md
  packages/tooltip/package.json
Due: prettier-package-json --write

Updates [skip ci]
  project.json
Due: none

fix(modal): prevent double `onClose` event on backdrop click
  packages/modal/src/ModalContainer.spec.tsx
  packages/modal/src/useModal.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Coordinate backdrop and modal event handlers
  packages/modal/src/useModal.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

fix(modal): prevent double `onClose` event on backdrop click (#717)
  packages/modal/src/ModalContainer.spec.tsx
  packages/modal/src/useModal.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Updates [skip ci]
  6880.ae0518c2.iframe.bundle.js
  6880.ea0998a4.iframe.bundle.js
  iframe.html
  main.38afd40d.iframe.bundle.js
  main.ed59fb93.iframe.bundle.js
  project.json
  runtime~main.0305ac90.iframe.bundle.js
  runtime~main.fe375d84.iframe.bundle.js
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore(release): publish
  package-lock.json
  packages/modal/CHANGELOG.md
  packages/modal/package.json
Due: prettier-package-json --write

Updates [skip ci]
  iframe.html
  main.38afd40d.iframe.bundle.js
  main.ae1660fc.iframe.bundle.js
  project.json
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

feat(tooltip): add `isLabel` prop
  packages/tooltip/src/TooltipContainer.tsx
  packages/tooltip/src/types.ts
  packages/tooltip/src/useTooltip.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Add unit test
  packages/tooltip/src/TooltipContainer.spec.tsx
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Use accessible trigger
  packages/tooltip/demo/stories/TooltipStory.tsx
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

feat(tooltip): add `isLabel` prop (#718)
  packages/tooltip/demo/stories/TooltipStory.tsx
  packages/tooltip/src/TooltipContainer.spec.tsx
  packages/tooltip/src/TooltipContainer.tsx
  packages/tooltip/src/types.ts
  packages/tooltip/src/useTooltip.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Updates [skip ci]
  iframe.html
  main.92c5d7bd.iframe.bundle.js
  main.ae1660fc.iframe.bundle.js
  project.json
  runtime~main.0305ac90.iframe.bundle.js
  runtime~main.61667690.iframe.bundle.js
  tooltip-demo-patterns-patterns-mdx.d7e47a9f.iframe.bundle.js
  tooltip-demo-patterns-patterns-mdx.e58656f1.iframe.bundle.js
  tooltip-demo-patterns-patterns-mdx.e58656f1.iframe.bundle.js.LICENSE.txt
  tooltip-demo-patterns-patterns-stories.7eca6506.iframe.bundle.js
  tooltip-demo-patterns-patterns-stories.83dc4958.iframe.bundle.js
  tooltip-demo-patterns-patterns-stories.83dc4958.iframe.bundle.js.LICENSE.txt
  tooltip-demo-tooltip-mdx.891847e8.iframe.bundle.js
  tooltip-demo-tooltip-mdx.b07b52a4.iframe.bundle.js
  tooltip-demo-tooltip-stories.0154b497.iframe.bundle.js
  tooltip-demo-tooltip-stories.0154b497.iframe.bundle.js.LICENSE.txt
  tooltip-demo-tooltip-stories.61d62a45.iframe.bundle.js
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

feat(menu)!: allow users to specify both window and document env
  packages/menu/src/MenuContainer.spec.tsx
  packages/menu/src/MenuContainer.tsx
  packages/menu/src/types.ts
  packages/menu/src/useMenu.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

feat(menu)!: allow users to specify both window and document env (#720)
  packages/menu/src/MenuContainer.spec.tsx
  packages/menu/src/MenuContainer.tsx
  packages/menu/src/types.ts
  packages/menu/src/useMenu.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Updates [skip ci]
  4542.12d4543f.iframe.bundle.js
  4542.f7088246.iframe.bundle.js
  5343.b3fe26eb.iframe.bundle.js
  5343.d81fcf49.iframe.bundle.js
  iframe.html
  main.7a5f7ea6.iframe.bundle.js
  main.92c5d7bd.iframe.bundle.js
  project.json
  runtime~main.29c9fbc5.iframe.bundle.js
  runtime~main.61667690.iframe.bundle.js
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore(release): publish
  package-lock.json
  packages/menu/CHANGELOG.md
  packages/menu/package.json
  packages/tooltip/CHANGELOG.md
  packages/tooltip/package.json
Due: prettier-package-json --write

Updates [skip ci]
  iframe.html
  main.7a5f7ea6.iframe.bundle.js
  main.f6c5384b.iframe.bundle.js
  project.json
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Updates [skip ci]
  iframe.html
  main.92c5d7bd.iframe.bundle.js
  main.f6c5384b.iframe.bundle.js
  project.json
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write
