Repository zendeskgarden/react-containers: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, prettier-package-json --write

fix(focusvisible): allow server side rendering (#163)
  packages/focusvisible/.size-snapshot.json
  packages/focusvisible/src/useFocusVisible.ts
Due: none

chore(release): publish
  packages/focusvisible/CHANGELOG.md
  packages/focusvisible/package.json
Due: prettier-package-json --write

chore(deps): update non-major shared dependencies
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update non-major shared dependencies (#165)
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency @types/styled-components to v5
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency @types/styled-components to v5 (#166)
  package.json
  yarn.lock
Due: prettier-package-json --write

New year
  README.md
Due: none

Simplify scripts
  package.json
Due: prettier-package-json --write

Add initial circle config with gh-pages deploy
  .circleci/config.yml
  utils/scripts/gh-pages.js
Due: eslint, prettier --write

Test deploy
  .circleci/config.yml
Due: none

Restore deploy filter
  .circleci/config.yml
Due: none

Update badges
  README.md
Due: none

Remove travis
  .travis.yml
Due: none

Update CI badge
  README.md
Due: none

Update package npm badges
  packages/.template/README.md
  packages/accordion/README.md
  packages/breadcrumb/README.md
  packages/buttongroup/README.md
  packages/field/README.md
  packages/focusjail/README.md
  packages/focusvisible/README.md
  packages/keyboardfocus/README.md
  packages/modal/README.md
  packages/pagination/README.md
  packages/schedule/README.md
  packages/selection/README.md
  packages/tabs/README.md
  packages/tooltip/README.md
  packages/utilities/README.md
Due: none

Always attempt `publish` on master branch
  .circleci/config.yml
Due: none

chore: update to use CircleCI (#167)
  .circleci/config.yml
  .travis.yml
  README.md
  package.json
  packages/.template/README.md
  packages/accordion/README.md
  packages/breadcrumb/README.md
  packages/buttongroup/README.md
  packages/field/README.md
  packages/focusjail/README.md
  packages/focusvisible/README.md
  packages/keyboardfocus/README.md
  packages/modal/README.md
  packages/pagination/README.md
  packages/schedule/README.md
  packages/selection/README.md
  packages/tabs/README.md
  packages/tooltip/README.md
  packages/utilities/README.md
  utils/scripts/gh-pages.js
Due: eslint, prettier --write, prettier-package-json --write

Reduce concurrency to prevent circle kill signal
  .circleci/config.yml
Due: none

Restore coveralls reporting
  .circleci/config.yml
Due: none

Conditionally run coveralls
  .circleci/config.yml
Due: none

Force true even if coveralls does not execute
  .circleci/config.yml
Due: none

chore: optimize CircleCI config (#168)
  .circleci/config.yml
Due: none

Remove tag filters from workflow
  .circleci/config.yml
Due: none

chore: clean up CircleCI config (#169)
  .circleci/config.yml
Due: none

Add gh-pages commit user and skip CI message
  utils/scripts/gh-pages.js
Due: eslint, prettier --write

Test coverage deploy
  .circleci/config.yml
Due: none

Restore master branch filter
  .circleci/config.yml
Due: none

chore: update gh-pages deploy config (#170)
  .circleci/config.yml
  utils/scripts/gh-pages.js
Due: eslint, prettier --write

Update so that script commands can receive parameters
  package.json
Due: prettier-package-json --write

Run CI versions of formatting commands
  .circleci/config.yml
Due: none

chore: update `format` commands for CI check (#172)
  .circleci/config.yml
  package.json
Due: prettier-package-json --write

fix(utils): add typing to getControlledValue
  packages/accordion/src/useAccordion.ts
  packages/utilities/src/utils/getControlledValue.ts
Due: none

Consolidate format:all for CI
  .circleci/config.yml
  package.json
Due: prettier-package-json --write

Remove dir:
  .circleci/config.yml
Due: none

Path conditions:
  eslint: any of: *.js
  prettier --write: any of: *.js
  prettier-package-json --write: any of: **/package.json
