Repository zendeskgarden/react-containers: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, prettier-package-json --write

Fix "demo" path
  utils/scripts/deploy.js
Due: eslint, prettier --write

Bump @zendeskgarden/scripts version
  package.json
  yarn.lock
Due: prettier-package-json --write

chore: enhanced deployment workflow (#185)
  .circleci/config.yml
  .gitignore
  package.json
  utils/scripts/deploy.js
  utils/scripts/gh-pages.js
  utils/scripts/new.js
  yarn.lock
Due: eslint, prettier --write, prettier-package-json --write

chore(deps): update non-major shared dependencies
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency chalk to v4
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency eslint-loader to v4
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency rollup-plugin-license to v2
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency ts-loader to v7
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update node orb to v2
  .circleci/config.yml
Due: none

Update selection snapshot
  packages/selection/.size-snapshot.json
Due: none

Update deploy context
  .circleci/config.yml
Due: none

Improve deploy error handling
  package.json
  utils/scripts/deploy.js
  yarn.lock
Due: eslint, prettier --write, prettier-package-json --write

chore: deploy context and error reporting (#193)
  .circleci/config.yml
  package.json
  utils/scripts/deploy.js
  yarn.lock
Due: eslint, prettier --write, prettier-package-json --write

TEST Github action
  .github/workflows/blank.yml
Due: none

fix(schedule): cleanup all animation frames on removal
  packages/schedule/.size-snapshot.json
  packages/schedule/src/useSchedule.ts
Due: none

fix(schedule): cleanup all animation frames on removal (#196)
  packages/schedule/.size-snapshot.json
  packages/schedule/src/useSchedule.ts
Due: none

chore(release): publish
  packages/buttongroup/.size-snapshot.json
  packages/buttongroup/CHANGELOG.md
  packages/buttongroup/package.json
  packages/pagination/CHANGELOG.md
  packages/pagination/package.json
  packages/schedule/CHANGELOG.md
  packages/schedule/package.json
  packages/selection/.size-snapshot.json
  packages/selection/CHANGELOG.md
  packages/selection/package.json
  packages/tabs/.size-snapshot.json
  packages/tabs/CHANGELOG.md
  packages/tabs/package.json
Due: prettier-package-json --write

fix(schedule): add additional cleanup check for useSchedule
  packages/schedule/.size-snapshot.json
  packages/schedule/src/useSchedule.ts
Due: none

fix(schedule): add additional cleanup check for useSchedule (#197)
  packages/schedule/.size-snapshot.json
  packages/schedule/src/useSchedule.ts
Due: none

chore(release): publish
  packages/schedule/CHANGELOG.md
  packages/schedule/package.json
Due: prettier-package-json --write

chore(deps): update dependency eslint to v7
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency @zendeskgarden/eslint-config to v13
  package.json
  yarn.lock
Due: prettier-package-json --write

Fix linting
  package.json
  utils/test/jest.config.js
  yarn.lock
Due: eslint, prettier --write, prettier-package-json --write

Update snapshots
  packages/accordion/.size-snapshot.json
  packages/breadcrumb/.size-snapshot.json
  packages/buttongroup/.size-snapshot.json
  packages/field/.size-snapshot.json
  packages/focusjail/.size-snapshot.json
  packages/focusvisible/.size-snapshot.json
  packages/keyboardfocus/.size-snapshot.json
  packages/modal/.size-snapshot.json
  packages/pagination/.size-snapshot.json
  packages/schedule/.size-snapshot.json
  packages/selection/.size-snapshot.json
  packages/tabs/.size-snapshot.json
  packages/tooltip/.size-snapshot.json
  packages/utilities/.size-snapshot.json
Due: none

Path conditions:
  eslint: any of: *.js
  prettier --write: any of: *.js
  prettier-package-json --write: any of: **/package.json
