Repository zendeskgarden/react-containers: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

chore(release): publish
  packages/combobox/.size-snapshot.json
  packages/combobox/CHANGELOG.md
  packages/combobox/package.json
  packages/menu/CHANGELOG.md
  packages/menu/package.json
Due: prettier-package-json --write

Updates [skip ci]
  project.json
Due: none

chore: fix modal readme entry typo; remove david-dm badges
  README.md
Due: none

chore: fix modal readme entry typo; remove david-dm badges (#586)
  README.md
Due: none

feat(menu): enables initial selected items
  packages/menu/.size-snapshot.json
  packages/menu/demo/stories/MenuStory.tsx
  packages/menu/demo/stories/data.ts
  packages/menu/src/MenuContainer.spec.tsx
  packages/menu/src/types.ts
  packages/menu/src/useMenu.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

feat(menu): enables initial selected items (#587)
  packages/menu/.size-snapshot.json
  packages/menu/demo/stories/MenuStory.tsx
  packages/menu/demo/stories/data.ts
  packages/menu/src/MenuContainer.spec.tsx
  packages/menu/src/types.ts
  packages/menu/src/useMenu.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Updates [skip ci]
  8.59f1d92c.iframe.bundle.js
  8.59f1d92c.iframe.bundle.js.LICENSE.txt
  8.e5b449b3.iframe.bundle.js
  iframe.html
  menu-demo-menu-stories-mdx.e1a92ae1.iframe.bundle.js
  menu-demo-menu-stories-mdx.fb901d28.iframe.bundle.js
  project.json
  runtime~main.8d12aef1.iframe.bundle.js
  runtime~main.90af8fd3.iframe.bundle.js
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore(release): publish
  packages/menu/.size-snapshot.json
  packages/menu/CHANGELOG.md
  packages/menu/package.json
Due: prettier-package-json --write

fix(combobox): handle IME via input `onChange` override
  packages/combobox/.size-snapshot.json
  packages/combobox/src/ComboboxContainer.spec.tsx
  packages/combobox/src/useCombobox.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Add supporting pattern demo
  packages/combobox/demo/~patterns/patterns.stories.mdx
  packages/combobox/demo/~patterns/stories/IMEStory.tsx
  packages/combobox/demo/~patterns/stories/data.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Story styling tweak
  packages/combobox/demo/~patterns/stories/IMEStory.tsx
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

fix(combobox): handle IME via controlled input `onChange` override (#588)
  packages/combobox/.size-snapshot.json
  packages/combobox/demo/~patterns/patterns.stories.mdx
  packages/combobox/demo/~patterns/stories/IMEStory.tsx
  packages/combobox/demo/~patterns/stories/data.ts
  packages/combobox/src/ComboboxContainer.spec.tsx
  packages/combobox/src/useCombobox.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Updates [skip ci]
  435.5c5188d5.iframe.bundle.js
  combobox-demo-combobox-stories-mdx.06cef39c.iframe.bundle.js
  combobox-demo-combobox-stories-mdx.373d1a40.iframe.bundle.js
  combobox-demo-patterns-patterns-stories-mdx.d1376ddb.iframe.bundle.js
  iframe.html
  index.json
  main.3b713da7.iframe.bundle.js
  main.eee41e6d.iframe.bundle.js
  project.json
  runtime~main.38fa86f5.iframe.bundle.js
  runtime~main.8d12aef1.iframe.bundle.js
  stories.json
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore(release): publish
  packages/combobox/CHANGELOG.md
  packages/combobox/package.json
Due: prettier-package-json --write

Updates [skip ci]
  445.332b2c4d.iframe.bundle.js
  445.4579d9cb.iframe.bundle.js
  445.4579d9cb.iframe.bundle.js.LICENSE.txt
  iframe.html
  project.json
  runtime~main.77cc5c01.iframe.bundle.js
  runtime~main.9fe29f7b.iframe.bundle.js
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Updates [skip ci]
  iframe.html
  menu-demo-menu-stories-mdx.49593044.iframe.bundle.js
  menu-demo-menu-stories-mdx.e1a92ae1.iframe.bundle.js
  project.json
  runtime~main.9fe29f7b.iframe.bundle.js
  runtime~main.e6a491dc.iframe.bundle.js
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Fix React 18 types
  packages/accordion/.size-snapshot.json
  packages/accordion/src/useAccordion.ts
  packages/breadcrumb/demo/stories/BreadcrumbStory.tsx
  packages/combobox/src/ComboboxContainer.spec.tsx
  packages/combobox/src/useCombobox.ts
  packages/focusjail/.size-snapshot.json
  packages/focusjail/src/useFocusJail.ts
  packages/grid/demo/stories/GridStory.tsx
  packages/grid/src/GridContainer.spec.tsx
  packages/menu/src/MenuContainer.spec.tsx
  packages/menu/src/useMenu.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Update tests for React 18
  package.json
  packages/focusjail/.size-snapshot.json
  packages/focusjail/src/useFocusJail.ts
  packages/menu/src/MenuContainer.spec.tsx
  packages/tooltip/src/TooltipContainer.spec.tsx
  packages/utilities/src/utils/useId.spec.tsx
  utils/test/jest.setup.js
  yarn.lock
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

fix(menu): removes document event listeners when menu closes + fixes trigger expansion attributes
  packages/menu/.size-snapshot.json
  packages/menu/src/MenuContainer.spec.tsx
  packages/menu/src/useMenu.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

fix(menu): removes document event listeners when menu closes + fixes trigger expansion attributes (#602)
  packages/menu/.size-snapshot.json
  packages/menu/src/MenuContainer.spec.tsx
  packages/menu/src/useMenu.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Updates [skip ci]
  8.128c784d.iframe.bundle.js
  8.128c784d.iframe.bundle.js.LICENSE.txt
  8.c40cc32d.iframe.bundle.js
  iframe.html
  project.json
  runtime~main.bf57048e.iframe.bundle.js
  runtime~main.e6a491dc.iframe.bundle.js
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Updates [skip ci]
  iframe.html
  menu-demo-menu-stories-mdx.49593044.iframe.bundle.js
  menu-demo-menu-stories-mdx.e1a92ae1.iframe.bundle.js
  project.json
  runtime~main.4348bc9c.iframe.bundle.js
  runtime~main.bf57048e.iframe.bundle.js
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Update from `main`
  packages/menu/src/MenuContainer.spec.tsx
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

fix(menu): ensures most recent selected item is last in change handler selectedItems arg
  packages/menu/.size-snapshot.json
  packages/menu/src/useMenu.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Convert from `yarn` to `npm`
  .circleci/config.yml
  .github/CONTRIBUTING.md
  .github/DEVELOPMENT.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/renovate.json
  .gitignore
  .husky/pre-commit
  .npmrc
  lerna.json
  package.json
  packages/.template/yarn.lock
  packages/accordion/yarn.lock
  packages/breadcrumb/yarn.lock
  packages/combobox/yarn.lock
  packages/field/yarn.lock
  packages/focusjail/yarn.lock
  packages/focusvisible/yarn.lock
  packages/grid/yarn.lock
  packages/keyboardfocus/yarn.lock
  packages/menu/yarn.lock
  packages/modal/yarn.lock
  packages/schedule/yarn.lock
  packages/scrollregion/yarn.lock
  packages/selection/yarn.lock
  packages/slider/yarn.lock
  packages/splitter/yarn.lock
  packages/tabs/yarn.lock
  packages/tooltip/yarn.lock
  packages/utilities/src/utils/useId.spec.tsx
  packages/utilities/yarn.lock
  utils/scripts/new.mjs
  yarn.lock
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

Add lock files
  package-lock.json
  packages/accordion/package-lock.json
  packages/breadcrumb/package-lock.json
  packages/combobox/package-lock.json
  packages/field/package-lock.json
  packages/focusjail/package-lock.json
  packages/focusvisible/package-lock.json
  packages/grid/package-lock.json
  packages/keyboardfocus/package-lock.json
  packages/menu/package-lock.json
  packages/modal/package-lock.json
  packages/schedule/package-lock.json
  packages/scrollregion/package-lock.json
  packages/selection/package-lock.json
  packages/slider/package-lock.json
  packages/splitter/package-lock.json
  packages/tabs/package-lock.json
  packages/tooltip/package-lock.json
  packages/utilities/package-lock.json
Due: none

Fixes
  packages/grid/src/GridContainer.spec.tsx
  packages/utilities/src/utils/useId.spec.tsx
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Update package lock files
  packages/accordion/package-lock.json
  packages/breadcrumb/package-lock.json
  packages/combobox/package-lock.json
  packages/field/package-lock.json
  packages/focusjail/package-lock.json
  packages/focusvisible/package-lock.json
  packages/grid/package-lock.json
  packages/keyboardfocus/package-lock.json
  packages/menu/package-lock.json
  packages/modal/package-lock.json
  packages/schedule/package-lock.json
  packages/scrollregion/package-lock.json
  packages/selection/package-lock.json
  packages/slider/package-lock.json
  packages/splitter/package-lock.json
  packages/tabs/package-lock.json
  packages/tooltip/package-lock.json
  packages/utilities/package-lock.json
Due: none

Fix `new` script
  .yarnclean
  packages/.template/package-lock.json
  utils/scripts/new.mjs
Due: none

fix(menu): ensures most recent selected item is last in change handler selectedItems arg (#603)
  packages/menu/.size-snapshot.json
  packages/menu/src/useMenu.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Path conditions:
  eslint --max-warnings 0: any of: *.{js,ts,tsx}
  jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier-package-json --write: any of: **/package.json
