Repository zendeskgarden/react-containers: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

Updates [skip ci]
  project.json
Due: none

Mock tabbable with `displayCheck: "none"` option. See https://github.com/focus-trap/tabbable\#testing-in-jsdom
  packages/focusjail/yarn.lock
  utils/test/rootDir/__mocks__/tabbable.js
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Update @zendeskgarden/eslint-config
  package.json
  yarn.lock
Due: prettier-package-json --write

Update snapshots
  packages/splitter/src/SplitterContainer.spec.tsx
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Update PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

feat(slider): added refs to test code, seeing passing mouse interaction tests
  packages/slider/src/SliderContainer.spec.tsx
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

feat(slider): wrote tests for thumb touch n' slide functionality
  packages/slider/src/SliderContainer.spec.tsx
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Cancel debounce on unmount
  packages/slider/.size-snapshot.json
  packages/slider/src/useSlider.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Update size snapshot
  packages/slider/.size-snapshot.json
Due: none

Fix README
  README.md
Due: none

feat: new slider hook and container (#483)
  .lintstagedrc
  README.md
  packages/slider/.size-snapshot.json
  packages/slider/CHANGELOG.md
  packages/slider/README.md
  packages/slider/demo/#readme.stories.mdx
  packages/slider/demo/slider.stories.mdx
  packages/slider/demo/stories/SliderStory.tsx
  packages/slider/package.json
  packages/slider/src/SliderContainer.spec.tsx
  packages/slider/src/SliderContainer.tsx
  packages/slider/src/index.ts
  packages/slider/src/types.ts
  packages/slider/src/useSlider.ts
  packages/slider/tsconfig.build.json
  packages/slider/yarn.lock
  tsconfig.json
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

Fix <enter> key a11y and map behavior to double-click
  packages/splitter/.size-snapshot.json
  packages/splitter/src/useSplitter.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Prevent arrow key page scroll
  packages/splitter/.size-snapshot.json
  packages/splitter/src/useSplitter.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Normalize aria values as typified by WAI-ARIA
  packages/splitter/.size-snapshot.json
  packages/splitter/src/useSplitter.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Prevent default screenreader cursor navigation
  packages/slider/.size-snapshot.json
  packages/slider/src/useSlider.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Address @jgorfine-zendesk feedback
  packages/slider/src/useSlider.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

fix(slider): prevent default screenreader cursor navigation (#486)
  packages/slider/.size-snapshot.json
  packages/slider/src/useSlider.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore(release): publish
  packages/slider/CHANGELOG.md
  packages/slider/package.json
Due: prettier-package-json --write

Updates [skip ci]
  iframe.html
  main.7d4ae246.iframe.bundle.js
  main.b144e908.iframe.bundle.js
  project.json
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Updates [skip ci]
  iframe.html
  main.b144e908.iframe.bundle.js
  main.cb4a80ce.iframe.bundle.js
  project.json
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Add unit testing
  packages/splitter/.size-snapshot.json
  packages/splitter/src/SplitterContainer.spec.tsx
  packages/splitter/src/useSplitter.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Retain last position on <home> keyboard
  packages/splitter/.size-snapshot.json
  packages/splitter/src/SplitterContainer.spec.tsx
  packages/splitter/src/useSplitter.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

fix(splitter): use WAI-ARIA specified actions and values (#487)
  packages/splitter/.size-snapshot.json
  packages/splitter/src/SplitterContainer.spec.tsx
  packages/splitter/src/useSplitter.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Updates [skip ci]
  iframe.html
  main.cb4a80ce.iframe.bundle.js
  main.eebbe71a.iframe.bundle.js
  project.json
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore(release): publish
  packages/splitter/CHANGELOG.md
  packages/splitter/package.json
Due: prettier-package-json --write

fix: update user event
  packages/accordion/src/AccordionContainer.spec.tsx
  packages/buttongroup/src/ButtonGroupContainer.spec.tsx
  packages/focusjail/src/FocusJailContainer.spec.tsx
  packages/focusvisible/src/FocusVisibleContainer.spec.tsx
  packages/grid/src/GridContainer.spec.tsx
  packages/keyboardfocus/src/KeyboardFocusContainer.spec.tsx
  packages/modal/src/ModalContainer.spec.tsx
  packages/pagination/src/PaginationContainer.spec.tsx
  packages/scrollregion/src/ScrollRegionContainer.spec.tsx
  packages/selection/src/SelectionContainer.spec.tsx
  packages/slider/src/SliderContainer.spec.tsx
  packages/tabs/src/TabsContainer.spec.tsx
  packages/tooltip/src/TooltipContainer.spec.tsx
  packages/treeview/src/TreeviewContainer.spec.tsx
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

fix: pin dependency
  package.json
Due: prettier-package-json --write

fix: update lockfile
  yarn.lock
Due: none

fix(splitter): update `isFixed` to leverage enter key and double-click handling
  packages/splitter/.size-snapshot.json
  packages/splitter/demo/splitter.stories.mdx
  packages/splitter/demo/stories/SplitterStory.tsx
  packages/splitter/src/SplitterContainer.spec.tsx
  packages/splitter/src/useSplitter.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

fix: update coverage provider
  utils/test/jest.config.js
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Path conditions:
  eslint --max-warnings 0: any of: *.{js,ts,tsx}
  jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier-package-json --write: any of: **/package.json
