Repository zendeskgarden/react-containers: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "eslint --max-warnings 0",
    "jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests",
    "prettier --write"
  ],
  "!(*CHANGELOG).md": [
    "markdownlint",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

docs: document restoreFocus prop + set default props
  packages/menu/src/MenuContainer.tsx
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

fix: remove unnecessary skip param
  packages/menu/src/useMenu.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

test: add restoreFocus spec
  packages/menu/src/MenuContainer.spec.tsx
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Updates [skip ci]
  project.json
Due: none

Remove eslint plugins and lock version
  package-lock.json
  package.json
Due: prettier-package-json --write

Upgrade eslint-config and fix rule violations
  package-lock.json
  package.json
  packages/utilities/src/utils/composeEventHandlers.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

Updates [skip ci]
  8609.6fb8a1eb.iframe.bundle.js
  8609.6fb8a1eb.iframe.bundle.js.LICENSE.txt
  8609.f4e31c2f.iframe.bundle.js
  iframe.html
  project.json
  runtime~main.2706a576.iframe.bundle.js
  runtime~main.ea65687a.iframe.bundle.js
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore: PR feedback
  packages/menu/src/MenuContainer.tsx
  packages/menu/src/types.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

fix(container-menu)!: improves logic for returning focus to trigger (#659)
  packages/menu/src/MenuContainer.spec.tsx
  packages/menu/src/MenuContainer.tsx
  packages/menu/src/types.ts
  packages/menu/src/useMenu.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Updates [skip ci]
  6736.853e5f6c.iframe.bundle.js
  6736.853e5f6c.iframe.bundle.js.LICENSE.txt
  6736.8d46564f.iframe.bundle.js
  iframe.html
  menu-demo-menu-mdx.12252684.iframe.bundle.js
  menu-demo-menu-mdx.24ece1d0.iframe.bundle.js
  menu-demo-menu-stories.61661f65.iframe.bundle.js
  menu-demo-menu-stories.979253d0.iframe.bundle.js
  project.json
  runtime~main.2706a576.iframe.bundle.js
  runtime~main.7c1ba7ba.iframe.bundle.js
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore(release): publish
  package-lock.json
  packages/accordion/CHANGELOG.md
  packages/accordion/package.json
  packages/combobox/CHANGELOG.md
  packages/combobox/package.json
  packages/field/CHANGELOG.md
  packages/field/package.json
  packages/focusjail/CHANGELOG.md
  packages/focusjail/package.json
  packages/grid/CHANGELOG.md
  packages/grid/package.json
  packages/menu/CHANGELOG.md
  packages/menu/package.json
  packages/modal/CHANGELOG.md
  packages/modal/package.json
  packages/selection/CHANGELOG.md
  packages/selection/package.json
  packages/slider/CHANGELOG.md
  packages/slider/package.json
  packages/splitter/CHANGELOG.md
  packages/splitter/package.json
  packages/tabs/CHANGELOG.md
  packages/tabs/package.json
  packages/tooltip/CHANGELOG.md
  packages/tooltip/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
Due: prettier-package-json --write

chore: update renovate schedule
  .github/renovate.json
  README.md
Due: none

chore: update renovate schedule (#672)
  .github/renovate.json
  README.md
Due: none

refactor: ensure compatibility with react-theming@9.x
  .storybook/preview.js
  packages/focusvisible/demo/stories/FocusVisibleStory.tsx
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Updates [skip ci]
  3023.c8718676.iframe.bundle.js
  3023.c8718676.iframe.bundle.js.LICENSE.txt
  8237.ebfd60a9.iframe.bundle.js
  focusvisible-demo-focusvisible-mdx.3b54fd16.iframe.bundle.js
  focusvisible-demo-focusvisible-mdx.e741549e.iframe.bundle.js
  focusvisible-demo-focusvisible-stories.369fd639.iframe.bundle.js
  focusvisible-demo-focusvisible-stories.db37f62e.iframe.bundle.js
  iframe.html
  main.34cd7711.iframe.bundle.js
  main.a1757cfb.iframe.bundle.js
  project.json
  runtime~main.4e40bd0c.iframe.bundle.js
  runtime~main.7c1ba7ba.iframe.bundle.js
  sb-addons/storybook-6/manager-bundle.js
  sb-addons/storybook-6/manager-bundle.js.LEGAL.txt
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

deps: downgrade to last working eslint verion (v9.13.0)
  package-lock.json
  package.json
Due: prettier-package-json --write

Updates [skip ci]
  iframe.html
  main.06ff7c33.iframe.bundle.js
  main.648dfa01.iframe.bundle.js
  project.json
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

fix(menu): move from `click` to `blur` event handling
  packages/menu/demo/stories/MenuStory.tsx
  packages/menu/src/useMenu.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

fix(container-menu): improve menu expansion and focus behavior on blur
  packages/menu/src/MenuContainer.spec.tsx
  packages/menu/src/useMenu.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

fix(useMenu): restore natural tab order
  packages/menu/src/MenuContainer.spec.tsx
  packages/menu/src/useMenu.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

fix(useMenu): return focus to trigger once on outside menu click
  packages/menu/src/MenuContainer.spec.tsx
  packages/menu/src/useMenu.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

refactor(useMenu): restore previous behavior on TAB keydown
  packages/menu/src/MenuContainer.spec.tsx
  packages/menu/src/useMenu.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore: fix typo
  packages/menu/src/MenuContainer.spec.tsx
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

fix(container-menu): improve menu dropdown expansion and focus behavior on blur (#691)
  packages/menu/src/MenuContainer.spec.tsx
  packages/menu/src/useMenu.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Updates [skip ci]
  4542.c414138c.iframe.bundle.js
  4542.cf25b0f0.iframe.bundle.js
  iframe.html
  project.json
  runtime~main.abb1f4ad.iframe.bundle.js
  runtime~main.c88be603.iframe.bundle.js
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore(release): publish
  package-lock.json
  packages/focusvisible/CHANGELOG.md
  packages/focusvisible/package.json
  packages/menu/CHANGELOG.md
  packages/menu/package.json
Due: prettier-package-json --write

fix(menu): correctly identifies link menuitem has the same URL as the page
  packages/menu/demo/stories/MenuStory.tsx
  packages/menu/src/MenuContainer.spec.tsx
  packages/menu/src/useMenu.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

feat(menu): prevent default when clicking a selected link
  packages/menu/src/MenuContainer.spec.tsx
  packages/menu/src/useMenu.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

feat(menu): allow user to specify both window and document env
  packages/menu/src/types.ts
  packages/menu/src/useMenu.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write
