Repository zendeskgarden/react-containers: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

Updates [skip ci]
  project.json
Due: none

Add `hidden` option support
  packages/combobox/demo/stories/ComboboxStory.tsx
  packages/combobox/demo/stories/data.ts
  packages/combobox/src/types.ts
  packages/combobox/src/useCombobox.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Fill out hidden option testing
  packages/combobox/src/ComboboxContainer.spec.tsx
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Handle hidden+disabled option
  packages/combobox/src/useCombobox.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

feat(combobox): add support for `hidden` options (#621)
  packages/combobox/demo/stories/ComboboxStory.tsx
  packages/combobox/demo/stories/data.ts
  packages/combobox/src/ComboboxContainer.spec.tsx
  packages/combobox/src/types.ts
  packages/combobox/src/useCombobox.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Updates [skip ci]
  37.18f98db4.iframe.bundle.js
  37.b6e149fa.iframe.bundle.js
  combobox-demo-combobox-stories-mdx.0e9a7935.iframe.bundle.js
  combobox-demo-combobox-stories-mdx.5cdffac0.iframe.bundle.js
  iframe.html
  project.json
  runtime~main.3d24d2eb.iframe.bundle.js
  runtime~main.543acaef.iframe.bundle.js
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore(release): publish
  package-lock.json
  packages/accordion/CHANGELOG.md
  packages/accordion/package.json
  packages/breadcrumb/CHANGELOG.md
  packages/breadcrumb/package.json
  packages/combobox/CHANGELOG.md
  packages/combobox/package.json
  packages/field/CHANGELOG.md
  packages/field/package.json
  packages/focusjail/CHANGELOG.md
  packages/focusjail/package.json
  packages/focusvisible/CHANGELOG.md
  packages/focusvisible/package.json
  packages/grid/CHANGELOG.md
  packages/grid/package.json
  packages/keyboardfocus/CHANGELOG.md
  packages/keyboardfocus/package.json
  packages/menu/CHANGELOG.md
  packages/menu/package.json
  packages/modal/CHANGELOG.md
  packages/modal/package.json
  packages/schedule/CHANGELOG.md
  packages/schedule/package.json
  packages/scrollregion/CHANGELOG.md
  packages/scrollregion/package.json
  packages/selection/CHANGELOG.md
  packages/selection/package.json
  packages/slider/CHANGELOG.md
  packages/slider/package.json
  packages/splitter/CHANGELOG.md
  packages/splitter/package.json
  packages/tabs/CHANGELOG.md
  packages/tabs/package.json
  packages/tooltip/CHANGELOG.md
  packages/tooltip/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
Due: prettier-package-json --write

chore(utilities): deprecate `DocumentPosition` and `KEY_CODES`
  packages/utilities/src/utils/DocumentPosition.ts
  packages/utilities/src/utils/KeyboardEventValues.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore(utilities): deprecate `DocumentPosition` and `KEY_CODES` (#622)
  packages/utilities/src/utils/DocumentPosition.ts
  packages/utilities/src/utils/KeyboardEventValues.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore(release): publish
  package-lock.json
  packages/accordion/CHANGELOG.md
  packages/accordion/package.json
  packages/combobox/CHANGELOG.md
  packages/combobox/package.json
  packages/field/CHANGELOG.md
  packages/field/package.json
  packages/focusjail/CHANGELOG.md
  packages/focusjail/package.json
  packages/grid/CHANGELOG.md
  packages/grid/package.json
  packages/keyboardfocus/CHANGELOG.md
  packages/keyboardfocus/package.json
  packages/menu/CHANGELOG.md
  packages/menu/package.json
  packages/modal/CHANGELOG.md
  packages/modal/package.json
  packages/selection/CHANGELOG.md
  packages/selection/package.json
  packages/slider/CHANGELOG.md
  packages/slider/package.json
  packages/splitter/CHANGELOG.md
  packages/splitter/package.json
  packages/tabs/CHANGELOG.md
  packages/tabs/package.json
  packages/tooltip/CHANGELOG.md
  packages/tooltip/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
Due: prettier-package-json --write

Delete deprecated utilities and containers
  package-lock.json
  packages/keyboardfocus/.size-snapshot.json
  packages/keyboardfocus/CHANGELOG.md
  packages/keyboardfocus/README.md
  packages/keyboardfocus/demo/keyboardfocus.stories.mdx
  packages/keyboardfocus/demo/stories/KeyboardFocusStory.tsx
  packages/keyboardfocus/package.json
  packages/keyboardfocus/src/KeyboardFocusContainer.spec.tsx
  packages/keyboardfocus/src/KeyboardFocusContainer.tsx
  packages/keyboardfocus/src/index.ts
  packages/keyboardfocus/src/useKeyboardFocus.ts
  packages/keyboardfocus/tsconfig.build.json
  packages/utilities/src/index.ts
  packages/utilities/src/utils/DocumentPosition.ts
  packages/utilities/src/utils/KeyboardEventValues.ts
  packages/utilities/src/utils/useCombinedRefs.spec.tsx
  packages/utilities/src/utils/useCombinedRefs.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

chore: replace deprecated `KEY_CODES` with `KEYS` constants
  package-lock.json
  packages/accordion/src/AccordionContainer.spec.tsx
  packages/accordion/src/useAccordion.ts
  packages/tooltip/src/TooltipContainer.spec.tsx
  packages/tooltip/src/useTooltip.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Remove `acorn-jsx`
  package-lock.json
  package.json
  utils/build/rollup.config.js
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

chore: replace deprecated `KEY_CODES` with `KEYS` constants (#623)
  package-lock.json
  package.json
  packages/accordion/src/AccordionContainer.spec.tsx
  packages/accordion/src/useAccordion.ts
  packages/tooltip/src/TooltipContainer.spec.tsx
  packages/tooltip/src/useTooltip.ts
  utils/build/rollup.config.js
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

chore(release): publish
  package-lock.json
  packages/accordion/CHANGELOG.md
  packages/accordion/package.json
  packages/tooltip/CHANGELOG.md
  packages/tooltip/package.json
Due: prettier-package-json --write

Remove `DocumentPosition` reference
  package-lock.json
  utils/test/jest.config.js
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore!: remove deprecated container and utilities (#624)
  package-lock.json
  packages/keyboardfocus/.size-snapshot.json
  packages/keyboardfocus/CHANGELOG.md
  packages/keyboardfocus/README.md
  packages/keyboardfocus/demo/keyboardfocus.stories.mdx
  packages/keyboardfocus/demo/stories/KeyboardFocusStory.tsx
  packages/keyboardfocus/package.json
  packages/keyboardfocus/src/KeyboardFocusContainer.spec.tsx
  packages/keyboardfocus/src/KeyboardFocusContainer.tsx
  packages/keyboardfocus/src/index.ts
  packages/keyboardfocus/src/useKeyboardFocus.ts
  packages/keyboardfocus/tsconfig.build.json
  packages/utilities/src/index.ts
  packages/utilities/src/utils/DocumentPosition.ts
  packages/utilities/src/utils/KeyboardEventValues.ts
  packages/utilities/src/utils/useCombinedRefs.spec.tsx
  packages/utilities/src/utils/useCombinedRefs.ts
  utils/test/jest.config.js
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

chore(release): publish
  package-lock.json
  packages/accordion/CHANGELOG.md
  packages/accordion/package.json
  packages/combobox/CHANGELOG.md
  packages/combobox/package.json
  packages/field/CHANGELOG.md
  packages/field/package.json
  packages/focusjail/CHANGELOG.md
  packages/focusjail/package.json
  packages/grid/CHANGELOG.md
  packages/grid/package.json
  packages/menu/CHANGELOG.md
  packages/menu/package.json
  packages/modal/CHANGELOG.md
  packages/modal/package.json
  packages/selection/CHANGELOG.md
  packages/selection/package.json
  packages/slider/CHANGELOG.md
  packages/slider/package.json
  packages/splitter/CHANGELOG.md
  packages/splitter/package.json
  packages/tabs/CHANGELOG.md
  packages/tabs/package.json
  packages/tooltip/CHANGELOG.md
  packages/tooltip/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
Due: prettier-package-json --write

Updates [skip ci]
  iframe.html
  index.json
  keyboardfocus-demo-keyboardfocus-stories-mdx.b9f8686d.iframe.bundle.js
  main.9f42d389.iframe.bundle.js
  main.f80e6bb0.iframe.bundle.js
  project.json
  runtime~main.1d19cb55.iframe.bundle.js
  runtime~main.fc50eb6f.iframe.bundle.js
  sb-addons/storybook-5/manager-bundle.js
  stories.json
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Updates [skip ci]
  project.json
  sb-addons/storybook-5/manager-bundle.js
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

fix(combobox): workaround Downshift cursor bug
  packages/combobox/src/ComboboxContainer.spec.tsx
  packages/combobox/src/useCombobox.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

fix(combobox): workaround Downshift cursor bug (#625)
  packages/combobox/src/ComboboxContainer.spec.tsx
  packages/combobox/src/useCombobox.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Updates [skip ci]
  37.16487cf0.iframe.bundle.js
  37.96e08061.iframe.bundle.js
  iframe.html
  project.json
  runtime~main.46666d84.iframe.bundle.js
  runtime~main.fc50eb6f.iframe.bundle.js
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore(release): publish
  package-lock.json
  packages/combobox/CHANGELOG.md
  packages/combobox/package.json
Due: prettier-package-json --write

fix(combobox): keep local `inputValue` state in sync with Downshift
  package-lock.json
  packages/combobox/src/ComboboxContainer.spec.tsx
  packages/combobox/src/useCombobox.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

fix(combobox): keep local `inputValue` state in sync with Downshift (#628)
  package-lock.json
  packages/combobox/src/ComboboxContainer.spec.tsx
  packages/combobox/src/useCombobox.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Updates [skip ci]
  37.4b831af2.iframe.bundle.js
  37.96e08061.iframe.bundle.js
  iframe.html
  project.json
  runtime~main.46666d84.iframe.bundle.js
  runtime~main.e4a77089.iframe.bundle.js
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Path conditions:
  eslint --max-warnings 0: any of: *.{js,ts,tsx}
  jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier-package-json --write: any of: **/package.json
