Repository zendeskgarden/react-containers: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

Updates [skip ci]
  project.json
Due: none

Updates [skip ci]
  497.cb21640e.iframe.bundle.js
  497.cb21640e.iframe.bundle.js.map
  497.e6c3270e.iframe.bundle.js
  497.e6c3270e.iframe.bundle.js.LICENSE.txt
  497.e6c3270e.iframe.bundle.js.map
  746.d7292b77.iframe.bundle.js
  746.d7292b77.iframe.bundle.js.map
  746.da4f075f.iframe.bundle.js
  746.da4f075f.iframe.bundle.js.LICENSE.txt
  746.da4f075f.iframe.bundle.js.map
  797.961f4af0.iframe.bundle.js
  900.967dcf42.iframe.bundle.js
  iframe.html
  project.json
  runtime~main.31ac0979.iframe.bundle.js
  runtime~main.e4a77089.iframe.bundle.js
  sb-addons/essentials-controls-0/manager-bundle.js
  sb-addons/storybook-5/manager-bundle.js
  sb-manager/WithTooltip-V3YHNWJZ-LVYLGZW2.js
  sb-manager/WithTooltip-V3YHNWJZ-TRLNWEGW.js
  sb-manager/chunk-4IYAVH3S.js
  sb-manager/chunk-CXYKRFSY.js
  sb-manager/chunk-LVLAH4SI.js
  sb-manager/chunk-NGTUFCUO.js
  sb-manager/chunk-VFHDXWEA.js
  sb-manager/index.js
  sb-manager/runtime.js
  sb-manager/syntaxhighlighter-B5GMVT5T-EA5ASEYD.js
  sb-manager/syntaxhighlighter-V7JZZA35-DXZCI2WR.js
  sb-preview/runtime.js
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore: migrates to husky v9 style
  .husky/pre-commit
  package-lock.json
  package.json
Due: prettier-package-json --write

feat(combobox): prefer strings as option values
  package-lock.json
  packages/combobox/demo/stories/ComboboxStory.tsx
  packages/combobox/src/ComboboxContainer.spec.tsx
  packages/combobox/src/ComboboxContainer.tsx
  packages/combobox/src/types.ts
  packages/combobox/src/useCombobox.ts
  packages/combobox/src/utils.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore: retain OptionValue type for reference
  packages/combobox/src/types.ts
  packages/combobox/src/useCombobox.ts
  packages/combobox/src/utils.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

feat(combobox)!: prefer strings as option values (#637)
  package-lock.json
  packages/combobox/demo/stories/ComboboxStory.tsx
  packages/combobox/src/ComboboxContainer.spec.tsx
  packages/combobox/src/ComboboxContainer.tsx
  packages/combobox/src/types.ts
  packages/combobox/src/useCombobox.ts
  packages/combobox/src/utils.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore(release): publish
  package-lock.json
  packages/combobox/CHANGELOG.md
  packages/combobox/package.json
Due: prettier-package-json --write

Updates [skip ci]
  37.00338051.iframe.bundle.js
  37.4b831af2.iframe.bundle.js
  combobox-demo-combobox-stories-mdx.41ee4451.iframe.bundle.js
  combobox-demo-combobox-stories-mdx.5cdffac0.iframe.bundle.js
  iframe.html
  project.json
  runtime~main.31ac0979.iframe.bundle.js
  runtime~main.ec0cf76b.iframe.bundle.js
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore(Stories): fix imports and type stories
  packages/accordion/demo/accordion.stories.js
  packages/breadcrumb/demo/breadcrumb.stories.js
  packages/combobox/demo/combobox.stories.js
  packages/combobox/demo/~patterns/patterns.stories.js
  packages/field/demo/field.stories.js
  packages/focusjail/demo/focusjail.stories.js
  packages/focusvisible/demo/focusvisible.stories.js
  packages/focusvisible/demo/~patterns/patterns.stories.js
  packages/grid/demo/grid.stories.js
  packages/menu/demo/menu.stories.js
  packages/menu/demo/~patterns/patterns.stories.js
  packages/modal/demo/modal.stories.js
  packages/schedule/demo/schedule.stories.js
  packages/scrollregion/demo/scrollregion.stories.js
  packages/selection/demo/selection.stories.js
  packages/slider/demo/slider.stories.js
  packages/splitter/demo/splitter.stories.js
  packages/tabs/demo/tabs.stories.js
  packages/tooltip/demo/tooltip.stories.js
  packages/tooltip/demo/~patterns/patterns.stories.js
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore(Stories): cleanup and remane ext to `.stories.tsx`
  packages/accordion/demo/accordion.stories.tsx
  packages/breadcrumb/demo/breadcrumb.stories.tsx
  packages/combobox/demo/combobox.stories.tsx
  packages/combobox/demo/~patterns/patterns.stories.tsx
  packages/field/demo/field.stories.tsx
  packages/focusjail/demo/focusjail.stories.tsx
  packages/focusvisible/demo/focusvisible.stories.tsx
  packages/focusvisible/demo/~patterns/patterns.stories.tsx
  packages/grid/demo/grid.stories.tsx
  packages/menu/demo/menu.stories.tsx
  packages/menu/demo/~patterns/patterns.stories.tsx
  packages/modal/demo/modal.stories.tsx
  packages/schedule/demo/schedule.stories.tsx
  packages/scrollregion/demo/scrollregion.stories.tsx
  packages/selection/demo/selection.stories.js
  packages/selection/demo/selection.stories.tsx
  packages/slider/demo/slider.stories.tsx
  packages/splitter/demo/splitter.stories.tsx
  packages/tabs/demo/tabs.stories.tsx
  packages/tooltip/demo/tooltip.stories.tsx
  packages/tooltip/demo/~patterns/patterns.stories.tsx
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore(eslintrc): disable func-name-matching for stories
  .eslintrc.json
Due: none

chore(Stories): fix eslint errors
  packages/accordion/demo/accordion.stories.tsx
  packages/breadcrumb/demo/breadcrumb.stories.tsx
  packages/combobox/demo/combobox.stories.tsx
  packages/combobox/demo/~patterns/patterns.stories.tsx
  packages/field/demo/field.stories.tsx
  packages/focusjail/demo/focusjail.stories.tsx
  packages/focusvisible/demo/focusvisible.stories.tsx
  packages/focusvisible/demo/~patterns/patterns.stories.tsx
  packages/grid/demo/grid.stories.tsx
  packages/menu/demo/menu.stories.tsx
  packages/menu/demo/~patterns/patterns.stories.tsx
  packages/modal/demo/modal.stories.tsx
  packages/schedule/demo/schedule.stories.tsx
  packages/scrollregion/demo/scrollregion.stories.tsx
  packages/selection/demo/selection.stories.tsx
  packages/slider/demo/slider.stories.tsx
  packages/splitter/demo/splitter.stories.tsx
  packages/tabs/demo/tabs.stories.tsx
  packages/tooltip/demo/tooltip.stories.tsx
  packages/tooltip/demo/~patterns/patterns.stories.tsx
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore(stories.mdx): remove unused imports
  packages/accordion/demo/accordion.mdx
  packages/breadcrumb/demo/breadcrumb.mdx
  packages/combobox/demo/combobox.mdx
  packages/combobox/demo/~patterns/patterns.mdx
  packages/field/demo/field.mdx
  packages/focusjail/demo/focusjail.mdx
  packages/focusvisible/demo/focusvisible.mdx
  packages/focusvisible/demo/~patterns/patterns.mdx
  packages/grid/demo/grid.mdx
  packages/menu/demo/menu.mdx
  packages/menu/demo/~patterns/patterns.mdx
  packages/modal/demo/modal.mdx
  packages/schedule/demo/schedule.mdx
  packages/scrollregion/demo/scrollregion.mdx
  packages/selection/demo/selection.mdx
  packages/slider/demo/slider.mdx
  packages/splitter/demo/splitter.mdx
  packages/tabs/demo/tabs.mdx
  packages/tooltip/demo/tooltip.mdx
  packages/tooltip/demo/~patterns/patterns.mdx
Due: none

chore(Storybook): run v8 migration script
  .storybook/main.js
  package-lock.json
  package.json
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

chore(Storybook): fix import
  .storybook/manager.js
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore(Stories.tsx): replace deprecated `Story` w/ `StoryFn` type
  packages/.template/demo/stories/{{capitalize component}}Story.tsx
  packages/accordion/demo/stories/AccordionStory.tsx
  packages/breadcrumb/demo/stories/BreadcrumbStory.tsx
  packages/combobox/demo/stories/ComboboxStory.tsx
  packages/combobox/demo/~patterns/stories/IMEStory.tsx
  packages/field/demo/stories/FieldStory.tsx
  packages/focusjail/demo/stories/FocusJailStory.tsx
  packages/focusvisible/demo/stories/FocusVisibleStory.tsx
  packages/focusvisible/demo/~patterns/stories/SelectionStory.tsx
  packages/grid/demo/stories/GridStory.tsx
  packages/modal/demo/stories/ModalStory.tsx
  packages/schedule/demo/stories/ScheduleStory.tsx
  packages/scrollregion/demo/stories/ScrollRegionStory.tsx
  packages/slider/demo/stories/SliderStory.tsx
  packages/splitter/demo/stories/SplitterStory.tsx
  packages/tooltip/demo/stories/TooltipStory.tsx
  packages/tooltip/demo/~patterns/stories/FocusStory.tsx
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

refactor(Stories): fix types, clean up, prettier
  .storybook/main.js
  packages/accordion/demo/accordion.stories.tsx
  packages/accordion/demo/stories/AccordionStory.tsx
  packages/combobox/demo/combobox.stories.tsx
  packages/focusjail/demo/focusjail.stories.tsx
  packages/focusvisible/demo/focusvisible.stories.tsx
  packages/grid/demo/grid.stories.tsx
  packages/menu/demo/menu.stories.tsx
  packages/menu/demo/stories/data.ts
  packages/menu/demo/~patterns/patterns.stories.tsx
  packages/modal/demo/modal.stories.tsx
  packages/scrollregion/demo/scrollregion.stories.tsx
  packages/selection/demo/selection.stories.tsx
  packages/slider/demo/slider.stories.tsx
  packages/splitter/demo/splitter.stories.tsx
  packages/tabs/demo/tabs.stories.tsx
  packages/tooltip/demo/tooltip.stories.tsx
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore: upgrade and version lock Storybook deps
  package-lock.json
  package.json
Due: prettier-package-json --write

chore: Fix casing
  packages/focusvisible/demo/focusvisible.mdx
  packages/scrollregion/demo/scrollregion.mdx
Due: none

style(*.mdx): run prettier
  packages/accordion/demo/accordion.mdx
  packages/breadcrumb/demo/breadcrumb.mdx
  packages/combobox/demo/combobox.mdx
  packages/field/demo/field.mdx
  packages/focusjail/demo/focusjail.mdx
  packages/grid/demo/grid.mdx
  packages/menu/demo/menu.mdx
  packages/modal/demo/modal.mdx
  packages/schedule/demo/schedule.mdx
  packages/selection/demo/selection.mdx
  packages/slider/demo/slider.mdx
  packages/splitter/demo/splitter.mdx
  packages/tabs/demo/tabs.mdx
  packages/tooltip/demo/tooltip.mdx
Due: none

Replace with `eslint-plugin-n` dependency
  package-lock.json
  package.json
Due: prettier-package-json --write

feat(menu): adds support for link items
  .storybook/preview.js
  packages/menu/README.md
  packages/menu/demo/stories/MenuStory.tsx
  packages/menu/demo/stories/data.ts
  packages/menu/src/MenuContainer.spec.tsx
  packages/menu/src/types.ts
  packages/menu/src/useMenu.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore: error label fix
  packages/menu/src/useMenu.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Path conditions:
  eslint --max-warnings 0: any of: *.{js,ts,tsx}
  jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier-package-json --write: any of: **/package.json
