Repository zendeskgarden/react-containers: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, prettier-package-json --write

.lintstagedrc:

{
  "*.js": [
    "eslint",
    "prettier --write",
    "git add"
  ],
  "!(*CHANGELOG).md": [
    "markdownlint",
    "prettier --write",
    "git add"
  ],
  "**/package.json": [
    "prettier-package-json --write",
    "git add"
  ]
}

chore(deps): update dependency @rollup/plugin-commonjs to v12
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency @rollup/plugin-node-resolve to v8
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency eslint-plugin-react-hooks to v4
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency rollup to v2.11.0
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update jest monorepo to v26
  package.json
  yarn.lock
Due: prettier-package-json --write

Add input type that is not whitelisted
  packages/focusvisible/src/FocusVisibleContainer.spec.tsx
Due: none

chore(deps): update non-major shared dependencies to v7.10.1
  package.json
  yarn.lock
Due: prettier-package-json --write

Remove assertion against invalid type
  packages/focusvisible/src/FocusVisibleContainer.spec.tsx
Due: none

chore(deps): update dependency ts-jest to v26
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update typescript-eslint monorepo to v3
  package.json
  yarn.lock
Due: prettier-package-json --write

Replace deprecated typescript-eslint rules with new rules
  .eslintrc.json
  packages/focusjail/src/FocusJailContainer.spec.tsx
  packages/focusvisible/src/FocusVisibleContainer.spec.tsx
  packages/focusvisible/src/useFocusVisible.ts
  packages/schedule/src/useSchedule.ts
  packages/utilities/src/utils/composeEventHandlers.ts
Due: none

Remove tabindex from tab panel
  packages/tabs/src/TabsContainer.spec.tsx
  packages/tabs/src/useTabs.ts
Due: none

Update size snapshot
  packages/tabs/.size-snapshot.json
Due: none

fix(tabs): remove tabindex from panel (#210)
  packages/tabs/.size-snapshot.json
  packages/tabs/src/TabsContainer.spec.tsx
  packages/tabs/src/useTabs.ts
Due: none

chore(release): publish
  packages/accordion/.size-snapshot.json
  packages/accordion/CHANGELOG.md
  packages/accordion/package.json
  packages/breadcrumb/CHANGELOG.md
  packages/breadcrumb/package.json
  packages/buttongroup/CHANGELOG.md
  packages/buttongroup/package.json
  packages/field/.size-snapshot.json
  packages/field/CHANGELOG.md
  packages/field/package.json
  packages/focusjail/CHANGELOG.md
  packages/focusjail/package.json
  packages/focusvisible/CHANGELOG.md
  packages/focusvisible/package.json
  packages/keyboardfocus/.size-snapshot.json
  packages/keyboardfocus/CHANGELOG.md
  packages/keyboardfocus/package.json
  packages/modal/.size-snapshot.json
  packages/modal/CHANGELOG.md
  packages/modal/package.json
  packages/pagination/.size-snapshot.json
  packages/pagination/CHANGELOG.md
  packages/pagination/package.json
  packages/schedule/CHANGELOG.md
  packages/schedule/package.json
  packages/selection/.size-snapshot.json
  packages/selection/CHANGELOG.md
  packages/selection/package.json
  packages/tabs/.size-snapshot.json
  packages/tabs/CHANGELOG.md
  packages/tabs/package.json
  packages/tooltip/.size-snapshot.json
  packages/tooltip/CHANGELOG.md
  packages/tooltip/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
Due: prettier-package-json --write

chore: update renovate schedule
  .github/renovate.json
Due: none

chore: update renovate schedule (#211)
  .github/renovate.json
Due: none

chore(deps): update non-major shared dependencies
  package.json
  yarn.lock
Due: prettier-package-json --write

Ignore .template dir from coverage
  utils/test/jest.config.js
Due: eslint, prettier --write

chore(deps): update dependency @rollup/plugin-commonjs to v13
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency @types/jest to v26
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency rollup-plugin-delete to v2
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update node orb to v3
  .circleci/config.yml
Due: none
