Repository zendeskgarden/react-containers: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

chore(release): publish
  packages/field/.size-snapshot.json
  packages/field/CHANGELOG.md
  packages/field/package.json
Due: prettier-package-json --write

fix(field): update yarn.lock
  packages/field/yarn.lock
Due: none

Refactor useGrid
  packages/grid/.size-snapshot.json
  packages/grid/demo/stories/GridStory.tsx
  packages/grid/package.json
  packages/grid/src/GridContainer.spec.tsx
  packages/grid/src/types.ts
  packages/grid/src/useGrid.ts
  packages/grid/src/utils.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

fix(field): update yarn.lock (#518)
  packages/field/yarn.lock
Due: none

Updates [skip ci]
  project.json
Due: none

Add `removeSelection` and handle multiselect story values as a layout grid
  packages/combobox/.size-snapshot.json
  packages/combobox/demo/stories/ComboboxStory.tsx
  packages/combobox/src/types.ts
  packages/combobox/src/useCombobox.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Apply `removeSelection` to storybook
  packages/combobox/.size-snapshot.json
  packages/combobox/demo/stories/ComboboxStory.tsx
  packages/combobox/src/useCombobox.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Add getTagProps
  packages/combobox/.size-snapshot.json
  packages/combobox/demo/stories/ComboboxStory.tsx
  packages/combobox/src/types.ts
  packages/combobox/src/useCombobox.ts
  packages/grid/.size-snapshot.json
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Update size snapshot
  packages/grid/.size-snapshot.json
Due: none

Handle matrix mutation
  packages/grid/.size-snapshot.json
  packages/grid/src/GridContainer.spec.tsx
  packages/grid/src/useGrid.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Add getGridProps with required `aria-label` attribute
  packages/grid/.size-snapshot.json
  packages/grid/demo/grid.stories.mdx
  packages/grid/demo/stories/GridStory.tsx
  packages/grid/src/GridContainer.spec.tsx
  packages/grid/src/types.ts
  packages/grid/src/useGrid.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Apply getGridProps and fix focus handling on selection removal
  packages/combobox/.size-snapshot.json
  packages/combobox/demo/stories/ComboboxStory.tsx
  packages/combobox/src/useCombobox.ts
  packages/grid/.size-snapshot.json
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Handle empty matrix mutations
  packages/grid/.size-snapshot.json
  packages/grid/src/GridContainer.spec.tsx
  packages/grid/src/useGrid.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Enforce `aria-label` on tag eprops
  packages/combobox/.size-snapshot.json
  packages/combobox/demo/stories/ComboboxStory.tsx
  packages/combobox/src/types.ts
  packages/combobox/src/useCombobox.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Handle tag focus
  packages/combobox/.size-snapshot.json
  packages/combobox/demo/stories/ComboboxStory.tsx
  packages/combobox/package.json
  packages/combobox/src/useCombobox.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

Fill out tag & removeSelection testing
  packages/combobox/.size-snapshot.json
  packages/combobox/demo/stories/ComboboxStory.tsx
  packages/combobox/src/ComboboxContainer.spec.tsx
  packages/combobox/src/types.ts
  packages/combobox/src/useCombobox.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Add container-field dependency
  packages/combobox/.size-snapshot.json
  packages/combobox/package.json
Due: prettier-package-json --write

Prevent listbox close on disabled option click
  packages/combobox/.size-snapshot.json
  packages/combobox/src/ComboboxContainer.spec.tsx
  packages/combobox/src/useCombobox.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

fix!(grid): refactored interface types for enhanced accessibility and provide missing ID generation (#519)
  packages/grid/.size-snapshot.json
  packages/grid/demo/grid.stories.mdx
  packages/grid/demo/stories/GridStory.tsx
  packages/grid/package.json
  packages/grid/src/GridContainer.spec.tsx
  packages/grid/src/GridContainer.tsx
  packages/grid/src/index.ts
  packages/grid/src/types.ts
  packages/grid/src/useGrid.ts
  packages/grid/src/utils.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

chore(release): publish
  packages/grid/.size-snapshot.json
  packages/grid/CHANGELOG.md
  packages/grid/package.json
Due: prettier-package-json --write

Updates [skip ci]
  iframe.html
  main.6d62c929.iframe.bundle.js
  main.935b50b9.iframe.bundle.js
  project.json
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

fix: update snapshots
  packages/accordion/.size-snapshot.json
  packages/buttongroup/.size-snapshot.json
  packages/field/.size-snapshot.json
  packages/focusjail/.size-snapshot.json
  packages/focusvisible/.size-snapshot.json
  packages/grid/.size-snapshot.json
  packages/keyboardfocus/.size-snapshot.json
  packages/modal/.size-snapshot.json
  packages/pagination/.size-snapshot.json
  packages/schedule/.size-snapshot.json
  packages/scrollregion/.size-snapshot.json
  packages/selection/.size-snapshot.json
  packages/slider/.size-snapshot.json
  packages/splitter/.size-snapshot.json
  packages/tabs/.size-snapshot.json
  packages/tooltip/.size-snapshot.json
  packages/treeview/.size-snapshot.json
  packages/utilities/.size-snapshot.json
Due: none

test: fixes lint errors for treeitem elements
  packages/treeview/src/keyboardInteractions.spec.tsx
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

update snapshots
  packages/accordion/.size-snapshot.json
  packages/field/.size-snapshot.json
  packages/grid/.size-snapshot.json
  packages/keyboardfocus/.size-snapshot.json
  packages/modal/.size-snapshot.json
  packages/selection/.size-snapshot.json
  packages/slider/.size-snapshot.json
  packages/splitter/.size-snapshot.json
  packages/tabs/.size-snapshot.json
  packages/tooltip/.size-snapshot.json
  packages/treeview/.size-snapshot.json
Due: none

update yarn lock
  packages/grid/.size-snapshot.json
  packages/slider/.size-snapshot.json
  yarn.lock
Due: none

Add getOptGroupProps
  packages/combobox/.size-snapshot.json
  packages/combobox/demo/stories/ComboboxStory.tsx
  packages/combobox/src/types.ts
  packages/combobox/src/useCombobox.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Fill out grouped option story
  packages/combobox/.size-snapshot.json
  packages/combobox/demo/stories/ComboboxStory.tsx
  packages/combobox/demo/stories/data.ts
  packages/combobox/src/ComboboxContainer.tsx
  packages/combobox/src/index.ts
  packages/combobox/src/types.ts
  packages/combobox/src/useCombobox.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Fill out OptGroup testing
  packages/combobox/src/ComboboxContainer.spec.tsx
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Initial isEditable vs select-only implementation
  packages/combobox/.size-snapshot.json
  packages/combobox/demo/combobox.stories.mdx
  packages/combobox/demo/stories/ComboboxStory.tsx
  packages/combobox/src/ComboboxContainer.tsx
  packages/combobox/src/types.ts
  packages/combobox/src/useCombobox.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Fix arrow down/up listbox expansion corner cases
  packages/combobox/.size-snapshot.json
  packages/combobox/src/useCombobox.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Refine defaultActiveIndex handling
  packages/combobox/.size-snapshot.json
  packages/combobox/demo/stories/ComboboxStory.tsx
  packages/combobox/src/useCombobox.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Event code cleanup
  packages/combobox/.size-snapshot.json
  packages/combobox/src/ComboboxContainer.spec.tsx
  packages/combobox/src/useCombobox.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Implement select-only typed character option matching
  packages/combobox/.size-snapshot.json
  packages/combobox/demo/stories/ComboboxStory.tsx
  packages/combobox/src/useCombobox.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Add coverage for non-editable test cases
  packages/combobox/demo/stories/ComboboxStory.tsx
  packages/combobox/src/ComboboxContainer.spec.tsx
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Remove unnecessary `return`
  packages/combobox/demo/stories/ComboboxStory.tsx
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Path conditions:
  eslint --max-warnings 0: any of: *.{js,ts,tsx}
  jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier-package-json --write: any of: **/package.json
