Repository zendeskgarden/react-containers: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, prettier-package-json --write

feat(modal): Support passing in focusOnMount and environment for the useModal hook (#97)
  packages/modal/src/ModalContainer.js
  packages/modal/src/useModal.js
Due: eslint, prettier --write

chore(release): publish
  packages/accordion/CHANGELOG.md
  packages/accordion/package.json
  packages/buttongroup/CHANGELOG.md
  packages/buttongroup/package.json
  packages/field/CHANGELOG.md
  packages/field/package.json
  packages/focusjail/CHANGELOG.md
  packages/focusjail/package.json
  packages/keyboardfocus/CHANGELOG.md
  packages/keyboardfocus/package.json
  packages/modal/CHANGELOG.md
  packages/modal/package.json
  packages/pagination/CHANGELOG.md
  packages/pagination/package.json
  packages/selection/CHANGELOG.md
  packages/selection/package.json
  packages/tabs/CHANGELOG.md
  packages/tabs/package.json
  packages/tooltip/CHANGELOG.md
  packages/tooltip/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
Due: prettier-package-json --write

chore(deps): update all development non-major dependencies
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency @zendeskgarden/eslint-config to v9
  package.json
  yarn.lock
Due: prettier-package-json --write

Remove invalid eslint-disable comments
  packages/field/stories.js
  packages/focusjail/src/FocusJailContainer.spec.js
  packages/modal/src/ModalContainer.spec.js
  packages/schedule/src/ScheduleContainer.spec.js
  packages/selection/src/SelectionContainer.spec.js
  packages/selection/stories.js
  packages/tabs/src/TabsContainer.spec.js
  packages/utilities/src/utils/getControlledValue.js
Due: eslint, prettier --write

fix(selection): reducer number of renders when controlled
  packages/selection/src/useSelection.js
Due: eslint, prettier --write

fix(selection): reducer number of renders when controlled (#100)
  packages/selection/src/useSelection.js
Due: eslint, prettier --write

Cleanup
  package.json
Due: prettier-package-json --write

Update renovate configuration
  renovate.json
Due: none

Use code owners rather than renovate `reviewers`
  .github/CODEOWNERS
  renovate.json
Due: none

newline
  .github/CODEOWNERS
Due: none

feat(utilities): migrate container-utilities to TS
  packages/utilities/package.json
  packages/utilities/src/index.spec.js
  packages/utilities/src/index.ts
  packages/utilities/src/utils/IdManager.spec.ts
  packages/utilities/src/utils/IdManager.ts
  packages/utilities/src/utils/KEY_CODES.ts
  packages/utilities/src/utils/composeEventHandlers.spec.ts
  packages/utilities/src/utils/composeEventHandlers.ts
  packages/utilities/src/utils/getControlledValue.spec.ts
  packages/utilities/src/utils/getControlledValue.ts
  packages/utilities/src/utils/useCombinedRefs.spec.tsx
  packages/utilities/src/utils/useCombinedRefs.ts
  packages/utilities/tsconfig.build.json
Due: eslint, prettier --write, prettier-package-json --write

chore(build): introduce TypeScript to build
  .eslintrc.json
  .lintstagedrc
  .storybook/config.js
  .storybook/tsconfig.storybook.json
  .storybook/webpack.config.js
  package.json
  tsconfig.json
  utils/build/declarations.d.ts
  utils/build/webpack.commonjs.js
  utils/test/jest.config.js
  utils/test/jest.d.ts
  utils/test/jest.resolver.js
  utils/test/tsconfig.test.json
  yarn.lock
Due: eslint, prettier --write, prettier-package-json --write

chore: update renovate configuration (#102)
  .github/CODEOWNERS
  package.json
  renovate.json
Due: prettier-package-json --write

Add missing npm commands
  package.json
  packages/focusvisible/src/useFocusVisible.js
  packages/schedule/src/useSchedule.js
Due: eslint, prettier --write, prettier-package-json --write

Add travis TSC run
  .travis.yml
  package.json
  packages/utilities/src/utils/composeEventHandlers.ts
  yarn.lock
Due: prettier-package-json --write

feat(utilities): migrate container-utilities to TypeScript (#103)
  .eslintrc.json
  .lintstagedrc
  .storybook/config.js
  .storybook/tsconfig.storybook.json
  .storybook/webpack.config.js
  .travis.yml
  package.json
  packages/focusvisible/src/useFocusVisible.js
  packages/schedule/src/useSchedule.js
  packages/utilities/package.json
  packages/utilities/src/index.spec.js
  packages/utilities/src/index.ts
  packages/utilities/src/utils/IdManager.spec.ts
  packages/utilities/src/utils/IdManager.ts
  packages/utilities/src/utils/KEY_CODES.ts
  packages/utilities/src/utils/composeEventHandlers.spec.ts
  packages/utilities/src/utils/composeEventHandlers.ts
  packages/utilities/src/utils/getControlledValue.spec.ts
  packages/utilities/src/utils/getControlledValue.ts
  packages/utilities/src/utils/useCombinedRefs.spec.tsx
  packages/utilities/src/utils/useCombinedRefs.ts
  packages/utilities/tsconfig.build.json
  tsconfig.json
  utils/build/declarations.d.ts
  utils/build/webpack.commonjs.js
  utils/test/jest.config.js
  utils/test/jest.d.ts
  utils/test/jest.resolver.js
  utils/test/tsconfig.test.json
  yarn.lock
Due: eslint, prettier --write, prettier-package-json --write

chore(release): publish
  packages/accordion/CHANGELOG.md
  packages/accordion/package.json
  packages/buttongroup/CHANGELOG.md
  packages/buttongroup/package.json
  packages/field/CHANGELOG.md
  packages/field/package.json
  packages/focusjail/CHANGELOG.md
  packages/focusjail/package.json
  packages/focusvisible/CHANGELOG.md
  packages/focusvisible/package.json
  packages/keyboardfocus/CHANGELOG.md
  packages/keyboardfocus/package.json
  packages/modal/CHANGELOG.md
  packages/modal/package.json
  packages/pagination/CHANGELOG.md
  packages/pagination/package.json
  packages/schedule/CHANGELOG.md
  packages/schedule/package.json
  packages/selection/CHANGELOG.md
  packages/selection/package.json
  packages/tabs/CHANGELOG.md
  packages/tabs/package.json
  packages/tooltip/CHANGELOG.md
  packages/tooltip/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
Due: prettier-package-json --write

feat(accordion): allow useAccordion hook to become controlled
  packages/accordion/src/AccordionContainer.spec.js
  packages/accordion/src/useAccordion.js
  packages/accordion/stories.js
Due: eslint, prettier --write

feat(accordion): allow useAccordion hook to become controlled (#104)
  packages/accordion/src/AccordionContainer.spec.js
  packages/accordion/src/useAccordion.js
  packages/accordion/stories.js
Due: eslint, prettier --write

chore(release): publish
  packages/accordion/CHANGELOG.md
  packages/accordion/package.json
Due: prettier-package-json --write

Update renovate schedule
  renovate.json
Due: none

chore: update renovate schedule (#106)
  renovate.json
Due: none

Add `getExports` utility and configuration
  package.json
  tsconfig.json
  utils/build/declarations.d.ts
  utils/test/jest.config.js
  utils/test/utilities.ts
  yarn.lock
Due: eslint, prettier --write, prettier-package-json --write

Replace `@zendeskgarden/react-testing` with `garden-test-utils`
  packages/.template/src/index.spec.js
  packages/accordion/src/index.spec.js
  packages/breadcrumb/src/index.spec.js
  packages/buttongroup/src/index.spec.js
  packages/field/src/index.spec.js
  packages/focusjail/src/index.spec.js
  packages/focusvisible/src/index.spec.js
  packages/keyboardfocus/src/index.spec.js
  packages/modal/src/index.spec.js
  packages/pagination/src/index.spec.js
  packages/schedule/src/index.spec.js
  packages/selection/src/index.spec.js
  packages/tabs/src/index.spec.js
  packages/tooltip/src/index.spec.js
Due: eslint, prettier --write

chore: remove deprecated `@zendeskgarden/react-testing` dependency (#107)
  package.json
  packages/.template/src/index.spec.js
  packages/accordion/src/index.spec.js
  packages/breadcrumb/src/index.spec.js
  packages/buttongroup/src/index.spec.js
  packages/field/src/index.spec.js
  packages/focusjail/src/index.spec.js
  packages/focusvisible/src/index.spec.js
  packages/keyboardfocus/src/index.spec.js
  packages/modal/src/index.spec.js
  packages/pagination/src/index.spec.js
  packages/schedule/src/index.spec.js
  packages/selection/src/index.spec.js
  packages/tabs/src/index.spec.js
  packages/tooltip/src/index.spec.js
  tsconfig.json
  utils/build/declarations.d.ts
  utils/test/jest.config.js
  utils/test/utilities.ts
  yarn.lock
Due: eslint, prettier --write, prettier-package-json --write

feat(selection): migrate useSelection to TS
  package.json
  packages/selection/package.json
  packages/selection/src/SelectionContainer.js
  packages/selection/src/SelectionContainer.spec.tsx
  packages/selection/src/SelectionContainer.ts
  packages/selection/src/index.js
  packages/selection/src/index.spec.js
  packages/selection/src/index.ts
  packages/selection/src/useSelection.ts
  packages/selection/src/utils/ACTIONS.js
  packages/selection/src/utils/DIRECTIONS.js
  packages/selection/stories.tsx
  packages/selection/tsconfig.build.json
  packages/utilities/src/utils/composeEventHandlers.ts
Due: eslint, prettier --write, prettier-package-json --write

feat(buttongroup): migrate useButtonGroup to TS
  packages/buttongroup/package.json
  packages/buttongroup/src/ButtonGroupContainer.js
  packages/buttongroup/src/ButtonGroupContainer.spec.tsx
  packages/buttongroup/src/ButtonGroupContainer.ts
  packages/buttongroup/src/index.js
  packages/buttongroup/src/index.spec.js
  packages/buttongroup/src/index.ts
  packages/buttongroup/src/useButtonGroup.js
  packages/buttongroup/src/useButtonGroup.ts
  packages/buttongroup/stories.tsx
  packages/buttongroup/tsconfig.build.json
Due: eslint, prettier --write, prettier-package-json --write

Add stories to TS compilation
  package.json
  packages/buttongroup/stories.tsx
  tsconfig.json
  yarn.lock
Due: prettier-package-json --write

Remove extra fakeTimer call
  packages/selection/src/SelectionContainer.spec.tsx
Due: none

feat(selection|buttongroup): migrate useSelection and useButtonGroup to TypeScript (#105)
  package.json
  packages/buttongroup/package.json
  packages/buttongroup/src/ButtonGroupContainer.js
  packages/buttongroup/src/ButtonGroupContainer.spec.tsx
  packages/buttongroup/src/ButtonGroupContainer.ts
  packages/buttongroup/src/index.js
  packages/buttongroup/src/index.spec.js
  packages/buttongroup/src/index.ts
  packages/buttongroup/src/useButtonGroup.js
  packages/buttongroup/src/useButtonGroup.ts
  packages/buttongroup/stories.tsx
  packages/buttongroup/tsconfig.build.json
  packages/selection/package.json
  packages/selection/src/SelectionContainer.js
  packages/selection/src/SelectionContainer.spec.tsx
  packages/selection/src/SelectionContainer.ts
  packages/selection/src/index.js
  packages/selection/src/index.spec.js
  packages/selection/src/index.ts
  packages/selection/src/useSelection.ts
  packages/selection/src/utils/ACTIONS.js
  packages/selection/src/utils/DIRECTIONS.js
  packages/selection/stories.tsx
  packages/selection/tsconfig.build.json
  packages/utilities/src/utils/composeEventHandlers.ts
  tsconfig.json
  yarn.lock
Due: eslint, prettier --write, prettier-package-json --write

Migrate useBreadcrumb to TypeScript
  packages/breadcrumb/package.json
  packages/breadcrumb/src/BreadcrumbContainer.js
  packages/breadcrumb/src/BreadcrumbContainer.spec.tsx
  packages/breadcrumb/src/BreadcrumbContainer.ts
  packages/breadcrumb/src/index.js
  packages/breadcrumb/src/index.spec.js
  packages/breadcrumb/src/index.ts
  packages/breadcrumb/src/useBreadcrumb.ts
  packages/breadcrumb/stories.tsx
  packages/breadcrumb/tsconfig.build.json
Due: eslint, prettier --write, prettier-package-json --write

feat(breadcrumb): migrate useBreadcrumb to TypeScript
  packages/breadcrumb/package.json
  packages/breadcrumb/src/BreadcrumbContainer.js
  packages/breadcrumb/src/BreadcrumbContainer.spec.tsx
  packages/breadcrumb/src/BreadcrumbContainer.ts
  packages/breadcrumb/src/index.js
  packages/breadcrumb/src/index.spec.js
  packages/breadcrumb/src/index.ts
  packages/breadcrumb/src/useBreadcrumb.ts
  packages/breadcrumb/stories.tsx
  packages/breadcrumb/tsconfig.build.json
Due: eslint, prettier --write, prettier-package-json --write

chore(release): publish
  packages/breadcrumb/CHANGELOG.md
  packages/breadcrumb/package.json
Due: prettier-package-json --write

feat(accordion): migrate useAccordion to TypeScript
  packages/accordion/package.json
  packages/accordion/src/AccordionContainer.js
  packages/accordion/src/AccordionContainer.spec.tsx
  packages/accordion/src/AccordionContainer.ts
  packages/accordion/src/index.js
  packages/accordion/src/index.spec.js
  packages/accordion/src/index.ts
  packages/accordion/src/useAccordion.ts
  packages/accordion/stories.tsx
  packages/accordion/tsconfig.build.json
Due: eslint, prettier --write, prettier-package-json --write

feat(accordion): migrate useAccordion to TypeScript (#109)
  packages/accordion/package.json
  packages/accordion/src/AccordionContainer.js
  packages/accordion/src/AccordionContainer.spec.tsx
  packages/accordion/src/AccordionContainer.ts
  packages/accordion/src/index.js
  packages/accordion/src/index.spec.js
  packages/accordion/src/index.ts
  packages/accordion/src/useAccordion.ts
  packages/accordion/stories.tsx
  packages/accordion/tsconfig.build.json
Due: eslint, prettier --write, prettier-package-json --write

feat(field): migrate useField to TypeScript
  packages/field/package.json
  packages/field/src/FieldContainer.js
  packages/field/src/FieldContainer.spec.tsx
  packages/field/src/FieldContainer.ts
  packages/field/src/index.spec.js
  packages/field/src/index.ts
  packages/field/src/useField.ts
  packages/field/stories.tsx
  packages/field/tsconfig.build.json
Due: eslint, prettier --write, prettier-package-json --write

Path conditions:
  eslint: any of: *.js
  prettier --write: any of: *.js
  prettier-package-json --write: any of: **/package.json
