Repository zendeskgarden/react-containers: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "eslint --max-warnings 0",
    "jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests",
    "prettier --write"
  ],
  "!(*CHANGELOG).md": [
    "markdownlint",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

chore(menu): improve test coverage on controlled usage
  packages/menu/.size-snapshot.json
  packages/menu/src/MenuContainer.spec.tsx
  packages/menu/src/useMenu.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore(menu): adds additional controlled usage tests
  packages/menu/.size-snapshot.json
  packages/menu/src/MenuContainer.spec.tsx
  packages/menu/src/useMenu.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore(menu): cleanup for days
  packages/menu/src/useMenu.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

refactor(menu): moves disabled hook arg to trigger prop getter for more direct api
  packages/menu/.size-snapshot.json
  packages/menu/demo/menu.stories.mdx
  packages/menu/demo/stories/MenuStory.tsx
  packages/menu/demo/stories/data.ts
  packages/menu/src/MenuContainer.spec.tsx
  packages/menu/src/MenuContainer.tsx
  packages/menu/src/types.ts
  packages/menu/src/useMenu.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

refactor(menu): code review fixes from Francois-Esquire
  packages/menu/.size-snapshot.json
  packages/menu/demo/stories/MenuStory.tsx
  packages/menu/src/MenuContainer.spec.tsx
  packages/menu/src/useMenu.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Update Downshift InputFocus to InputClick
  packages/combobox/src/useCombobox.ts
  packages/combobox/src/utils.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

refactor(menu): code review from jzempel
  packages/menu/.size-snapshot.json
  packages/menu/README.md
  packages/menu/demo/menu.stories.mdx
  packages/menu/demo/stories/MenuStory.tsx
  packages/menu/src/MenuContainer.spec.tsx
  packages/menu/src/MenuContainer.tsx
  packages/menu/src/index.ts
  packages/menu/src/types.ts
  packages/menu/src/useMenu.ts
  packages/menu/src/utils.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

refactor(menu): light cleanup in prop getters
  packages/menu/.size-snapshot.json
  packages/menu/src/useMenu.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore: upgrade @zendeskgarden/scripts to v2
  package.json
  yarn.lock
Due: prettier-package-json --write

Update new script
  .circleci/config.yml
  package.json
  utils/scripts/deploy.mjs
  utils/scripts/new.mjs
  yarn.lock
Due: prettier-package-json --write

Update deploy script
  utils/scripts/deploy.mjs
  yarn.lock
Due: none

Restore resolution
  package.json
  yarn.lock
Due: prettier-package-json --write

Fix lint errors
  packages/grid/src/GridContainer.spec.tsx
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Update format extensions
  package.json
Due: prettier-package-json --write

refactor(menu): adds next and previous entities to menu items
  packages/menu/.size-snapshot.json
  packages/menu/demo/stories/data.ts
  packages/menu/demo/~patterns/patterns.stories.mdx
  packages/menu/demo/~patterns/stories/NestedStory.tsx
  packages/menu/demo/~patterns/stories/data.ts
  packages/menu/src/types.ts
  packages/menu/src/useMenu.ts
  packages/menu/src/utils.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore: upgrade @zendeskgarden/scripts to v2 (#577)
  .circleci/config.yml
  package.json
  packages/grid/src/GridContainer.spec.tsx
  utils/scripts/deploy.mjs
  utils/scripts/new.mjs
  yarn.lock
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

chore(menu): code review fixes
  packages/menu/.size-snapshot.json
  packages/menu/demo/stories/MenuStory.tsx
  packages/menu/demo/stories/data.ts
  packages/menu/demo/~patterns/stories/NestedStory.tsx
  packages/menu/src/MenuContainer.spec.tsx
  packages/menu/src/useMenu.ts
  packages/menu/src/utils.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Downshift v8
  packages/combobox/.size-snapshot.json
  packages/combobox/src/ComboboxContainer.spec.tsx
  packages/combobox/src/useCombobox.ts
  packages/combobox/yarn.lock
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Add testing coverage
  packages/combobox/src/ComboboxContainer.spec.tsx
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore(menu): remove expanded control from sub-menu pattern
  packages/menu/.size-snapshot.json
  packages/menu/demo/stories/MenuStory.tsx
  packages/menu/demo/~patterns/stories/NestedStory.tsx
  packages/menu/src/useMenu.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Refine expansion behavior for autocomplete
  packages/combobox/.size-snapshot.json
  packages/combobox/src/ComboboxContainer.spec.tsx
  packages/combobox/src/useCombobox.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Updates [skip ci]
  445.c9e01c9d.iframe.bundle.js
  445.c9e01c9d.iframe.bundle.js.LICENSE.txt
  445.e7c44349.iframe.bundle.js
  combobox-demo-combobox-stories-mdx.6b250e47.iframe.bundle.js
  combobox-demo-combobox-stories-mdx.f2b21dc5.iframe.bundle.js
  iframe.html
  project.json
  runtime~main.25115da0.iframe.bundle.js
  runtime~main.29b04e22.iframe.bundle.js
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore(release): publish
  packages/combobox/.size-snapshot.json
  packages/combobox/CHANGELOG.md
  packages/combobox/package.json
  packages/grid/CHANGELOG.md
  packages/grid/package.json
Due: prettier-package-json --write

Updates [skip ci]
  project.json
Due: none

fix(utilities): update `useId` to handle SSR
  packages/utilities/.size-snapshot.json
  packages/utilities/src/utils/useId.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

refactor(menu): improve focus management between controlled and uncontrolled menus
  packages/menu/.size-snapshot.json
  packages/menu/demo/menu.stories.mdx
  packages/menu/demo/~patterns/stories/NestedStory.tsx
  packages/menu/src/MenuContainer.spec.tsx
  packages/menu/src/types.ts
  packages/menu/src/useMenu.ts
  packages/menu/src/utils.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore(menu): allows uncontrolled focus in N+ nested menus
  packages/menu/.size-snapshot.json
  packages/menu/demo/menu.stories.mdx
  packages/menu/demo/~patterns/patterns.stories.mdx
  packages/menu/demo/~patterns/stories/NestedStory.tsx
  packages/menu/src/useMenu.ts
  packages/menu/src/utils.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore(menu): adds next/previous tests
  packages/menu/.size-snapshot.json
  packages/menu/demo/~patterns/stories/NestedStory.tsx
  packages/menu/src/MenuContainer.spec.tsx
  packages/menu/src/types.ts
  packages/menu/src/useMenu.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore(menu): cleanup ternaries + add submenu controlled focus example
  packages/menu/.size-snapshot.json
  packages/menu/demo/menu.stories.mdx
  packages/menu/demo/~patterns/patterns.stories.mdx
  packages/menu/demo/~patterns/stories/NestedStory.tsx
  packages/menu/src/types.ts
  packages/menu/src/useMenu.ts
  packages/menu/src/utils.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

refactor(menu): replace ternaries with logical shorthand
  packages/menu/.size-snapshot.json
  packages/menu/src/useMenu.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore(menu): reducer cleanup
  packages/menu/.size-snapshot.json
  packages/menu/demo/menu.stories.mdx
  packages/menu/demo/~patterns/patterns.stories.mdx
  packages/menu/package.json
  packages/menu/src/utils.ts
  packages/menu/yarn.lock
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

chore(menu): cleanup property refs
  packages/menu/.size-snapshot.json
  packages/menu/src/useMenu.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore: cleanup else/if blocks
  packages/menu/.size-snapshot.json
  packages/menu/src/useMenu.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore(menu): adds uncontrolled focus tests for submenu
  packages/menu/.size-snapshot.json
  packages/menu/src/MenuContainer.spec.tsx
  packages/menu/src/useMenu.ts
  packages/menu/src/utils.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Add useId hook unit tests
  package.json
  packages/utilities/.size-snapshot.json
  packages/utilities/src/utils/useId.spec.tsx
  packages/utilities/src/utils/useId.ts
  yarn.lock
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

chore(menu): hides 'icons' in nested menu items
  packages/menu/demo/~patterns/stories/NestedStory.tsx
  packages/menu/src/useMenu.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore(menu): state reducer optimizations
  packages/menu/.size-snapshot.json
  packages/menu/package.json
  packages/menu/src/utils.ts
  packages/menu/yarn.lock
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

Add CSR test
  packages/utilities/src/utils/useId.spec.tsx
  packages/utilities/src/utils/useId.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write
