Repository zendeskgarden/react-containers: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "eslint --max-warnings 0",
    "jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests",
    "prettier --write"
  ],
  "!(*CHANGELOG).md": [
    "markdownlint",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

chore(deps): remove babel runtime from deps and improve build pipeline
  packages/.template/package.json
  packages/accordion/package.json
  packages/accordion/yarn.lock
  packages/breadcrumb/package.json
  packages/combobox/package.json
  packages/combobox/yarn.lock
  packages/field/package.json
  packages/focusjail/.size-snapshot.json
  packages/focusjail/package.json
  packages/focusjail/yarn.lock
  packages/focusvisible/package.json
  packages/grid/package.json
  packages/keyboardfocus/package.json
  packages/modal/package.json
  packages/schedule/package.json
  packages/scrollregion/package.json
  packages/scrollregion/yarn.lock
  packages/selection/package.json
  packages/slider/package.json
  packages/slider/yarn.lock
  packages/splitter/package.json
  packages/tabs/package.json
  packages/tooltip/package.json
  packages/tooltip/yarn.lock
  packages/utilities/package.json
  packages/utilities/yarn.lock
  utils/build/rollup.config.js
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

chore(deps): prune deprecated and unused dependencies (#569)
  package.json
  yarn.lock
Due: prettier-package-json --write

fix(combobox): remove problematic tag focus handling
  packages/combobox/.size-snapshot.json
  packages/combobox/src/useCombobox.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

fix(combobox): remove problematic tag focus handling (#571)
  packages/combobox/.size-snapshot.json
  packages/combobox/src/useCombobox.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Updates [skip ci]
  combobox-demo-combobox-stories-mdx.334e66bb.iframe.bundle.js
  combobox-demo-combobox-stories-mdx.d44927b1.iframe.bundle.js
  iframe.html
  project.json
  runtime~main.1683e97d.iframe.bundle.js
  runtime~main.64214a1c.iframe.bundle.js
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore(release): publish
  packages/accordion/CHANGELOG.md
  packages/accordion/package.json
  packages/breadcrumb/CHANGELOG.md
  packages/breadcrumb/package.json
  packages/combobox/.size-snapshot.json
  packages/combobox/CHANGELOG.md
  packages/combobox/package.json
  packages/field/CHANGELOG.md
  packages/field/package.json
  packages/focusjail/CHANGELOG.md
  packages/focusjail/package.json
  packages/focusvisible/CHANGELOG.md
  packages/focusvisible/package.json
  packages/grid/CHANGELOG.md
  packages/grid/package.json
  packages/keyboardfocus/CHANGELOG.md
  packages/keyboardfocus/package.json
  packages/modal/CHANGELOG.md
  packages/modal/package.json
  packages/schedule/CHANGELOG.md
  packages/schedule/package.json
  packages/scrollregion/CHANGELOG.md
  packages/scrollregion/package.json
  packages/selection/.size-snapshot.json
  packages/selection/CHANGELOG.md
  packages/selection/package.json
  packages/slider/.size-snapshot.json
  packages/slider/CHANGELOG.md
  packages/slider/package.json
  packages/splitter/.size-snapshot.json
  packages/splitter/CHANGELOG.md
  packages/splitter/package.json
  packages/tabs/.size-snapshot.json
  packages/tabs/CHANGELOG.md
  packages/tabs/package.json
  packages/tooltip/CHANGELOG.md
  packages/tooltip/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
Due: prettier-package-json --write

Updates [skip ci]
  project.json
Due: none

feat(accordion)!: add sections prop
  packages/accordion/.size-snapshot.json
  packages/accordion/README.md
  packages/accordion/demo/accordion.stories.mdx
  packages/accordion/demo/stories/AccordionStory.tsx
  packages/accordion/package.json
  packages/accordion/src/AccordionContainer.spec.tsx
  packages/accordion/src/AccordionContainer.tsx
  packages/accordion/src/index.ts
  packages/accordion/src/types.ts
  packages/accordion/src/useAccordion.ts
  packages/accordion/yarn.lock
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

fix: address feedback
  packages/accordion/.size-snapshot.json
  packages/accordion/demo/accordion.stories.mdx
  packages/accordion/demo/stories/AccordionStory.tsx
  packages/accordion/src/AccordionContainer.spec.tsx
  packages/accordion/src/AccordionContainer.tsx
  packages/accordion/src/types.ts
  packages/accordion/src/useAccordion.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

fix: type export
  packages/accordion/src/index.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

refactor: set default for onchange
  packages/accordion/.size-snapshot.json
  packages/accordion/src/useAccordion.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

fix: remove type assertion
  packages/accordion/src/useAccordion.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

fix: omit aria-disabled when false
  packages/accordion/.size-snapshot.json
  packages/accordion/src/AccordionContainer.spec.tsx
  packages/accordion/src/useAccordion.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

fix: address feedback from @jzempel
  packages/accordion/.size-snapshot.json
  packages/accordion/demo/accordion.stories.mdx
  packages/accordion/demo/stories/AccordionStory.tsx
  packages/accordion/demo/stories/data.ts
  packages/accordion/src/AccordionContainer.spec.tsx
  packages/accordion/src/types.ts
  packages/accordion/src/useAccordion.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

fix: add default for sections
  packages/accordion/.size-snapshot.json
  packages/accordion/demo/accordion.stories.mdx
  packages/accordion/src/useAccordion.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

fix: remove props as optional
  packages/accordion/.size-snapshot.json
  packages/accordion/demo/stories/data.ts
  packages/accordion/src/AccordionContainer.spec.tsx
  packages/accordion/src/types.ts
  packages/accordion/src/useAccordion.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

feat(accordion)!: add sections prop (#572)
  packages/accordion/.size-snapshot.json
  packages/accordion/README.md
  packages/accordion/demo/accordion.stories.mdx
  packages/accordion/demo/stories/AccordionStory.tsx
  packages/accordion/demo/stories/data.ts
  packages/accordion/package.json
  packages/accordion/src/AccordionContainer.spec.tsx
  packages/accordion/src/AccordionContainer.tsx
  packages/accordion/src/index.ts
  packages/accordion/src/types.ts
  packages/accordion/src/useAccordion.ts
  packages/accordion/yarn.lock
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

Updates [skip ci]
  accordion-demo-accordion-stories-mdx.66068241.iframe.bundle.js
  accordion-demo-accordion-stories-mdx.66068241.iframe.bundle.js.LICENSE.txt
  accordion-demo-accordion-stories-mdx.9d261bac.iframe.bundle.js
  iframe.html
  project.json
  runtime~main.1683e97d.iframe.bundle.js
  runtime~main.52ec2c75.iframe.bundle.js
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore(accordions): sync lock file
  packages/accordion/yarn.lock
Due: none

chore(accordions): sync lock file (#573)
  packages/accordion/yarn.lock
Due: none

chore(deps): revert prettier to v2
  package.json
  yarn.lock
Due: prettier-package-json --write

fix: reformat useSlider
  packages/slider/src/useSlider.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore(deps): revert prettier to v2 (#574)
  package.json
  packages/slider/src/useSlider.ts
  yarn.lock
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

chore(release): publish
  packages/accordion/.size-snapshot.json
  packages/accordion/CHANGELOG.md
  packages/accordion/package.json
Due: prettier-package-json --write

chore(accordion): amend changelog for v3
  packages/accordion/CHANGELOG.md
Due: none

chore(accordion): amend changelog for v3 (#575)
  packages/accordion/CHANGELOG.md
Due: none

feat(menu): adds container-menu
  README.md
  packages/menu/.size-snapshot.json
  packages/menu/CHANGELOG.md
  packages/menu/README.md
  packages/menu/demo/menu.stories.mdx
  packages/menu/demo/stories/MenuStory.tsx
  packages/menu/demo/stories/data.ts
  packages/menu/package.json
  packages/menu/src/MenuContainer.spec.tsx
  packages/menu/src/MenuContainer.tsx
  packages/menu/src/index.ts
  packages/menu/src/types.ts
  packages/menu/src/useMenu.ts
  packages/menu/src/utils.ts
  packages/menu/tsconfig.build.json
  packages/menu/yarn.lock
  tsconfig.json
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

chore(menu): adds more tests
  packages/menu/.size-snapshot.json
  packages/menu/src/MenuContainer.spec.tsx
  packages/menu/src/types.ts
  packages/menu/src/useMenu.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore(menu): adds defaultFocusedValue
  packages/menu/.size-snapshot.json
  packages/menu/src/MenuContainer.spec.tsx
  packages/menu/src/useMenu.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore(menu): updates README with usage
  packages/menu/.size-snapshot.json
  packages/menu/README.md
  packages/menu/src/types.ts
  packages/menu/src/useMenu.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore: cleanup and getItemProps arg remapping
  packages/menu/README.md
  packages/menu/demo/stories/MenuStory.tsx
  packages/menu/src/MenuContainer.spec.tsx
  packages/menu/src/types.ts
  packages/menu/src/useMenu.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore(menu): inline item roles
  packages/menu/src/useMenu.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

fix(menu): make value argument any for selection prop getter
  packages/menu/.size-snapshot.json
  packages/menu/src/useMenu.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore(menu): remove lingering parameters from useMenu
  packages/menu/src/types.ts
  packages/menu/src/useMenu.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write
