Repository zendeskgarden/react-containers: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Remove selection related tests
  packages/grid/.size-snapshot.json
  packages/grid/src/GridContainer.spec.tsx
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update README
  packages/grid/README.md
Due: none

fix(splitter): remove unnecessary prevent defaults
  packages/splitter/.size-snapshot.json
  packages/splitter/src/useSplitter.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(splitter): added horizontal keyboard map
  packages/splitter/.size-snapshot.json
  packages/splitter/src/useSplitter.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(splitter): fixes focus on pointer and adds a horizontal keyboard map
  packages/splitter/.size-snapshot.json
  packages/splitter/src/useSplitter.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Updates [skip ci]
  iframe.html
  main.de4d8950.iframe.bundle.js
  main.e511af7d.iframe.bundle.js
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(release): publish
  packages/splitter/.size-snapshot.json
  packages/splitter/CHANGELOG.md
  packages/splitter/package.json
Due: prettier-package-json --write

Refactor useGrid
  packages/grid/.size-snapshot.json
  packages/grid/src/useGrid.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update tests
  packages/grid/src/GridContainer.spec.tsx
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Abstract document environment and update demo to handle radio group focus
  packages/grid/.size-snapshot.json
  packages/grid/demo/stories/GridStory.tsx
  packages/grid/src/GridContainer.spec.tsx
  packages/grid/src/GridContainer.tsx
  packages/grid/src/useGrid.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Minor refactor
  packages/grid/.size-snapshot.json
  packages/grid/src/useGrid.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Re-word
  packages/grid/demo/stories/GridStory.tsx
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Undo jsdoc changes
  packages/grid/src/useGrid.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Simplified event vs ref usage
  packages/grid/demo/stories/GridStory.tsx
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(grid)!: remove selection (#446)
  packages/grid/.size-snapshot.json
  packages/grid/README.md
  packages/grid/demo/grid.stories.mdx
  packages/grid/demo/stories/GridStory.tsx
  packages/grid/src/GridContainer.spec.tsx
  packages/grid/src/GridContainer.tsx
  packages/grid/src/useGrid.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Updates [skip ci]
  iframe.html
  main.3cde12cf.iframe.bundle.js
  main.e511af7d.iframe.bundle.js
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(release): publish
  packages/grid/CHANGELOG.md
  packages/grid/package.json
Due: prettier-package-json --write

chore(deps): update node orb to v5.0.2
  .circleci/config.yml
Due: none

chore(demo): add StrictMode decorator
  .storybook/preview.js
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(deps): update non-major shared dependencies
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(demo): add StrictMode decorator (#459)
  .storybook/preview.js
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Updates [skip ci]
  iframe.html
  main.1cf89c48.iframe.bundle.js
  main.3cde12cf.iframe.bundle.js
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(deps): update non-major package dependencies
  packages/scrollregion/package.json
  packages/scrollregion/yarn.lock
  packages/utilities/package.json
  packages/utilities/yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency husky to v8
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency @rollup/plugin-commonjs to v22
  package.json
  yarn.lock
Due: prettier-package-json --write

Updates [skip ci]
  project.json
Due: none

chore(deps): update dependency @zendeskgarden/eslint-config to v28
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update jest monorepo to v28
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(jest): add jest environment jsdom package
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(eslint): correct eslint issues
  packages/accordion/.size-snapshot.json
  packages/accordion/src/useAccordion.ts
  packages/field/.size-snapshot.json
  packages/field/src/useField.ts
  packages/grid/src/GridContainer.spec.tsx
  packages/modal/.size-snapshot.json
  packages/modal/src/useModal.ts
  packages/schedule/.size-snapshot.json
  packages/schedule/src/useSchedule.ts
  packages/splitter/.size-snapshot.json
  packages/splitter/src/SplitterContainer.spec.tsx
  packages/splitter/src/useSplitter.ts
  packages/tabs/.size-snapshot.json
  packages/tabs/src/useTabs.ts
  packages/tooltip/.size-snapshot.json
  packages/tooltip/src/useTooltip.ts
  packages/treeview/.size-snapshot.json
  packages/treeview/src/useTreeview.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(deps): update dependency @types/react-dom to v18
  package.json
  yarn.lock
Due: prettier-package-json --write

feat(measuretiming): initial commit
  .prettierrc
  README.md
  packages/measuretiming/.size-snapshot.json
  packages/measuretiming/CHANGELOG.md
  packages/measuretiming/README.md
  packages/measuretiming/demo/#readme.stories.mdx
  packages/measuretiming/demo/measuretiming.stories.mdx
  packages/measuretiming/demo/stories/MeasuretimingStory.tsx
  packages/measuretiming/package.json
  packages/measuretiming/src/ErrorBoundary.tsx
  packages/measuretiming/src/actionLog.ts
  packages/measuretiming/src/constants.ts
  packages/measuretiming/src/debounce.ts
  packages/measuretiming/src/generateReport.spec.ts
  packages/measuretiming/src/generateReport.ts
  packages/measuretiming/src/generateTimingHooks.ts
  packages/measuretiming/src/index.ts
  packages/measuretiming/src/performanceMark.ts
  packages/measuretiming/src/switchFn.spec.ts
  packages/measuretiming/src/switchFn.ts
  packages/measuretiming/src/types.ts
  packages/measuretiming/src/typescriptHelpers.ts
  packages/measuretiming/src/useActionLogRef.ts
  packages/measuretiming/src/useTiming.spec.tsx
  packages/measuretiming/src/useTiming.ts
  packages/measuretiming/src/useTimingMeasurement.ts
  packages/measuretiming/src/utilities.ts
  packages/measuretiming/tsconfig.build.json
  packages/measuretiming/useTiming.png
  packages/measuretiming/yarn.lock
  tsconfig.json
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

chore(README): fix markdown formatting
  packages/accordion/README.md
  packages/breadcrumb/README.md
  packages/buttongroup/README.md
  packages/field/README.md
  packages/focusjail/README.md
  packages/focusvisible/README.md
  packages/grid/README.md
  packages/keyboardfocus/README.md
  packages/modal/README.md
  packages/pagination/README.md
  packages/schedule/README.md
  packages/scrollregion/README.md
  packages/selection/README.md
  packages/splitter/README.md
  packages/tabs/README.md
  packages/tooltip/README.md
  packages/treeview/README.md
  packages/utilities/README.md
Due: none

Refine aria prop typing for breadcrumbs
  packages/breadcrumb/.size-snapshot.json
  packages/breadcrumb/demo/breadcrumb.stories.mdx
  packages/breadcrumb/demo/stories/BreadcrumbStory.tsx
  packages/breadcrumb/src/BreadcrumbContainer.spec.tsx
  packages/breadcrumb/src/BreadcrumbContainer.tsx
  packages/breadcrumb/src/index.ts
  packages/breadcrumb/src/types.ts
  packages/breadcrumb/src/useBreadcrumb.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Refactor using generic types
  packages/breadcrumb/.size-snapshot.json
  packages/focusjail/.size-snapshot.json
  packages/focusjail/demo/stories/FocusJailStory.tsx
  packages/focusjail/src/FocusJailContainer.spec.tsx
  packages/focusjail/src/FocusJailContainer.tsx
  packages/focusjail/src/index.ts
  packages/focusjail/src/types.ts
  packages/focusjail/src/useFocusJail.ts
  packages/modal/.size-snapshot.json
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Path conditions:
  eslint --max-warnings 0: any of: *.{js,ts,tsx}
  jest --config=utils/test/jest.config.js --findRelatedTests: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier-package-json --write: any of: **/package.json
