Repository zendeskgarden/react-containers: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

refactor: PR feedback
  packages/menu/src/types.ts
  packages/menu/src/useMenu.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore: update propTypes
  packages/menu/src/MenuContainer.tsx
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

refactor: do not update selection state for link items
  packages/menu/src/useMenu.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

refactor: account for initial selected link items for selection
  packages/menu/src/useMenu.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

refactor: set href to undefined if link item is disabled
  packages/menu/src/useMenu.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

docs: document new props
  packages/menu/src/types.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

docs: update story
  packages/menu/demo/stories/MenuStory.tsx
  packages/menu/demo/stories/data.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

refactor: return previous selection state on link item click
  packages/menu/src/MenuContainer.spec.tsx
  packages/menu/src/useMenu.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

feat(container-menu)!: add `getAnchorProps` props getter
  packages/menu/README.md
  packages/menu/demo/stories/MenuStory.tsx
  packages/menu/src/MenuContainer.spec.tsx
  packages/menu/src/types.ts
  packages/menu/src/useMenu.ts
  packages/menu/src/utils.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

fix(container-menu): correct logic for selected link items
  packages/menu/src/useMenu.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

docs: add visual affordance to selected link menu items
  packages/menu/demo/stories/MenuStory.tsx
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore: PR feedback
  packages/menu/demo/stories/MenuStory.tsx
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

fix(useMenu story): set removed selectedItems control to undefined to avoid error
  packages/menu/demo/menu.stories.tsx
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

feat(container-menu)!: Add getAnchorProps for explicit anchor handling (#695)
  packages/menu/README.md
  packages/menu/demo/menu.stories.tsx
  packages/menu/demo/stories/MenuStory.tsx
  packages/menu/demo/stories/data.ts
  packages/menu/src/MenuContainer.spec.tsx
  packages/menu/src/types.ts
  packages/menu/src/useMenu.ts
  packages/menu/src/utils.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Updates [skip ci]
  4542.5910c11f.iframe.bundle.js
  4542.c414138c.iframe.bundle.js
  5343.5dc22107.iframe.bundle.js
  5343.93e75b85.iframe.bundle.js
  iframe.html
  menu-demo-menu-mdx.2ddc6b24.iframe.bundle.js
  menu-demo-menu-mdx.b24e6e6f.iframe.bundle.js
  project.json
  runtime~main.c88be603.iframe.bundle.js
  runtime~main.d658bd5a.iframe.bundle.js
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore(release): publish
  package-lock.json
  packages/menu/CHANGELOG.md
  packages/menu/package.json
Due: prettier-package-json --write

Updates [skip ci]
  project.json
Due: none

chore(release): publish
  packages/menu/CHANGELOG.md
Due: none

docs(CHANGELOG): clean up
  packages/menu/CHANGELOG.md
Due: none

feat(tooltip): refactor useTooltip hook with enhanced types and memoization
  package-lock.json
  packages/tooltip/package.json
  packages/tooltip/src/TooltipContainer.tsx
  packages/tooltip/src/index.ts
  packages/tooltip/src/types.ts
  packages/tooltip/src/useTooltip.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

feat(tooltip): enhance useTooltip with improved popup coordination
  packages/tooltip/package.json
  packages/tooltip/src/types.ts
  packages/tooltip/src/useTooltip.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

feat(tooltip): add MenuStory and enhance FocusStory with triggerRef
  packages/tooltip/demo/stories/TooltipStory.tsx
  packages/tooltip/demo/~patterns/patterns.mdx
  packages/tooltip/demo/~patterns/patterns.stories.tsx
  packages/tooltip/demo/~patterns/stories/FocusStory.tsx
  packages/tooltip/demo/~patterns/stories/MenuStory.tsx
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

feat(tooltip): enhance TooltipContainer tests and improve useTooltip logic for trigger popup handling
  packages/tooltip/src/TooltipContainer.spec.tsx
  packages/tooltip/src/useTooltip.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

feat(tooltip): refine trigger popup handling in useTooltip effect
  packages/tooltip/src/useTooltip.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

feat(tooltip)!: prevent a tooltip from interfering with a trigger's expanded popup (#697)
  package-lock.json
  packages/tooltip/demo/stories/TooltipStory.tsx
  packages/tooltip/demo/~patterns/patterns.mdx
  packages/tooltip/demo/~patterns/patterns.stories.tsx
  packages/tooltip/demo/~patterns/stories/FocusStory.tsx
  packages/tooltip/demo/~patterns/stories/MenuStory.tsx
  packages/tooltip/package.json
  packages/tooltip/src/TooltipContainer.spec.tsx
  packages/tooltip/src/TooltipContainer.tsx
  packages/tooltip/src/index.ts
  packages/tooltip/src/types.ts
  packages/tooltip/src/useTooltip.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

chore(release): publish
  package-lock.json
  packages/tooltip/CHANGELOG.md
  packages/tooltip/package.json
Due: prettier-package-json --write

Updates [skip ci]
  248.c3376d8b.iframe.bundle.js
  248.c3376d8b.iframe.bundle.js.LICENSE.txt
  iframe.html
  index.json
  main.06ff7c33.iframe.bundle.js
  main.fa3122ce.iframe.bundle.js
  project.json
  runtime~main.7e07c9d1.iframe.bundle.js
  runtime~main.d658bd5a.iframe.bundle.js
  tooltip-demo-patterns-patterns-mdx.3c132419.iframe.bundle.js
  tooltip-demo-patterns-patterns-mdx.a25c1a00.iframe.bundle.js
  tooltip-demo-patterns-patterns-mdx.a25c1a00.iframe.bundle.js.LICENSE.txt
  tooltip-demo-patterns-patterns-stories.5e7aa01c.iframe.bundle.js
  tooltip-demo-patterns-patterns-stories.60880b59.iframe.bundle.js
  tooltip-demo-patterns-patterns-stories.60880b59.iframe.bundle.js.LICENSE.txt
  tooltip-demo-tooltip-mdx.7aea3e30.iframe.bundle.js
  tooltip-demo-tooltip-mdx.7aea3e30.iframe.bundle.js.LICENSE.txt
  tooltip-demo-tooltip-mdx.d6439f42.iframe.bundle.js
  tooltip-demo-tooltip-stories.3ec406c6.iframe.bundle.js
  tooltip-demo-tooltip-stories.bf9d8915.iframe.bundle.js
  tooltip-demo-tooltip-stories.bf9d8915.iframe.bundle.js.LICENSE.txt
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

fix(combobox): cache management for option values and labels
  packages/combobox/src/useCombobox.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

fix(combobox): cache management for option values and labels (#698)
  packages/combobox/src/useCombobox.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore(release): publish
  package-lock.json
  packages/combobox/CHANGELOG.md
  packages/combobox/package.json
Due: prettier-package-json --write

Updates [skip ci]
  5615.0706eebb.iframe.bundle.js
  5615.196377d3.iframe.bundle.js
  iframe.html
  project.json
  runtime~main.00082864.iframe.bundle.js
  runtime~main.7e07c9d1.iframe.bundle.js
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Updates [skip ci]
  iframe.html
  main.1a46226c.iframe.bundle.js
  main.fa3122ce.iframe.bundle.js
  project.json
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

fix(container-menu): ensure outside clicks always close dropdown menu
  packages/menu/src/MenuContainer.spec.tsx
  packages/menu/src/useMenu.ts
  packages/menu/src/utils.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

fix(container-menu): ensure outside clicks always close dropdown menu (#699)
  packages/menu/src/MenuContainer.spec.tsx
  packages/menu/src/useMenu.ts
  packages/menu/src/utils.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Updates [skip ci]
  4542.5910c11f.iframe.bundle.js
  4542.f7d862b8.iframe.bundle.js
  iframe.html
  project.json
  runtime~main.00082864.iframe.bundle.js
  runtime~main.bd787ad8.iframe.bundle.js
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore(release): publish
  package-lock.json
  packages/menu/CHANGELOG.md
  packages/menu/package.json
  packages/tooltip/CHANGELOG.md
  packages/tooltip/package.json
Due: prettier-package-json --write

Path conditions:
  eslint --max-warnings 0: any of: *.{js,ts,tsx}
  jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier-package-json --write: any of: **/package.json
