Repository zendeskgarden/react-containers: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "eslint --max-warnings 0",
    "jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests",
    "prettier --write"
  ],
  "!(*CHANGELOG).md": [
    "markdownlint",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

Remove return type
  packages/utilities/src/utils/useId.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

fix(utilities): update `useId` to handle SSR (#578)
  package.json
  packages/utilities/.size-snapshot.json
  packages/utilities/src/utils/useId.spec.tsx
  packages/utilities/src/utils/useId.ts
  yarn.lock
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

Updates [skip ci]
  accordion-demo-accordion-stories-mdx.23412b09.iframe.bundle.js
  accordion-demo-accordion-stories-mdx.23412b09.iframe.bundle.js.LICENSE.txt
  accordion-demo-accordion-stories-mdx.35a5b297.iframe.bundle.js
  combobox-demo-combobox-stories-mdx.3f04eec9.iframe.bundle.js
  combobox-demo-combobox-stories-mdx.6b250e47.iframe.bundle.js
  field-demo-field-stories-mdx.b0fad587.iframe.bundle.js
  field-demo-field-stories-mdx.d2bada7d.iframe.bundle.js
  field-demo-field-stories-mdx.d2bada7d.iframe.bundle.js.LICENSE.txt
  grid-demo-grid-stories-mdx.01c1b2d5.iframe.bundle.js
  grid-demo-grid-stories-mdx.01c1b2d5.iframe.bundle.js.LICENSE.txt
  grid-demo-grid-stories-mdx.25bb68fe.iframe.bundle.js
  iframe.html
  modal-demo-modal-stories-mdx.8ae448c0.iframe.bundle.js
  modal-demo-modal-stories-mdx.c2b8d7a6.iframe.bundle.js
  modal-demo-modal-stories-mdx.c2b8d7a6.iframe.bundle.js.LICENSE.txt
  project.json
  runtime~main.29b04e22.iframe.bundle.js
  runtime~main.79a5c3e4.iframe.bundle.js
  splitter-demo-splitter-stories-mdx.1854f406.iframe.bundle.js
  splitter-demo-splitter-stories-mdx.1854f406.iframe.bundle.js.LICENSE.txt
  splitter-demo-splitter-stories-mdx.8b519f3f.iframe.bundle.js
  tabs-demo-tabs-stories-mdx.45de7b43.iframe.bundle.js
  tabs-demo-tabs-stories-mdx.45de7b43.iframe.bundle.js.LICENSE.txt
  tabs-demo-tabs-stories-mdx.5bee82b1.iframe.bundle.js
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore(release): publish
  packages/accordion/CHANGELOG.md
  packages/accordion/package.json
  packages/combobox/.size-snapshot.json
  packages/combobox/CHANGELOG.md
  packages/combobox/package.json
  packages/field/.size-snapshot.json
  packages/field/CHANGELOG.md
  packages/field/package.json
  packages/focusjail/.size-snapshot.json
  packages/focusjail/CHANGELOG.md
  packages/focusjail/package.json
  packages/grid/CHANGELOG.md
  packages/grid/package.json
  packages/keyboardfocus/.size-snapshot.json
  packages/keyboardfocus/CHANGELOG.md
  packages/keyboardfocus/package.json
  packages/modal/.size-snapshot.json
  packages/modal/CHANGELOG.md
  packages/modal/package.json
  packages/selection/.size-snapshot.json
  packages/selection/CHANGELOG.md
  packages/selection/package.json
  packages/splitter/.size-snapshot.json
  packages/splitter/CHANGELOG.md
  packages/splitter/package.json
  packages/tabs/CHANGELOG.md
  packages/tabs/package.json
  packages/tooltip/CHANGELOG.md
  packages/tooltip/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
Due: prettier-package-json --write

Updates [skip ci]
  project.json
Due: none

Mark ID parameter as optional; separate SSR/CSR tests
  packages/utilities/src/utils/useId.spec.tsx
  packages/utilities/src/utils/useId.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

fix(combobox): stabilize ID prefix
  packages/combobox/.size-snapshot.json
  packages/combobox/src/useCombobox.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

fix(combobox): stabilize ID prefix (#579)
  packages/combobox/.size-snapshot.json
  packages/combobox/src/useCombobox.ts
  packages/utilities/src/utils/useId.spec.tsx
  packages/utilities/src/utils/useId.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore(release): publish
  packages/accordion/.size-snapshot.json
  packages/accordion/CHANGELOG.md
  packages/accordion/package.json
  packages/combobox/CHANGELOG.md
  packages/combobox/package.json
  packages/field/.size-snapshot.json
  packages/field/CHANGELOG.md
  packages/field/package.json
  packages/focusjail/.size-snapshot.json
  packages/focusjail/CHANGELOG.md
  packages/focusjail/package.json
  packages/grid/.size-snapshot.json
  packages/grid/CHANGELOG.md
  packages/grid/package.json
  packages/keyboardfocus/.size-snapshot.json
  packages/keyboardfocus/CHANGELOG.md
  packages/keyboardfocus/package.json
  packages/modal/.size-snapshot.json
  packages/modal/CHANGELOG.md
  packages/modal/package.json
  packages/selection/.size-snapshot.json
  packages/selection/CHANGELOG.md
  packages/selection/package.json
  packages/splitter/.size-snapshot.json
  packages/splitter/CHANGELOG.md
  packages/splitter/package.json
  packages/tabs/.size-snapshot.json
  packages/tabs/CHANGELOG.md
  packages/tabs/package.json
  packages/tooltip/.size-snapshot.json
  packages/tooltip/CHANGELOG.md
  packages/tooltip/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
Due: prettier-package-json --write

Updates [skip ci]
  combobox-demo-combobox-stories-mdx.3f04eec9.iframe.bundle.js
  combobox-demo-combobox-stories-mdx.832fc2b5.iframe.bundle.js
  iframe.html
  project.json
  runtime~main.79a5c3e4.iframe.bundle.js
  runtime~main.d4bcd65f.iframe.bundle.js
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore: code review from @jzempel and @smritimadan
  packages/menu/.size-snapshot.json
  packages/menu/demo/menu.stories.mdx
  packages/menu/demo/~patterns/patterns.stories.mdx
  packages/menu/demo/~patterns/stories/NestedStory.tsx
  packages/menu/src/useMenu.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore: use defaultFocusedValue when opening menu
  packages/menu/.size-snapshot.json
  packages/menu/src/MenuContainer.spec.tsx
  packages/menu/src/useMenu.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore(menu): a11y improvements to storybook
  packages/menu/.size-snapshot.json
  packages/menu/demo/stories/MenuStory.tsx
  packages/menu/demo/~patterns/stories/NestedStory.tsx
  packages/menu/src/useMenu.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore(menu): moves menu keydown event to window to prevent menu persisting when screenreader focus is out of sync with browser sync
  packages/menu/.size-snapshot.json
  packages/menu/src/useMenu.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

fix(combobox): stabilize ID usage
  packages/combobox/.size-snapshot.json
  packages/combobox/src/useCombobox.ts
  packages/field/.size-snapshot.json
  packages/field/src/useField.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

feat(menu): new menu hook and container (#576)
  README.md
  packages/menu/.size-snapshot.json
  packages/menu/CHANGELOG.md
  packages/menu/README.md
  packages/menu/demo/menu.stories.mdx
  packages/menu/demo/stories/MenuStory.tsx
  packages/menu/demo/stories/data.ts
  packages/menu/demo/~patterns/patterns.stories.mdx
  packages/menu/demo/~patterns/stories/NestedStory.tsx
  packages/menu/demo/~patterns/stories/data.ts
  packages/menu/package.json
  packages/menu/src/MenuContainer.spec.tsx
  packages/menu/src/MenuContainer.tsx
  packages/menu/src/index.ts
  packages/menu/src/types.ts
  packages/menu/src/useMenu.ts
  packages/menu/src/utils.ts
  packages/menu/tsconfig.build.json
  packages/menu/yarn.lock
  tsconfig.json
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

Add getInputProps aria-described by override test
  packages/field/src/FieldContainer.spec.tsx
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Updates [skip ci]
  8.a71765ff.iframe.bundle.js
  8.a71765ff.iframe.bundle.js.LICENSE.txt
  iframe.html
  index.json
  main.3b713da7.iframe.bundle.js
  main.958635cf.iframe.bundle.js
  menu-demo-menu-stories-mdx.fb901d28.iframe.bundle.js
  menu-demo-patterns-patterns-stories-mdx.943d2c40.iframe.bundle.js
  project.json
  runtime~main.6d911fa0.iframe.bundle.js
  runtime~main.d4bcd65f.iframe.bundle.js
  stories.json
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore(deps): remove unneeded dev dependency in container-menu
  packages/menu/package.json
Due: prettier-package-json --write

Convert IDs from refs to memo
  packages/combobox/.size-snapshot.json
  packages/combobox/src/useCombobox.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore(deps): remove unneeded dev dependency in container-menu (#581)
  packages/menu/package.json
Due: prettier-package-json --write

chore(release): publish
  packages/menu/CHANGELOG.md
  packages/menu/package.json
Due: prettier-package-json --write

fix(combobox): stabilize ID usage (#580)
  packages/combobox/.size-snapshot.json
  packages/combobox/src/useCombobox.ts
  packages/field/.size-snapshot.json
  packages/field/src/FieldContainer.spec.tsx
  packages/field/src/useField.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Updates [skip ci]
  combobox-demo-combobox-stories-mdx.460af8d9.iframe.bundle.js
  combobox-demo-combobox-stories-mdx.832fc2b5.iframe.bundle.js
  field-demo-field-stories-mdx.9ec70aa2.iframe.bundle.js
  field-demo-field-stories-mdx.9ec70aa2.iframe.bundle.js.LICENSE.txt
  field-demo-field-stories-mdx.d2bada7d.iframe.bundle.js
  iframe.html
  project.json
  runtime~main.6d911fa0.iframe.bundle.js
  runtime~main.80692008.iframe.bundle.js
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore(release): publish
  packages/combobox/.size-snapshot.json
  packages/combobox/CHANGELOG.md
  packages/combobox/package.json
  packages/field/.size-snapshot.json
  packages/field/CHANGELOG.md
  packages/field/package.json
Due: prettier-package-json --write

fix(menu): allow prop spread override in getItemProps
  packages/menu/src/MenuContainer.spec.tsx
  packages/menu/src/useMenu.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore(deps): replace rollup-plugin-babel with @rollup/plugin-babel
  package.json
  utils/build/rollup.config.js
  yarn.lock
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

fix(combobox): stable ID regression
  packages/combobox/.size-snapshot.json
  packages/combobox/src/useCombobox.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore: pin version
  package.json
  yarn.lock
Due: prettier-package-json --write

fix(combobox): stable ID regression (#585)
  packages/combobox/.size-snapshot.json
  packages/combobox/src/useCombobox.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Updates [skip ci]
  combobox-demo-combobox-stories-mdx.373d1a40.iframe.bundle.js
  combobox-demo-combobox-stories-mdx.460af8d9.iframe.bundle.js
  iframe.html
  project.json
  runtime~main.5d852293.iframe.bundle.js
  runtime~main.80692008.iframe.bundle.js
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore(deps): replace rollup-plugin-babel with @rollup/plugin-babel (#584)
  package.json
  utils/build/rollup.config.js
  yarn.lock
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

fix(menu): allow prop spread override in getItemProps (#583)
  packages/menu/src/MenuContainer.spec.tsx
  packages/menu/src/useMenu.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Updates [skip ci]
  8.a71765ff.iframe.bundle.js
  8.e5b449b3.iframe.bundle.js
  8.e5b449b3.iframe.bundle.js.LICENSE.txt
  iframe.html
  project.json
  runtime~main.5d852293.iframe.bundle.js
  runtime~main.90af8fd3.iframe.bundle.js
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write
