Repository zendeskgarden/react-containers: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

Remove implicit `docs` option
  .storybook/main.js
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Swap proposal plugins for transforms included in `@babel/preset-env` ES2022
  babel.config.js
  package.json
  yarn.lock
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

fix(combobox)!: hook v. container `isAutocomplete` mismatch
  packages/combobox/.size-snapshot.json
  packages/combobox/src/ComboboxContainer.spec.tsx
  packages/combobox/src/useCombobox.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Add `ISelectedOption` export
  packages/combobox/src/index.ts
  packages/combobox/src/types.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Rollback export (already exists on IUseComboboxReturnValue)
  packages/combobox/src/index.ts
  packages/combobox/src/types.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Updates [skip ci]
  project.json
Due: none

fix(combobox)!: hook v. container `isAutocomplete` mismatch (#547)
  packages/combobox/.size-snapshot.json
  packages/combobox/src/ComboboxContainer.spec.tsx
  packages/combobox/src/useCombobox.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Updates [skip ci]
  combobox-demo-combobox-stories-mdx.d42189aa.iframe.bundle.js
  combobox-demo-combobox-stories-mdx.ed5704f8.iframe.bundle.js
  iframe.html
  project.json
  runtime~main.0c2d9469.iframe.bundle.js
  runtime~main.8c7f71c9.iframe.bundle.js
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore(release): publish
  packages/combobox/.size-snapshot.json
  packages/combobox/CHANGELOG.md
  packages/combobox/package.json
Due: prettier-package-json --write

feat(selection): enable strict mode compatibility + perf improvements
  packages/selection/.size-snapshot.json
  packages/selection/demo/selection.stories.mdx
  packages/selection/demo/stories/SelectionStory.tsx
  packages/selection/demo/stories/data.ts
  packages/selection/package.json
  packages/selection/src/SelectionContainer.tsx
  packages/selection/src/types.ts
  packages/selection/src/useSelection.ts
  packages/selection/yarn.lock
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

feat(tabs): uptakes new useSelection API
  packages/selection/src/types.ts
  packages/tabs/demo/stories/TabsStory.tsx
  packages/tabs/demo/stories/data.ts
  packages/tabs/demo/tabs.stories.mdx
  packages/tabs/src/types.ts
  packages/tabs/src/useTabs.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

fix(selection): updates container-selection tests
  package.json
  packages/selection/.size-snapshot.json
  packages/selection/src/SelectionContainer.spec.tsx
  packages/selection/src/types.ts
  packages/tabs/.size-snapshot.json
  packages/tabs/src/types.ts
  utils/test/jest.config.js
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

fix(tabs): updates container-tabs tests
  packages/tabs/src/TabsContainer.spec.tsx
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

fix(focusvisible): fix selection example
  packages/focusvisible/demo/~patterns/stories/SelectionStory.tsx
  packages/tabs/.size-snapshot.json
  packages/tabs/src/TabsContainer.tsx
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

refactor: code review from jzempel
  package.json
  packages/focusvisible/demo/~patterns/stories/SelectionStory.tsx
  packages/selection/.size-snapshot.json
  packages/selection/demo/selection.stories.mdx
  packages/selection/demo/stories/SelectionStory.tsx
  packages/selection/demo/stories/data.ts
  packages/selection/src/SelectionContainer.spec.tsx
  packages/selection/src/SelectionContainer.tsx
  packages/selection/src/types.ts
  packages/selection/src/useSelection.ts
  packages/tabs/.size-snapshot.json
  packages/tabs/demo/stories/TabsStory.tsx
  packages/tabs/demo/stories/data.ts
  packages/tabs/demo/tabs.stories.mdx
  packages/tabs/src/TabsContainer.spec.tsx
  packages/tabs/src/TabsContainer.tsx
  packages/tabs/src/types.ts
  packages/tabs/src/useTabs.ts
  yarn.lock
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

chore: remove deleted packages from readme
  README.md
Due: none

fix(types): rename item to value
  packages/focusvisible/demo/~patterns/stories/SelectionStory.tsx
  packages/selection/src/types.ts
  packages/selection/src/useSelection.ts
  packages/tabs/src/types.ts
  packages/tabs/src/useTabs.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

fix(deps): remove babel-jest, configure swc/jest to handle mjs
  package.json
  utils/test/jest.config.js
  yarn.lock
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

chore(selection): better typings on selection refs dictionary
  packages/selection/src/useSelection.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

refactor: renaming item -> value in selection and tabs
  packages/focusvisible/demo/~patterns/stories/SelectionStory.tsx
  packages/selection/.size-snapshot.json
  packages/selection/CHANGELOG.md
  packages/selection/README.md
  packages/selection/demo/selection.stories.mdx
  packages/selection/demo/stories/SelectionStory.tsx
  packages/selection/package.json
  packages/selection/src/SelectionContainer.spec.tsx
  packages/selection/src/SelectionContainer.tsx
  packages/selection/src/types.ts
  packages/selection/src/useSelection.ts
  packages/selection/src/utils.ts
  packages/selection/yarn.lock
  packages/tabs/.size-snapshot.json
  packages/tabs/CHANGELOG.md
  packages/tabs/README.md
  packages/tabs/demo/stories/TabsStory.tsx
  packages/tabs/demo/tabs.stories.mdx
  packages/tabs/src/TabsContainer.spec.tsx
  packages/tabs/src/TabsContainer.tsx
  packages/tabs/src/types.ts
  packages/tabs/src/useTabs.ts
  packages/utilities/CHANGELOG.md
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

refactor: review changes
  packages/selection/.size-snapshot.json
  packages/selection/CHANGELOG.md
  packages/selection/README.md
  packages/selection/demo/selection.stories.mdx
  packages/selection/demo/stories/SelectionStory.tsx
  packages/selection/package.json
  packages/selection/src/SelectionContainer.spec.tsx
  packages/selection/src/types.ts
  packages/selection/src/useSelection.ts
  packages/selection/yarn.lock
  packages/tabs/.size-snapshot.json
  packages/tabs/CHANGELOG.md
  packages/tabs/README.md
  packages/tabs/demo/stories/TabsStory.tsx
  packages/tabs/demo/stories/data.ts
  packages/tabs/demo/tabs.stories.mdx
  packages/tabs/src/TabsContainer.spec.tsx
  packages/tabs/src/TabsContainer.tsx
  packages/tabs/src/types.ts
  packages/tabs/src/useTabs.ts
  packages/utilities/CHANGELOG.md
  utils/test/jest.config.js
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

fix: check values index for disabled tabs
  packages/tabs/.size-snapshot.json
  packages/tabs/src/useTabs.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

fix: build ref dictionary with createRef
  packages/selection/.size-snapshot.json
  packages/selection/src/useSelection.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

fix: code review
  packages/selection/demo/stories/SelectionStory.tsx
  packages/selection/yarn.lock
  packages/tabs/src/index.ts
  packages/tabs/src/types.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Updates [skip ci]
  buttongroup-demo-buttongroup-stories-mdx.d673c792.iframe.bundle.js
  focusvisible-demo-patterns-patterns-stories-mdx.1dc616c9.iframe.bundle.js
  focusvisible-demo-patterns-patterns-stories-mdx.1dc616c9.iframe.bundle.js.LICENSE.txt
  focusvisible-demo-patterns-patterns-stories-mdx.38c669fc.iframe.bundle.js
  iframe.html
  index.json
  main.148e31f4.iframe.bundle.js
  main.6808fd73.iframe.bundle.js
  pagination-demo-pagination-stories-mdx.9f0fe060.iframe.bundle.js
  pagination-demo-pagination-stories-mdx.9f0fe060.iframe.bundle.js.LICENSE.txt
  project.json
  runtime~main.0c2d9469.iframe.bundle.js
  runtime~main.7f07eb65.iframe.bundle.js
  selection-demo-selection-stories-mdx.3ca14bac.iframe.bundle.js
  selection-demo-selection-stories-mdx.3ca14bac.iframe.bundle.js.LICENSE.txt
  selection-demo-selection-stories-mdx.7e11761c.iframe.bundle.js
  selection-demo-selection-stories-mdx.7e11761c.iframe.bundle.js.LICENSE.txt
  stories.json
  tabs-demo-tabs-stories-mdx.080d6446.iframe.bundle.js
  tabs-demo-tabs-stories-mdx.a44684e7.iframe.bundle.js
  tabs-demo-tabs-stories-mdx.a44684e7.iframe.bundle.js.LICENSE.txt
  treeview-demo-treeview-stories-mdx.7c6446dc.iframe.bundle.js
  treeview-demo-treeview-stories-mdx.7c6446dc.iframe.bundle.js.LICENSE.txt
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore(release): publish
  packages/focusvisible/CHANGELOG.md
  packages/focusvisible/package.json
  packages/selection/.size-snapshot.json
  packages/selection/CHANGELOG.md
  packages/selection/package.json
  packages/tabs/.size-snapshot.json
  packages/tabs/CHANGELOG.md
  packages/tabs/package.json
Due: prettier-package-json --write

fix(combobox): prevent page scroll on input focus
  packages/combobox/.size-snapshot.json
  packages/combobox/src/useCombobox.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

fix(combobox): prevent page scroll on input focus (#550)
  packages/combobox/.size-snapshot.json
  packages/combobox/src/useCombobox.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Updates [skip ci]
  combobox-demo-combobox-stories-mdx.25bbad81.iframe.bundle.js
  combobox-demo-combobox-stories-mdx.ed5704f8.iframe.bundle.js
  iframe.html
  project.json
  runtime~main.0d979c0f.iframe.bundle.js
  runtime~main.7f07eb65.iframe.bundle.js
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore(release): publish
  packages/combobox/CHANGELOG.md
  packages/combobox/package.json
Due: prettier-package-json --write

Path conditions:
  eslint --max-warnings 0: any of: *.{js,ts,tsx}
  jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier-package-json --write: any of: **/package.json
