Repository zendeskgarden/react-containers: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, prettier-package-json --write

fix(utils): add typing to getControlledValue (#173)
  packages/accordion/src/useAccordion.ts
  packages/utilities/src/utils/getControlledValue.ts
Due: none

fix: use default CircleCI node_modules cache (#175)
  .circleci/config.yml
  package.json
Due: prettier-package-json --write

chore(release): publish
  packages/accordion/CHANGELOG.md
  packages/accordion/package.json
  packages/buttongroup/CHANGELOG.md
  packages/buttongroup/package.json
  packages/focusjail/CHANGELOG.md
  packages/focusjail/package.json
  packages/keyboardfocus/CHANGELOG.md
  packages/keyboardfocus/package.json
  packages/modal/CHANGELOG.md
  packages/modal/package.json
  packages/pagination/CHANGELOG.md
  packages/pagination/package.json
  packages/selection/.size-snapshot.json
  packages/selection/CHANGELOG.md
  packages/selection/package.json
  packages/tabs/CHANGELOG.md
  packages/tabs/package.json
  packages/tooltip/CHANGELOG.md
  packages/tooltip/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
Due: prettier-package-json --write

Updatee useAccordion hook with complete behavior
  .storybook/addons.js
  package.json
  packages/accordion/.size-snapshot.json
  packages/accordion/src/AccordionContainer.spec.tsx
  packages/accordion/src/AccordionContainer.ts
  packages/accordion/src/useAccordion.ts
  packages/accordion/stories.tsx
  yarn.lock
Due: eslint, prettier --write, prettier-package-json --write

Refactor useAccordion
  packages/accordion/.size-snapshot.json
  packages/accordion/src/AccordionContainer.spec.tsx
  packages/accordion/src/useAccordion.ts
  packages/accordion/stories.tsx
Due: none

Address PR feedback for useAccordion
  packages/accordion/.size-snapshot.json
  packages/accordion/src/AccordionContainer.spec.tsx
  packages/accordion/src/AccordionContainer.ts
  packages/accordion/src/useAccordion.ts
  packages/accordion/stories.tsx
Due: none

Fix aria-disabled bug for uncontrolled `expanded`
  packages/accordion/.size-snapshot.json
  packages/accordion/src/AccordionContainer.spec.tsx
  packages/accordion/src/useAccordion.ts
Due: none

Fix useAccordion hook
  packages/accordion/.size-snapshot.json
  packages/accordion/src/AccordionContainer.spec.tsx
  packages/accordion/src/useAccordion.ts
  packages/accordion/stories.tsx
Due: none

Fix controlled & uncontrolled logic (#176)
  packages/accordion/.size-snapshot.json
  packages/accordion/src/AccordionContainer.spec.tsx
  packages/accordion/src/useAccordion.ts
  packages/accordion/stories.tsx
Due: none

chore(release): publish
  packages/accordion/CHANGELOG.md
  packages/accordion/package.json
Due: prettier-package-json --write

chore(deps): update non-major shared dependencies
  package.json
  yarn.lock
Due: prettier-package-json --write

update size snapshots
  packages/accordion/.size-snapshot.json
  packages/breadcrumb/.size-snapshot.json
  packages/buttongroup/.size-snapshot.json
  packages/field/.size-snapshot.json
  packages/focusjail/.size-snapshot.json
  packages/keyboardfocus/.size-snapshot.json
  packages/modal/.size-snapshot.json
  packages/pagination/.size-snapshot.json
  packages/selection/.size-snapshot.json
  packages/tabs/.size-snapshot.json
  packages/tooltip/.size-snapshot.json
Due: none

chore(deps): update dependency @testing-library/react to v10
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency @testing-library/dom to v7
  yarn.lock
Due: none

Update yarn.lock
  yarn.lock
Due: none

chore(deps): update dependency eslint-plugin-react-hooks to v3
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency rollup to v2
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency prettier to v2
  package.json
  yarn.lock
Due: prettier-package-json --write

Update .prettierrc
  .prettierrc
  packages/selection/src/SelectionContainer.spec.tsx
  utils/test/utilities.ts
Due: none

chore(deps): update dependency handlebars to v4.7.4
  package.json
  yarn.lock
Due: prettier-package-json --write

BREAKING CHANGE: Update container-accordion changelog.
  packages/accordion/CHANGELOG.md
Due: none

chore(accordion): update changelog (#184)
  packages/accordion/CHANGELOG.md
Due: none

chore(release): publish
  packages/accordion/.size-snapshot.json
  packages/accordion/CHANGELOG.md
  packages/accordion/package.json
  packages/breadcrumb/CHANGELOG.md
  packages/breadcrumb/package.json
  packages/buttongroup/.size-snapshot.json
  packages/buttongroup/CHANGELOG.md
  packages/buttongroup/package.json
  packages/field/CHANGELOG.md
  packages/field/package.json
  packages/focusjail/.size-snapshot.json
  packages/focusjail/CHANGELOG.md
  packages/focusjail/package.json
  packages/keyboardfocus/.size-snapshot.json
  packages/keyboardfocus/CHANGELOG.md
  packages/keyboardfocus/package.json
  packages/modal/.size-snapshot.json
  packages/modal/CHANGELOG.md
  packages/modal/package.json
  packages/pagination/.size-snapshot.json
  packages/pagination/CHANGELOG.md
  packages/pagination/package.json
  packages/selection/.size-snapshot.json
  packages/selection/CHANGELOG.md
  packages/selection/package.json
  packages/tabs/CHANGELOG.md
  packages/tabs/package.json
  packages/tooltip/CHANGELOG.md
  packages/tooltip/package.json
Due: prettier-package-json --write

Update scripting dependencies
  .gitignore
  package.json
  yarn.lock
Due: prettier-package-json --write

Add new deploy script
  .circleci/config.yml
  utils/scripts/deploy.js
  utils/scripts/gh-pages.js
Due: eslint, prettier --write

Connect script to command verb
  package.json
  utils/scripts/new.js
Due: eslint, prettier --write, prettier-package-json --write

Path conditions:
  eslint: any of: *.js
  prettier --write: any of: *.js
  prettier-package-json --write: any of: **/package.json
