Repository zendeskgarden/react-containers: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "eslint --max-warnings 0",
    "jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests",
    "prettier --write"
  ],
  "!(*CHANGELOG).md": [
    "markdownlint",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

Updates [skip ci]
  project.json
Due: none

fix(combobox): prevent multiselectable from retaining focus on tag removal
  packages/combobox/.size-snapshot.json
  packages/combobox/src/ComboboxContainer.spec.tsx
  packages/combobox/src/useCombobox.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

fix(combobox): prevent multiselectable from retaining focus on tag removal (#551)
  packages/combobox/.size-snapshot.json
  packages/combobox/src/ComboboxContainer.spec.tsx
  packages/combobox/src/useCombobox.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Updates [skip ci]
  combobox-demo-combobox-stories-mdx.25bbad81.iframe.bundle.js
  combobox-demo-combobox-stories-mdx.b7b9684f.iframe.bundle.js
  iframe.html
  project.json
  runtime~main.0d979c0f.iframe.bundle.js
  runtime~main.749ee698.iframe.bundle.js
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore(release): publish
  packages/combobox/.size-snapshot.json
  packages/combobox/CHANGELOG.md
  packages/combobox/package.json
Due: prettier-package-json --write

fix(combobox): handle select-only collapse listbox on space/enter
  packages/combobox/.size-snapshot.json
  packages/combobox/src/ComboboxContainer.spec.tsx
  packages/combobox/src/useCombobox.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

fix(combobox): handle select-only collapse listbox on space/enter (#552)
  packages/combobox/.size-snapshot.json
  packages/combobox/src/ComboboxContainer.spec.tsx
  packages/combobox/src/useCombobox.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Updates [skip ci]
  combobox-demo-combobox-stories-mdx.0846adb2.iframe.bundle.js
  combobox-demo-combobox-stories-mdx.b7b9684f.iframe.bundle.js
  iframe.html
  project.json
  runtime~main.749ee698.iframe.bundle.js
  runtime~main.d9ea0c6b.iframe.bundle.js
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore(release): publish
  packages/combobox/CHANGELOG.md
  packages/combobox/package.json
Due: prettier-package-json --write

fix(tabs): minimize re-rendering of container by memoization
  packages/tabs/.size-snapshot.json
  packages/tabs/src/useTabs.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

fix(tabs): minimize re-rendering of container by memoization (#554)
  packages/tabs/.size-snapshot.json
  packages/tabs/src/useTabs.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Updates [skip ci]
  iframe.html
  project.json
  runtime~main.436f05b5.iframe.bundle.js
  runtime~main.d9ea0c6b.iframe.bundle.js
  tabs-demo-tabs-stories-mdx.39ca0462.iframe.bundle.js
  tabs-demo-tabs-stories-mdx.39ca0462.iframe.bundle.js.LICENSE.txt
  tabs-demo-tabs-stories-mdx.a44684e7.iframe.bundle.js
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore(release): publish
  packages/tabs/CHANGELOG.md
  packages/tabs/package.json
Due: prettier-package-json --write

fix: remove unused prop-type peerDep from container-utilities
  packages/utilities/package.json
Due: prettier-package-json --write

fix: remove unused prop-type peerDep from container-utilities (#555)
  packages/utilities/package.json
Due: prettier-package-json --write

chore(release): publish
  packages/accordion/CHANGELOG.md
  packages/accordion/package.json
  packages/combobox/CHANGELOG.md
  packages/combobox/package.json
  packages/field/.size-snapshot.json
  packages/field/CHANGELOG.md
  packages/field/package.json
  packages/focusjail/CHANGELOG.md
  packages/focusjail/package.json
  packages/grid/.size-snapshot.json
  packages/grid/CHANGELOG.md
  packages/grid/package.json
  packages/keyboardfocus/CHANGELOG.md
  packages/keyboardfocus/package.json
  packages/modal/CHANGELOG.md
  packages/modal/package.json
  packages/selection/CHANGELOG.md
  packages/selection/package.json
  packages/splitter/.size-snapshot.json
  packages/splitter/CHANGELOG.md
  packages/splitter/package.json
  packages/tabs/CHANGELOG.md
  packages/tabs/package.json
  packages/tooltip/CHANGELOG.md
  packages/tooltip/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
Due: prettier-package-json --write

Updates [skip ci]
  445.851eff6c.iframe.bundle.js
  445.851eff6c.iframe.bundle.js.LICENSE.txt
  699.786bbd40.iframe.bundle.js
  926.3ff72fcd.iframe.bundle.js
  926.50536b08.iframe.bundle.js
  926.50536b08.iframe.bundle.js.LICENSE.txt
  iframe.html
  main.6808fd73.iframe.bundle.js
  main.eb3f8abc.iframe.bundle.js
  project.json
  runtime~main.436f05b5.iframe.bundle.js
  runtime~main.a4988f2f.iframe.bundle.js
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

fix: use non-esm version of wrap-ansi
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): sync package lock files
  packages/accordion/yarn.lock
  packages/combobox/yarn.lock
  packages/field/yarn.lock
  packages/focusjail/yarn.lock
  packages/grid/yarn.lock
  packages/keyboardfocus/yarn.lock
  packages/modal/yarn.lock
  packages/selection/yarn.lock
  packages/splitter/yarn.lock
  packages/tabs/yarn.lock
  packages/tooltip/yarn.lock
Due: none

chore(deps): sync package lock files (#567)
  packages/accordion/yarn.lock
  packages/combobox/yarn.lock
  packages/field/yarn.lock
  packages/focusjail/yarn.lock
  packages/grid/yarn.lock
  packages/keyboardfocus/yarn.lock
  packages/modal/yarn.lock
  packages/selection/yarn.lock
  packages/splitter/yarn.lock
  packages/tabs/yarn.lock
  packages/tooltip/yarn.lock
Due: none

fix: format useSlider
  packages/slider/src/useSlider.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

fix: move types to single import
  packages/focusvisible/src/index.ts
  packages/keyboardfocus/src/index.ts
  packages/schedule/src/index.ts
  packages/scrollregion/src/index.ts
  packages/tooltip/src/index.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Updates [skip ci]
  350.28d6ed81.iframe.bundle.js
  506.a7dd72df.iframe.bundle.js
  569.b940e4a3.iframe.bundle.js
  569.b940e4a3.iframe.bundle.js.map
  569.f163a91c.iframe.bundle.js
  569.f163a91c.iframe.bundle.js.LICENSE.txt
  569.f163a91c.iframe.bundle.js.map
  604.c0c3feff.iframe.bundle.js
  735.b087c509.iframe.bundle.js
  855.f65d8b3c.iframe.bundle.js
  855.f65d8b3c.iframe.bundle.js.LICENSE.txt
  983.1981e438.iframe.bundle.js
  iframe.html
  main.61c78dcd.iframe.bundle.js
  main.be67ca57.iframe.bundle.js
  project.json
  runtime~main.31e47c77.iframe.bundle.js
  runtime~main.6c033eaf.iframe.bundle.js
  sb-manager/GlobalScrollAreaStyles-DZEYMYDM-MLCKG773.js
  sb-manager/GlobalScrollAreaStyles-DZEYMYDM-UAEZM2KF.js
  sb-manager/WithTooltip-I4CCNYWD-ZW5IOTVO.js
  sb-manager/WithTooltip-SGMXWZWO-HCFC3XFC.js
  sb-manager/chunk-7CCV2CKD.js
  sb-manager/chunk-CBY7LR4Y.js
  sb-manager/chunk-FPTBIX6P.js
  sb-manager/chunk-FXGJ2IFE.js
  sb-manager/chunk-IPZYHIL3.js
  sb-manager/chunk-KJEZFYE2.js
  sb-manager/chunk-QPL63VNK.js
  sb-manager/index.js
  sb-manager/runtime.js
  sb-manager/syntaxhighlighter-2MZ4Y3HO-I2ULF7B3.js
  sb-manager/syntaxhighlighter-SIPZPD4I-WOB5MYBW.js
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore(deps): remove @types/styled-components
  package.json
  yarn.lock
Due: prettier-package-json --write

Updates [skip ci]
  855.df9e0a47.iframe.bundle.js
  855.df9e0a47.iframe.bundle.js.LICENSE.txt
  855.f65d8b3c.iframe.bundle.js
  iframe.html
  project.json
  sb-addons/storybook-5/manager-bundle.js
  sb-addons/storybook-5/manager-bundle.js.LEGAL.txt
  sb-addons/storybook-5/manager-bundle.js.map
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore(deps): prune deprecated and unused dependencies
  package.json
  yarn.lock
Due: prettier-package-json --write
