Repository zendeskgarden/react-containers: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, prettier-package-json --write

.lintstagedrc:

{
  "*.js": [
    "eslint",
    "prettier --write",
    "git add"
  ],
  "!(*CHANGELOG).md": [
    "markdownlint",
    "prettier --write",
    "git add"
  ],
  "**/package.json": [
    "prettier-package-json --write",
    "git add"
  ]
}

Update config.yml
  .circleci/config.yml
Due: none

chore(deps): update non-major shared dependencies
  package.json
  yarn.lock
Due: prettier-package-json --write

Use LTS-tagged node executor
  .circleci/config.yml
Due: none

fix: use LTS-tagged node executor (#218)
  .circleci/config.yml
Due: none

Update code of conduct
  .github/CODE_OF_CONDUCT.md
Due: none

Update references to main
  .circleci/config.yml
  .github/CONTRIBUTING.md
  .huskyrc
  README.md
  lerna.json
  packages/breadcrumb/README.md
  packages/schedule/README.md
  utils/scripts/deploy.js
Due: eslint, prettier --write

change: replace master with "main" branch (#219)
  .circleci/config.yml
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .huskyrc
  README.md
  lerna.json
  packages/breadcrumb/README.md
  packages/schedule/README.md
  utils/scripts/deploy.js
Due: eslint, prettier --write

chore(storybook): modernize Storybook setup
  .storybook/config.js
  .storybook/main.js
  .storybook/manager.js
  .storybook/preview.js
  package.json
  packages/accordion/accordion.stories.tsx
  packages/accordion/stories.tsx
  packages/breadcrumb/breadcrumb.stories.tsx
  packages/breadcrumb/stories.tsx
  packages/buttongroup/buttongroup.stories.tsx
  packages/buttongroup/stories.tsx
  packages/field/field.stories.tsx
  packages/field/stories.tsx
  packages/focusjail/focusjail.stories.tsx
  packages/focusjail/stories.tsx
  packages/focusvisible/focusvisible.stories.tsx
  packages/focusvisible/stories.tsx
  packages/keyboardfocus/keyboardfocus.stories.tsx
  packages/keyboardfocus/stories.tsx
  packages/modal/modal.stories.tsx
  packages/modal/stories.tsx
  packages/pagination/pagination.stories.tsx
  packages/pagination/stories.tsx
  packages/schedule/schedule.stories.tsx
  packages/schedule/stories.tsx
  packages/selection/selection.stories.tsx
  packages/selection/stories.tsx
  packages/tabs/stories.tsx
  packages/tabs/tabs.stories.tsx
  packages/tooltip/stories.tsx
  packages/tooltip/tooltip.stories.tsx
Due: eslint, prettier --write, prettier-package-json --write

use react-theming for fonts and remove css-variable
  .storybook/manager.js
  package.json
  yarn.lock
Due: eslint, prettier --write, prettier-package-json --write

pin react-theming
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(storybook): modernize Storybook setup (#220)
  .storybook/config.js
  .storybook/main.js
  .storybook/manager.js
  .storybook/preview.js
  package.json
  packages/accordion/accordion.stories.tsx
  packages/accordion/stories.tsx
  packages/breadcrumb/breadcrumb.stories.tsx
  packages/breadcrumb/stories.tsx
  packages/buttongroup/buttongroup.stories.tsx
  packages/buttongroup/stories.tsx
  packages/field/field.stories.tsx
  packages/field/stories.tsx
  packages/focusjail/focusjail.stories.tsx
  packages/focusjail/stories.tsx
  packages/focusvisible/focusvisible.stories.tsx
  packages/focusvisible/stories.tsx
  packages/keyboardfocus/keyboardfocus.stories.tsx
  packages/keyboardfocus/stories.tsx
  packages/modal/modal.stories.tsx
  packages/modal/stories.tsx
  packages/pagination/pagination.stories.tsx
  packages/pagination/stories.tsx
  packages/schedule/schedule.stories.tsx
  packages/schedule/stories.tsx
  packages/selection/selection.stories.tsx
  packages/selection/stories.tsx
  packages/tabs/stories.tsx
  packages/tabs/tabs.stories.tsx
  packages/tooltip/stories.tsx
  packages/tooltip/tooltip.stories.tsx
  yarn.lock
Due: eslint, prettier --write, prettier-package-json --write

chore(webpack): clean up ts-loader option
  .storybook/webpack.config.js
Due: eslint, prettier --write

wip with iframe
  packages/focusjail/src/useFocusJail.ts
  packages/focusjail/stories.tsx
Due: none

chore(webpack): clean up ts-loader option (#224)
  .storybook/webpack.config.js
Due: eslint, prettier --write

chore(tests): add user-event and improve tests
  package.json
  packages/accordion/src/AccordionContainer.spec.tsx
  packages/buttongroup/src/ButtonGroupContainer.spec.tsx
  packages/focusjail/src/FocusJailContainer.spec.tsx
  packages/focusvisible/src/FocusVisibleContainer.spec.tsx
  packages/keyboardfocus/src/KeyboardFocusContainer.spec.tsx
  packages/modal/src/ModalContainer.spec.tsx
  packages/pagination/src/PaginationContainer.spec.tsx
  packages/selection/src/SelectionContainer.spec.tsx
  packages/tabs/src/TabsContainer.spec.tsx
  packages/tooltip/src/TooltipContainer.spec.tsx
  yarn.lock
Due: prettier-package-json --write

Give testing wrapper element tabindex and use .focus()
  packages/focusvisible/src/FocusVisibleContainer.spec.tsx
Due: none

Move user-event to devDep
  package.json
  yarn.lock
Due: prettier-package-json --write

Pin dev dep
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(tests): add user-event and improve tests (#225)
  package.json
  packages/accordion/src/AccordionContainer.spec.tsx
  packages/buttongroup/src/ButtonGroupContainer.spec.tsx
  packages/focusjail/src/FocusJailContainer.spec.tsx
  packages/focusvisible/src/FocusVisibleContainer.spec.tsx
  packages/keyboardfocus/src/KeyboardFocusContainer.spec.tsx
  packages/modal/src/ModalContainer.spec.tsx
  packages/pagination/src/PaginationContainer.spec.tsx
  packages/selection/src/SelectionContainer.spec.tsx
  packages/tabs/src/TabsContainer.spec.tsx
  packages/tooltip/src/TooltipContainer.spec.tsx
  yarn.lock
Due: prettier-package-json --write

fix(accordion): replace hidden styles to prevent scroll
  packages/accordion/accordion.stories.tsx
Due: none

Update to Garden visually hidden
  packages/accordion/accordion.stories.tsx
Due: none

chore(deps): pin dependencies
  package.json
  yarn.lock
Due: prettier-package-json --write

fix(accordion): replace hidden styles to prevent Chromium auto-scroll (#226)
  packages/accordion/accordion.stories.tsx
Due: none

chore(deps): update node orb to v3.0.1
  .circleci/config.yml
Due: none

Update snapshots
  packages/accordion/.size-snapshot.json
  packages/breadcrumb/.size-snapshot.json
  packages/buttongroup/.size-snapshot.json
  packages/field/.size-snapshot.json
  packages/focusjail/.size-snapshot.json
  packages/focusvisible/.size-snapshot.json
  packages/keyboardfocus/.size-snapshot.json
  packages/modal/.size-snapshot.json
  packages/pagination/.size-snapshot.json
  packages/schedule/.size-snapshot.json
  packages/selection/.size-snapshot.json
  packages/tabs/.size-snapshot.json
  packages/tooltip/.size-snapshot.json
Due: none

chore(deps): update dependency @rollup/plugin-commonjs to v15
  package.json
  yarn.lock
Due: prettier-package-json --write
