Repository zendeskgarden/react-containers: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

Updates [skip ci]
  44.36353e87.iframe.bundle.js
  44.73fbc08a.iframe.bundle.js
  44.73fbc08a.iframe.bundle.js.LICENSE.txt
  iframe.html
  project.json
  runtime~main.03bbef60.iframe.bundle.js
  runtime~main.50c42699.iframe.bundle.js
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore(release): publish
  packages/accordion/.size-snapshot.json
  packages/accordion/CHANGELOG.md
  packages/accordion/package.json
  packages/breadcrumb/CHANGELOG.md
  packages/breadcrumb/package.json
  packages/combobox/CHANGELOG.md
  packages/combobox/package.json
  packages/field/.size-snapshot.json
  packages/field/CHANGELOG.md
  packages/field/package.json
  packages/focusjail/CHANGELOG.md
  packages/focusjail/package.json
  packages/grid/.size-snapshot.json
  packages/grid/CHANGELOG.md
  packages/grid/package.json
  packages/keyboardfocus/.size-snapshot.json
  packages/keyboardfocus/CHANGELOG.md
  packages/keyboardfocus/package.json
  packages/menu/CHANGELOG.md
  packages/menu/package.json
  packages/modal/.size-snapshot.json
  packages/modal/CHANGELOG.md
  packages/modal/package.json
  packages/selection/CHANGELOG.md
  packages/selection/package.json
  packages/splitter/.size-snapshot.json
  packages/splitter/CHANGELOG.md
  packages/splitter/package.json
  packages/tabs/CHANGELOG.md
  packages/tabs/package.json
  packages/tooltip/.size-snapshot.json
  packages/tooltip/CHANGELOG.md
  packages/tooltip/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
Due: prettier-package-json --write

Updates [skip ci]
  project.json
Due: none

feat(menu): passes clicked item's value to onChange
  packages/menu/.size-snapshot.json
  packages/menu/src/MenuContainer.spec.tsx
  packages/menu/src/types.ts
  packages/menu/src/useMenu.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

feat(menu): passes clicked item's value to onChange (#604)
  packages/menu/.size-snapshot.json
  packages/menu/src/MenuContainer.spec.tsx
  packages/menu/src/types.ts
  packages/menu/src/useMenu.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

fix(menu): prevents focus from moving out of the menu unless it is actually closed
  packages/menu/.size-snapshot.json
  packages/menu/src/useMenu.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Updates [skip ci]
  44.73fbc08a.iframe.bundle.js
  44.9d650861.iframe.bundle.js
  44.9d650861.iframe.bundle.js.LICENSE.txt
  iframe.html
  menu-demo-menu-stories-mdx.17521820.iframe.bundle.js
  menu-demo-menu-stories-mdx.aca59bc1.iframe.bundle.js
  project.json
  runtime~main.03bbef60.iframe.bundle.js
  runtime~main.73931a0e.iframe.bundle.js
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

fix(menu): prevents focus from moving out of the menu unless it is actually closed (#605)
  packages/menu/.size-snapshot.json
  packages/menu/src/useMenu.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore(release): publish
  packages/menu/CHANGELOG.md
  packages/menu/package.json
Due: prettier-package-json --write

Updates [skip ci]
  44.372fec69.iframe.bundle.js
  44.372fec69.iframe.bundle.js.LICENSE.txt
  44.9d650861.iframe.bundle.js
  iframe.html
  project.json
  runtime~main.73931a0e.iframe.bundle.js
  runtime~main.da82dec8.iframe.bundle.js
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Remove unused package
  package-lock.json
  package.json
Due: prettier-package-json --write

Update lock files
  package-lock.json
  packages/accordion/package-lock.json
  packages/breadcrumb/package-lock.json
  packages/combobox/package-lock.json
  packages/field/package-lock.json
  packages/focusjail/package-lock.json
  packages/grid/package-lock.json
  packages/keyboardfocus/package-lock.json
  packages/menu/package-lock.json
  packages/modal/package-lock.json
  packages/selection/package-lock.json
  packages/splitter/package-lock.json
  packages/tabs/package-lock.json
  packages/tooltip/package-lock.json
  packages/utilities/package-lock.json
Due: none

Fix missing newline
  .npmrc
Due: none

Updates [skip ci]
  115.9ed32118.iframe.bundle.js
  115.f10a060c.iframe.bundle.js
  115.f10a060c.iframe.bundle.js.LICENSE.txt
  148.44ab33a5.iframe.bundle.js
  243.562bde8e.iframe.bundle.js
  243.562bde8e.iframe.bundle.js.LICENSE.txt
  729.336655bf.iframe.bundle.js
  729.70d2530f.iframe.bundle.js
  focusvisible-demo-focusvisible-stories-mdx.257b293c.iframe.bundle.js
  focusvisible-demo-focusvisible-stories-mdx.7890df78.iframe.bundle.js
  iframe.html
  main.70617d06.iframe.bundle.js
  main.9a8f1cc0.iframe.bundle.js
  project.json
  runtime~main.da82dec8.iframe.bundle.js
  runtime~main.df6fa098.iframe.bundle.js
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Prettier format
  package.json
  packages/slider/src/useSlider.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

Updates [skip ci]
  243.562bde8e.iframe.bundle.js
  243.e5d3d68d.iframe.bundle.js
  243.e5d3d68d.iframe.bundle.js.LICENSE.txt
  focusvisible-demo-focusvisible-stories-mdx.257b293c.iframe.bundle.js
  focusvisible-demo-focusvisible-stories-mdx.7890df78.iframe.bundle.js
  iframe.html
  project.json
  runtime~main.b9e08f29.iframe.bundle.js
  runtime~main.df6fa098.iframe.bundle.js
  sb-addons/essentials-controls-0/manager-bundle.js
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Fix removed jest export
  utils/test/jest.d.ts
  utils/test/jest.setup.js
  utils/test/utilities.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Configure lerna 7
  .circleci/config.yml
  package-lock.json
  package.json
  packages/accordion/package-lock.json
  packages/breadcrumb/package-lock.json
  packages/combobox/package-lock.json
  packages/field/package-lock.json
  packages/focusjail/package-lock.json
  packages/focusvisible/package-lock.json
  packages/grid/package-lock.json
  packages/keyboardfocus/package-lock.json
  packages/menu/package-lock.json
  packages/modal/package-lock.json
  packages/schedule/package-lock.json
  packages/scrollregion/package-lock.json
  packages/selection/package-lock.json
  packages/slider/.size-snapshot.json
  packages/slider/package-lock.json
  packages/slider/package.json
  packages/splitter/package-lock.json
  packages/tabs/package-lock.json
  packages/tooltip/package-lock.json
  packages/utilities/package-lock.json
Due: prettier-package-json --write

Replace new `bootstrap` with `build`
  utils/scripts/new.mjs
Due: none

Use Nx
  lerna.json
Due: none

Reduce concurrency
  .circleci/config.yml
Due: none

Fix jest tabbable require
  utils/test/rootDir/__mocks__/tabbable.js
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Prevent concurrency due to rollup/rollup#5198
  package.json
Due: prettier-package-json --write

Fix test:ci script
  package.json
Due: prettier-package-json --write

Disable size snapshot
  utils/build/rollup.config.js
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Update package lock
  package-lock.json
Due: none

Fix lint errors
  packages/grid/src/GridContainer.spec.tsx
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Add styled-components types
  package-lock.json
  package.json
Due: prettier-package-json --write

Optimize CI
  .circleci/config.yml
  package.json
Due: prettier-package-json --write

Path conditions:
  eslint --max-warnings 0: any of: *.{js,ts,tsx}
  jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier-package-json --write: any of: **/package.json
