Repository zendeskgarden/react-containers: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

Fill out README
  README.md
  packages/combobox/README.md
Due: none

Improvements based on @geotrev review 🙌
  packages/combobox/.size-snapshot.json
  packages/combobox/src/useCombobox.ts
  packages/combobox/src/utils.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

fix: update size snapshots
  packages/accordion/.size-snapshot.json
  packages/buttongroup/.size-snapshot.json
  packages/field/.size-snapshot.json
  packages/focusjail/.size-snapshot.json
  packages/focusvisible/.size-snapshot.json
  packages/grid/.size-snapshot.json
  packages/keyboardfocus/.size-snapshot.json
  packages/modal/.size-snapshot.json
  packages/pagination/.size-snapshot.json
  packages/schedule/.size-snapshot.json
  packages/scrollregion/.size-snapshot.json
  packages/selection/.size-snapshot.json
  packages/slider/.size-snapshot.json
  packages/splitter/.size-snapshot.json
  packages/tabs/.size-snapshot.json
  packages/tooltip/.size-snapshot.json
  packages/treeview/.size-snapshot.json
  packages/utilities/.size-snapshot.json
Due: none

fix: update size snapshots (#524)
  packages/accordion/.size-snapshot.json
  packages/buttongroup/.size-snapshot.json
  packages/field/.size-snapshot.json
  packages/focusjail/.size-snapshot.json
  packages/focusvisible/.size-snapshot.json
  packages/grid/.size-snapshot.json
  packages/keyboardfocus/.size-snapshot.json
  packages/modal/.size-snapshot.json
  packages/pagination/.size-snapshot.json
  packages/schedule/.size-snapshot.json
  packages/scrollregion/.size-snapshot.json
  packages/selection/.size-snapshot.json
  packages/slider/.size-snapshot.json
  packages/splitter/.size-snapshot.json
  packages/tabs/.size-snapshot.json
  packages/tooltip/.size-snapshot.json
  packages/treeview/.size-snapshot.json
  packages/utilities/.size-snapshot.json
Due: none

Resolve TypeScript vs PropTypes mismatch
  packages/combobox/.size-snapshot.json
  packages/combobox/src/ComboboxContainer.tsx
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Bump storybook to address build error
  package.json
  yarn.lock
Due: prettier-package-json --write

Bump babel to address build error
  package.json
  yarn.lock
Due: prettier-package-json --write

Revert storybook to previous working deployment
  package.json
  yarn.lock
Due: prettier-package-json --write

Revert webpack
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): revert babel and storybook changes
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): revert babel and storybook changes (#525)
  package.json
  yarn.lock
Due: prettier-package-json --write

chore: add CI cache version for clearing corrupted cache
  .circleci/config.yml
Due: none

Variable interpolation
  .circleci/config.yml
Due: none

Bump node orb
  .circleci/config.yml
Due: none

Restore webpack version
  package.json
  yarn.lock
Due: prettier-package-json --write

chore: add version for clearing corrupted CI cache (#534)
  .circleci/config.yml
Due: none

Updates [skip ci]
  project.json
Due: none

feat: new combobox hook and container (#523)
  README.md
  packages/combobox/.size-snapshot.json
  packages/combobox/CHANGELOG.md
  packages/combobox/README.md
  packages/combobox/demo/#readme.stories.mdx
  packages/combobox/demo/combobox.stories.mdx
  packages/combobox/demo/stories/ComboboxStory.tsx
  packages/combobox/demo/stories/data.ts
  packages/combobox/package.json
  packages/combobox/src/ComboboxContainer.spec.tsx
  packages/combobox/src/ComboboxContainer.tsx
  packages/combobox/src/index.ts
  packages/combobox/src/types.ts
  packages/combobox/src/useCombobox.ts
  packages/combobox/src/utils.ts
  packages/combobox/tsconfig.build.json
  packages/combobox/yarn.lock
  tsconfig.json
  yarn.lock
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

chore(release): publish
  packages/combobox/.size-snapshot.json
  packages/combobox/CHANGELOG.md
  packages/combobox/package.json
Due: prettier-package-json --write

fix: size snapshot
  packages/slider/.size-snapshot.json
Due: none

fix: typeof import lint
  packages/slider/.size-snapshot.json
  packages/slider/src/SliderContainer.spec.tsx
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

fix: update yarn.lock for template package
  packages/.template/yarn.lock
Due: none

fix: update snapshot
  packages/slider/.size-snapshot.json
Due: none

chore(deps): sync lock files for packages
  packages/accordion/yarn.lock
  packages/buttongroup/yarn.lock
  packages/combobox/yarn.lock
  packages/field/yarn.lock
  packages/focusjail/yarn.lock
  packages/grid/yarn.lock
  packages/keyboardfocus/yarn.lock
  packages/modal/yarn.lock
  packages/pagination/yarn.lock
  packages/selection/yarn.lock
  packages/splitter/yarn.lock
  packages/tabs/yarn.lock
  packages/tooltip/yarn.lock
  packages/treeview/yarn.lock
Due: none

chore(deps): sync lock files for packages (#536)
  packages/accordion/yarn.lock
  packages/buttongroup/yarn.lock
  packages/combobox/yarn.lock
  packages/field/yarn.lock
  packages/focusjail/yarn.lock
  packages/grid/yarn.lock
  packages/keyboardfocus/yarn.lock
  packages/modal/yarn.lock
  packages/pagination/yarn.lock
  packages/selection/yarn.lock
  packages/splitter/yarn.lock
  packages/tabs/yarn.lock
  packages/tooltip/yarn.lock
  packages/treeview/yarn.lock
Due: none

fix: ignore ts error type mismatch
  packages/slider/src/SliderContainer.spec.tsx
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Modify `environment` to be of type Window rather than Document
  packages/combobox/.size-snapshot.json
  packages/combobox/src/types.ts
  packages/combobox/src/useCombobox.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Fix event handler for downshift layouts incorrectly updated with 1791d0c
  packages/combobox/.size-snapshot.json
  packages/combobox/src/useCombobox.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Remove invalid aria-expanded
  packages/combobox/.size-snapshot.json
  packages/combobox/src/ComboboxContainer.spec.tsx
  packages/combobox/src/useCombobox.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Path conditions:
  eslint --max-warnings 0: any of: *.{js,ts,tsx}
  jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier-package-json --write: any of: **/package.json
