Repository zendeskgarden/react-containers: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

chore(release): publish
  packages/field/.size-snapshot.json
  packages/field/CHANGELOG.md
  packages/field/package.json
Due: prettier-package-json --write

Updates [skip ci]
  iframe.html
  main.2afaa6b7.iframe.bundle.js
  main.e8b1c4b3.iframe.bundle.js
  project.json
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(measuretiming): fixes for external API
  packages/measuretiming/src/actionLog.ts
  packages/measuretiming/src/types.ts
  packages/measuretiming/src/useActionLogRef.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(measuretiming): onExternalDependenciesChange must fire before anything else
  packages/measuretiming/src/useTiming.spec.tsx
  packages/measuretiming/src/useTimingMeasurement.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Updates [skip ci]
  project.json
Due: none

chore(jest): update to esbuild-jest
  .circleci/config.yml
  .gitignore
  .lintstagedrc
  babel.config.js
  package.json
  utils/test/jest.config.js
  utils/test/jest.resolver.js
  utils/test/jest.setup.js
  yarn.lock
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

fix: update jest config
  babel.config.js
  package.json
  utils/test/jest.config.js
  yarn.lock
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

fix: remove type imports from test files
  .gitignore
  babel.config.js
  package.json
  yarn.lock
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

chore: pin package version
  package.json
Due: prettier-package-json --write

chore(scrollregion): remove unused react-merge-refs package
  packages/scrollregion/package.json
  packages/scrollregion/yarn.lock
Due: prettier-package-json --write

fix: update lock file
  babel.config.js
  yarn.lock
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(scrollregion): remove unused react-merge-refs package (#475)
  packages/scrollregion/package.json
  packages/scrollregion/yarn.lock
Due: prettier-package-json --write

feat: created scaffolding for Slider container
  packages/slider/.size-snapshot.json
  packages/slider/CHANGELOG.md
  packages/slider/README.md
  packages/slider/demo/#readme.stories.mdx
  packages/slider/demo/slider.stories.mdx
  packages/slider/demo/stories/SliderStory.tsx
  packages/slider/package.json
  packages/slider/src/SliderContainer.spec.tsx
  packages/slider/src/SliderContainer.tsx
  packages/slider/src/index.ts
  packages/slider/src/types.ts
  packages/slider/src/useSlider.ts
  packages/slider/tsconfig.build.json
  packages/slider/yarn.lock
  tsconfig.json
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

feat: started adding default props for Slider
  packages/slider/.size-snapshot.json
  packages/slider/src/SliderContainer.spec.tsx
  packages/slider/src/types.ts
  packages/slider/src/useSlider.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

feat: created types & interfaces for Native and Aria sliders
  packages/slider/src/types.ts
  packages/slider/src/useSlider.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

feat: started fleshing out Slider stories for native and ARIA examples
  packages/slider/.size-snapshot.json
  packages/slider/demo/slider.stories.mdx
  packages/slider/demo/stories/SliderStory.tsx
  packages/slider/src/types.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

feat: started adding Slider disabled and readOnly states to Storybook
  packages/slider/demo/slider.stories.mdx
  packages/slider/demo/stories/SliderStory.tsx
  packages/slider/src/types.ts
  packages/slider/src/useSlider.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

feat: refined how tabIndex is added to Slider props
  packages/slider/demo/stories/SliderStory.tsx
  packages/slider/src/types.ts
  packages/slider/src/useSlider.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

feat: removed concept of NativeSlider; started working on values
  packages/slider/demo/slider.stories.mdx
  packages/slider/demo/stories/SliderStory.tsx
  packages/slider/demo/stories/components.tsx
  packages/slider/src/types.ts
  packages/slider/src/useSlider.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

feat: added window resize handler to get Slider width
  packages/slider/demo/slider.stories.mdx
  packages/slider/demo/stories/SliderStory.tsx
  packages/slider/demo/stories/components.tsx
  packages/slider/src/types.ts
  packages/slider/src/useSlider.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

feat: started styling demo based on value/position values
  packages/slider/demo/slider.stories.mdx
  packages/slider/demo/stories/SliderStory.tsx
  packages/slider/demo/stories/components.tsx
  packages/slider/src/types.ts
  packages/slider/src/useSlider.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

feat: continued progress on click track function to set value
  packages/slider/demo/stories/SliderStory.tsx
  packages/slider/demo/stories/components.tsx
  packages/slider/src/types.ts
  packages/slider/src/useSlider.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

feat: committing after pairing session with Mike
  packages/slider/demo/slider.stories.mdx
  packages/slider/demo/stories/SliderStory.tsx
  packages/slider/demo/stories/components.tsx
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

test(slider): use slider reducer
  packages/slider/README.md
  packages/slider/demo/slider.stories.mdx
  packages/slider/demo/stories/SliderStory.tsx
  packages/slider/demo/stories/components.tsx
  packages/slider/src/sliderReducer.ts
  packages/slider/src/types.ts
  packages/slider/src/useSlider.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

feat(slider): renamed getters to include word Slider; updated demo Slider colors
  packages/slider/demo/stories/SliderStory.tsx
  packages/slider/demo/stories/components.tsx
  packages/slider/src/types.ts
  packages/slider/src/useSlider.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

feat(slider): started seeing thumb drag functionality working
  packages/slider/demo/stories/components.tsx
  packages/slider/src/useSlider.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

feat(slider): commit after seeing slider drag functionaltiy work as expected
  packages/slider/demo/stories/components.tsx
  packages/slider/src/useSlider.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

feat(slider): commit after working slide functionality! also, lint cleanup
  packages/slider/demo/slider.stories.mdx
  packages/slider/demo/stories/components.tsx
  packages/slider/src/sliderReducer.ts
  packages/slider/src/types.ts
  packages/slider/src/useSlider.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

feat(slider): fixed weird sliding behavior 🤞
  packages/grid/package.json
  packages/slider/README.md
  packages/slider/demo/stories/components.tsx
  packages/slider/package.json
  packages/slider/src/sliderReducer.ts
  packages/slider/src/useSlider.ts
  packages/slider/yarn.lock
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

feat(slider): styled Slider for RTL layouts; removed aria-valuetext styles
  packages/slider/demo/slider.stories.mdx
  packages/slider/demo/stories/components.tsx
  packages/slider/src/types.ts
  packages/slider/src/useSlider.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

feat(slider): added styles for readonly state
  packages/slider/demo/stories/components.tsx
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

feat(slider): updated keyboard interaction to accommodate RTL layouts
  packages/slider/src/useSlider.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

feat(slider): tweaked handleSlideMove to check thumb index is not null
  packages/slider/src/useSlider.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

feat(slider): sliding now works in RTL mode
  packages/slider/src/useSlider.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

feat(slider): added ResizeObserver for track dimensions
  packages/slider/demo/stories/components.tsx
  packages/slider/src/useSlider.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore: update story
  packages/slider/demo/slider.stories.mdx
  packages/slider/demo/stories/SliderStory.tsx
  packages/slider/demo/stories/components.tsx
  packages/slider/demo/stories/data.ts
  packages/slider/demo/stories/styled.tsx
  packages/slider/demo/stories/types.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Path conditions:
  eslint --max-warnings 0: any of: *.{js,ts,tsx}
  jest --config=utils/test/jest.config.js --findRelatedTests: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier-package-json --write: any of: **/package.json
