Repository zendeskgarden/react-containers: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, prettier-package-json --write

.lintstagedrc:

{
  "*.js": [
    "eslint",
    "prettier --write",
    "git add"
  ],
  "!(*CHANGELOG).md": [
    "markdownlint",
    "prettier --write",
    "git add"
  ],
  "**/package.json": [
    "prettier-package-json --write",
    "git add"
  ]
}

chore(gitignore): Added idea folder to gitignore
  .gitignore
Due: none

feat(treeview): Created treeview package
  packages/treeview/.size-snapshot.json
  packages/treeview/CHANGELOG.md
  packages/treeview/README.md
  packages/treeview/package.json
  packages/treeview/src/TreeviewContainer.spec.tsx
  packages/treeview/src/TreeviewContainer.tsx
  packages/treeview/src/index.ts
  packages/treeview/src/useTreeview.ts
  packages/treeview/treeview.stories.tsx
  packages/treeview/tsconfig.build.json
  packages/treeview/yarn.lock
Due: prettier-package-json --write

chore(storybook): enabled actions addon
  .storybook/main.js
Due: eslint, prettier --write

feat(treeview): finished component and story
  packages/treeview/.size-snapshot.json
  packages/treeview/src/useTreeview.ts
  packages/treeview/treeview.stories.tsx
Due: none

test(treeview): wrote unit tests for treeview
  packages/treeview/src/TreeviewContainer.spec.tsx
  packages/treeview/src/useTreeview.ts
  packages/treeview/treeview.stories.tsx
Due: none

feat(grid): add new grid hook
  README.md
  packages/grid/.size-snapshot.json
  packages/grid/CHANGELOG.md
  packages/grid/README.md
  packages/grid/grid.stories.tsx
  packages/grid/package.json
  packages/grid/src/GridContainer.spec.tsx
  packages/grid/src/GridContainer.tsx
  packages/grid/src/index.ts
  packages/grid/src/useGrid.ts
  packages/grid/tsconfig.build.json
  packages/grid/yarn.lock
Due: prettier-package-json --write

refactor: renamed expandedNodes into openNodes
  packages/treeview/.size-snapshot.json
  packages/treeview/src/TreeviewContainer.spec.tsx
  packages/treeview/src/useTreeview.ts
  packages/treeview/treeview.stories.tsx
Due: none

refactor: Changed the control behaviour
  packages/treeview/.size-snapshot.json
  packages/treeview/src/TreeviewContainer.spec.tsx
  packages/treeview/src/useTreeview.ts
Due: none

style: orderd imports
  packages/treeview/.size-snapshot.json
  packages/treeview/src/TreeviewContainer.spec.tsx
Due: none

chore(dependencies): removed react-uid from treeview
  packages/treeview/package.json
  packages/treeview/yarn.lock
Due: prettier-package-json --write

docs(treeview): Added implementation questions
  packages/treeview/.size-snapshot.json
  packages/treeview/README.md
  packages/treeview/src/useTreeview.ts
Due: none

feat(utilities): Added the asterisk keycode
  packages/utilities/src/utils/KEY_CODES.ts
Due: none

refactor(treeview): Treeview now uses selection-container
  packages/treeview/.size-snapshot.json
  packages/treeview/README.md
  packages/treeview/package.json
  packages/treeview/src/TreeviewContainer.spec.tsx
  packages/treeview/src/TreeviewContainer.tsx
  packages/treeview/src/keyboardInteractions/handleArrowDown.ts
  packages/treeview/src/keyboardInteractions/handleArrowUp.ts
  packages/treeview/src/keyboardInteractions/handleAsterisk.ts
  packages/treeview/src/keyboardInteractions/handleEnd.ts
  packages/treeview/src/keyboardInteractions/handleHome.ts
  packages/treeview/src/keyboardInteractions/index.ts
  packages/treeview/src/keyboardInteractions/utils.ts
  packages/treeview/src/useTreeview.ts
  packages/treeview/treeview.stories.tsx
Due: prettier-package-json --write

refactor(treeview): Treeview now uses selection-container
  packages/treeview/.size-snapshot.json
  packages/treeview/src/TreeviewContainer.spec.tsx
  packages/treeview/src/useTreeview.ts
  packages/treeview/treeview.stories.tsx
  packages/treeview/yarn.lock
Due: none

chore: Update snize-snapshot
  packages/treeview/.size-snapshot.json
  packages/utilities/.size-snapshot.json
Due: none

feat(a11y): added keyboard controls
  packages/treeview/.size-snapshot.json
  packages/treeview/src/TreeviewContainer.spec.tsx
  packages/treeview/src/keyboardInteractions/handleArrowDown.ts
  packages/treeview/src/keyboardInteractions/handleArrowLeft.ts
  packages/treeview/src/keyboardInteractions/handleArrowRight.ts
  packages/treeview/src/keyboardInteractions/handleArrowUp.ts
  packages/treeview/src/keyboardInteractions/handleAsterisk.ts
  packages/treeview/src/keyboardInteractions/handleEnd.ts
  packages/treeview/src/keyboardInteractions/handleHome.ts
  packages/treeview/src/keyboardInteractions/index.ts
  packages/treeview/src/keyboardInteractions/utils.ts
  packages/treeview/src/useTreeview.ts
  packages/treeview/treeview.stories.tsx
  packages/treeview/yarn.lock
  packages/utilities/.size-snapshot.json
  packages/utilities/src/index.ts
  packages/utilities/src/utils/DocumentPosition.ts
Due: none

chore(treeview): Updated size-snapshot
  packages/treeview/.size-snapshot.json
Due: none

fix home/end behavior
  packages/grid/src/GridContainer.spec.tsx
  packages/grid/src/useGrid.ts
Due: none

Fix readme
  README.md
  packages/grid/.size-snapshot.json
Due: none

Update prop description
  packages/grid/src/GridContainer.tsx
Due: none

Rename constant
  packages/grid/.size-snapshot.json
  packages/grid/src/useGrid.ts
Due: none

Add knob for RTL
  packages/grid/grid.stories.tsx
Due: none

refactor(treeview): Improved keyboard control handling
  packages/treeview/src/keyboardInteractions/handleArrowDown.ts
  packages/treeview/src/keyboardInteractions/handleArrowRight.ts
  packages/treeview/src/keyboardInteractions/handleArrowUp.ts
  packages/treeview/src/keyboardInteractions/handleEnd.ts
  packages/treeview/src/keyboardInteractions/handleHome.ts
  packages/treeview/src/useTreeview.ts
Due: none

feat(treeview): Added direction and RTL support
  packages/treeview/README.md
  packages/treeview/src/keyboardInteractions/handleArrowUp.ts
  packages/treeview/src/useTreeview.ts
  packages/treeview/treeview.stories.tsx
Due: none

refactor(treeview): Extracted types to their own file
  packages/treeview/.size-snapshot.json
  packages/treeview/src/TreeviewContainer.spec.tsx
  packages/treeview/src/TreeviewContainer.tsx
  packages/treeview/src/index.ts
  packages/treeview/src/types.ts
  packages/treeview/src/useTreeview.ts
Due: none

Fix prop descriptions
  packages/grid/src/GridContainer.tsx
  packages/grid/src/useGrid.ts
Due: none

Fix control+home/end navigation
  packages/grid/.size-snapshot.json
  packages/grid/src/GridContainer.spec.tsx
  packages/grid/src/useGrid.ts
Due: none

style: fixed spacing issue in handleEnd
  packages/treeview/src/keyboardInteractions/handleEnd.ts
Due: none

Add RTL navigation support
  packages/grid/.size-snapshot.json
  packages/grid/grid.stories.tsx
  packages/grid/src/GridContainer.spec.tsx
  packages/grid/src/GridContainer.tsx
  packages/grid/src/useGrid.ts
Due: none

feat(grid): add new grid hook (#343)
  README.md
  packages/grid/.size-snapshot.json
  packages/grid/CHANGELOG.md
  packages/grid/README.md
  packages/grid/grid.stories.tsx
  packages/grid/package.json
  packages/grid/src/GridContainer.spec.tsx
  packages/grid/src/GridContainer.tsx
  packages/grid/src/index.ts
  packages/grid/src/useGrid.ts
  packages/grid/tsconfig.build.json
  packages/grid/yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency @babel/cli to v7.14.8
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency @rollup/plugin-commonjs to v19.0.2
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency @rollup/plugin-node-resolve to v13.0.4
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency @types/jest to v26.0.24
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency @types/prop-types to v15.7.4
  package.json
  yarn.lock
Due: prettier-package-json --write
