Repository zendeskgarden/react-containers: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Refactor modal interfaces with required aria-label and optional role
  packages/breadcrumb/demo/stories/BreadcrumbStory.tsx
  packages/breadcrumb/src/types.ts
  packages/breadcrumb/src/useBreadcrumb.ts
  packages/modal/demo/stories/ModalStory.tsx
  packages/modal/src/ModalContainer.spec.tsx
  packages/modal/src/ModalContainer.tsx
  packages/modal/src/index.ts
  packages/modal/src/types.ts
  packages/modal/src/useModal.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update with useId
  packages/modal/.size-snapshot.json
  packages/modal/package.json
  packages/modal/src/ModalContainer.spec.tsx
  packages/modal/src/ModalContainer.tsx
  packages/modal/src/types.ts
  packages/modal/src/useModal.ts
  packages/modal/yarn.lock
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Update yarn.lock
  packages/modal/yarn.lock
Due: none

Refactor selection type interfaces
  packages/breadcrumb/src/types.ts
  packages/focusjail/src/types.ts
  packages/modal/src/types.ts
  packages/selection/demo/stories/SelectionStory.tsx
  packages/selection/src/SelectionContainer.spec.tsx
  packages/selection/src/SelectionContainer.tsx
  packages/selection/src/index.ts
  packages/selection/src/types.ts
  packages/selection/src/useSelection.ts
  packages/selection/src/utils.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Refactor tabs container type interfaces
  packages/selection/src/types.ts
  packages/selection/src/useSelection.ts
  packages/tabs/.size-snapshot.json
  packages/tabs/demo/stories/TabsStory.tsx
  packages/tabs/package.json
  packages/tabs/src/TabsContainer.spec.tsx
  packages/tabs/src/TabsContainer.tsx
  packages/tabs/src/index.ts
  packages/tabs/src/types.ts
  packages/tabs/src/useTabs.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Refactor buttongroup type interfaces
  packages/buttongroup/demo/buttongroup.stories.mdx
  packages/buttongroup/demo/stories/ButtonGroupStory.tsx
  packages/buttongroup/src/ButtonGroupContainer.spec.tsx
  packages/buttongroup/src/ButtonGroupContainer.tsx
  packages/buttongroup/src/index.ts
  packages/buttongroup/src/types.ts
  packages/buttongroup/src/useButtonGroup.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Refactor treeview type interfaces
  packages/breadcrumb/demo/stories/BreadcrumbStory.tsx
  packages/breadcrumb/src/types.ts
  packages/buttongroup/src/types.ts
  packages/buttongroup/src/useButtonGroup.ts
  packages/focusvisible/demo/~patterns/stories/SelectionStory.tsx
  packages/modal/src/types.ts
  packages/selection/src/types.ts
  packages/tabs/src/types.ts
  packages/tabs/src/useTabs.ts
  packages/treeview/demo/stories/TreeviewStory.tsx
  packages/treeview/demo/treeview.stories.mdx
  packages/treeview/src/TreeviewContainer.spec.tsx
  packages/treeview/src/TreeviewContainer.tsx
  packages/treeview/src/index.ts
  packages/treeview/src/keyboardInteractions.ts
  packages/treeview/src/types.ts
  packages/treeview/src/useTreeview.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Refactor pagination interface types
  packages/buttongroup/.size-snapshot.json
  packages/buttongroup/src/types.ts
  packages/buttongroup/src/useButtonGroup.ts
  packages/pagination/.size-snapshot.json
  packages/pagination/demo/stories/PaginationStory.tsx
  packages/pagination/src/PaginationContainer.spec.tsx
  packages/pagination/src/PaginationContainer.tsx
  packages/pagination/src/index.ts
  packages/pagination/src/types.ts
  packages/pagination/src/usePagination.ts
  packages/selection/.size-snapshot.json
  packages/selection/src/SelectionContainer.spec.tsx
  packages/selection/src/types.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Clean up
  packages/focusjail/.size-snapshot.json
  packages/focusjail/src/FocusJailContainer.spec.tsx
  packages/focusjail/src/useFocusJail.ts
  packages/modal/src/ModalContainer.spec.tsx
  packages/pagination/src/types.ts
  packages/selection/.size-snapshot.json
  packages/selection/src/SelectionContainer.spec.tsx
  packages/selection/src/useSelection.ts
  packages/tabs/.size-snapshot.json
  packages/tabs/yarn.lock
  packages/treeview/.size-snapshot.json
  packages/treeview/demo/stories/TreeviewStory.tsx
  packages/treeview/src/TreeviewContainer.spec.tsx
  packages/treeview/src/TreeviewContainer.tsx
  packages/treeview/src/types.ts
  packages/treeview/src/useTreeview.ts
  packages/utilities/.size-snapshot.json
  packages/utilities/src/index.ts
  packages/utilities/src/utils/ContainerOrientation.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Orientation type consistency
  packages/tabs/.size-snapshot.json
  packages/tabs/demo/stories/TabsStory.tsx
  packages/tabs/src/TabsContainer.spec.tsx
  packages/tabs/src/TabsContainer.tsx
  packages/tabs/src/types.ts
  packages/tabs/src/useTabs.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(deps): update dependency @types/react to v18
  package.json
  yarn.lock
Due: prettier-package-json --write

Remove environment default
  packages/focusjail/.size-snapshot.json
  packages/focusjail/src/useFocusJail.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(measuretiming): only add Objects to reportedErrors WeakSet
  packages/measuretiming/.size-snapshot.json
  packages/measuretiming/src/useTimingMeasurement.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Updates [skip ci]
  project.json
Due: none

Revert "chore(README): fix markdown formatting"
  packages/accordion/README.md
  packages/breadcrumb/README.md
  packages/buttongroup/README.md
  packages/field/README.md
  packages/focusjail/README.md
  packages/focusvisible/README.md
  packages/grid/README.md
  packages/keyboardfocus/README.md
  packages/modal/README.md
  packages/pagination/README.md
  packages/schedule/README.md
  packages/scrollregion/README.md
  packages/selection/README.md
  packages/splitter/README.md
  packages/tabs/README.md
  packages/tooltip/README.md
  packages/treeview/README.md
  packages/utilities/README.md
Due: none

Revert re-formatting
  .prettierrc
  README.md
  tsconfig.json
Due: none

Minor demo naming tweaks
  packages/measuretiming/demo/measuretiming.stories.mdx
  packages/measuretiming/demo/stories/MeasureTimingStory.tsx
  packages/measuretiming/package.json
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Refactor splitter types
  packages/splitter/demo/splitter.stories.mdx
  packages/splitter/demo/stories/SplitterStory.tsx
  packages/splitter/src/SplitterContainer.tsx
  packages/splitter/src/index.ts
  packages/splitter/src/types.ts
  packages/splitter/src/useSplitter.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update splitter tests
  packages/splitter/.size-snapshot.json
  packages/splitter/src/SplitterContainer.spec.tsx
  packages/splitter/src/SplitterContainer.tsx
  packages/splitter/src/types.ts
  packages/splitter/src/useSplitter.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Remove react-uid
  packages/splitter/package.json
  packages/splitter/yarn.lock
Due: prettier-package-json --write

Restore controlled component drag action
  packages/splitter/.size-snapshot.json
  packages/splitter/src/useSplitter.ts
  packages/splitter/yarn.lock
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(splitter)!: refactor with improved type interfaces (#464)
  packages/splitter/.size-snapshot.json
  packages/splitter/demo/splitter.stories.mdx
  packages/splitter/demo/stories/SplitterStory.tsx
  packages/splitter/package.json
  packages/splitter/src/SplitterContainer.spec.tsx
  packages/splitter/src/SplitterContainer.tsx
  packages/splitter/src/index.ts
  packages/splitter/src/types.ts
  packages/splitter/src/useSplitter.ts
  packages/splitter/yarn.lock
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

chore(release): publish
  packages/splitter/CHANGELOG.md
  packages/splitter/package.json
Due: prettier-package-json --write

Updates [skip ci]
  iframe.html
  main.cb76ed2b.iframe.bundle.js
  main.edf2f0f6.iframe.bundle.js
  project.json
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update template with latest types configuration
  packages/.template/demo/stories/{{capitalize component}}Story.tsx
  packages/.template/src/index.ts
  packages/.template/src/types.ts
  packages/.template/src/use{{capitalize component}}.ts
  packages/.template/src/{{capitalize component}}Container.spec.tsx
  packages/.template/src/{{capitalize component}}Container.tsx
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Refine template
  packages/.template/demo/stories/{{capitalize component}}Story.tsx
  packages/.template/demo/{{lowercase component}}.stories.mdx
  packages/.template/src/types.ts
  packages/.template/src/use{{capitalize component}}.ts
  packages/.template/src/{{capitalize component}}Container.tsx
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(template): update with latest interface type structure (#465)
  packages/.template/demo/stories/{{capitalize component}}Story.tsx
  packages/.template/demo/{{lowercase component}}.stories.mdx
  packages/.template/src/index.ts
  packages/.template/src/types.ts
  packages/.template/src/use{{capitalize component}}.ts
  packages/.template/src/{{capitalize component}}Container.spec.tsx
  packages/.template/src/{{capitalize component}}Container.tsx
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

feat(field): add getMessageProps prop getter to container
  packages/field/.size-snapshot.json
  packages/field/src/FieldContainer.spec.tsx
  packages/field/src/FieldContainer.tsx
  packages/field/src/index.ts
  packages/field/src/types.ts
  packages/field/src/useField.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(storybook): add containsMessage to field story
  packages/field/demo/field.stories.mdx
  packages/field/demo/stories/FieldStory.tsx
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore: rename option to hasMessage
  packages/field/.size-snapshot.json
  packages/field/demo/field.stories.mdx
  packages/field/demo/stories/FieldStory.tsx
  packages/field/src/FieldContainer.spec.tsx
  packages/field/src/types.ts
  packages/field/src/useField.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(storybook): add role alert to message
  packages/field/demo/stories/FieldStory.tsx
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix: update readme examples
  packages/field/README.md
Due: none

chore: update story
  packages/field/demo/field.stories.mdx
Due: none

feat(field): add getMessageProps prop getter to container (#473)
  packages/field/.size-snapshot.json
  packages/field/README.md
  packages/field/demo/field.stories.mdx
  packages/field/demo/stories/FieldStory.tsx
  packages/field/src/FieldContainer.spec.tsx
  packages/field/src/FieldContainer.tsx
  packages/field/src/index.ts
  packages/field/src/types.ts
  packages/field/src/useField.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Path conditions:
  eslint --max-warnings 0: any of: *.{js,ts,tsx}
  jest --config=utils/test/jest.config.js --findRelatedTests: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier-package-json --write: any of: **/package.json
