Repository zendeskgarden/react-containers: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, prettier-package-json --write

.lintstagedrc:

{
  "*.js": [
    "eslint",
    "prettier --write",
    "git add"
  ],
  "!(*CHANGELOG).md": [
    "markdownlint",
    "prettier --write",
    "git add"
  ],
  "**/package.json": [
    "prettier-package-json --write",
    "git add"
  ]
}

chore(deps): update node orb to v4.2.0
  .circleci/config.yml
Due: none

chore(deps): update dependency envalid to v7
  package.json
  yarn.lock
Due: prettier-package-json --write

Updates [skip ci]
  iframe.html
  main.17f7c2063e20798f4e02.bundle.js.map
  main.81eaf1bd5c24dbd7c561.bundle.js
  main.81eaf1bd5c24dbd7c561.bundle.js.map
  runtime~main.17f7c2063e20798f4e02.bundle.js.map
  runtime~main.81eaf1bd5c24dbd7c561.bundle.js
  runtime~main.81eaf1bd5c24dbd7c561.bundle.js.map
  vendors~main.17f7c2063e20798f4e02.bundle.js.map
  vendors~main.81eaf1bd5c24dbd7c561.bundle.js
  vendors~main.81eaf1bd5c24dbd7c561.bundle.js.LICENSE.txt
  vendors~main.81eaf1bd5c24dbd7c561.bundle.js.map
Due: eslint, prettier --write

Updates [skip ci]
  iframe.html
  main.29f15211f9062c1cd8f6.bundle.js
  main.29f15211f9062c1cd8f6.bundle.js.map
  main.81eaf1bd5c24dbd7c561.bundle.js.map
  runtime~main.29f15211f9062c1cd8f6.bundle.js
  runtime~main.29f15211f9062c1cd8f6.bundle.js.map
  runtime~main.81eaf1bd5c24dbd7c561.bundle.js.map
  vendors~main.29f15211f9062c1cd8f6.bundle.js
  vendors~main.29f15211f9062c1cd8f6.bundle.js.LICENSE.txt
  vendors~main.29f15211f9062c1cd8f6.bundle.js.map
  vendors~main.81eaf1bd5c24dbd7c561.bundle.js.map
Due: eslint, prettier --write

chore(deps): update non-major shared dependencies to v4.18.0
  package.json
  yarn.lock
Due: prettier-package-json --write

Updates [skip ci]
  iframe.html
  main.29f15211f9062c1cd8f6.bundle.js.map
  main.81eaf1bd5c24dbd7c561.bundle.js
  main.81eaf1bd5c24dbd7c561.bundle.js.map
  runtime~main.29f15211f9062c1cd8f6.bundle.js.map
  runtime~main.81eaf1bd5c24dbd7c561.bundle.js
  runtime~main.81eaf1bd5c24dbd7c561.bundle.js.map
  vendors~main.29f15211f9062c1cd8f6.bundle.js.map
  vendors~main.81eaf1bd5c24dbd7c561.bundle.js
  vendors~main.81eaf1bd5c24dbd7c561.bundle.js.LICENSE.txt
  vendors~main.81eaf1bd5c24dbd7c561.bundle.js.map
Due: eslint, prettier --write

chore(deps): update dependency inquirer to v8
  package.json
  yarn.lock
Due: prettier-package-json --write

Updates [skip ci]
  iframe.html
  main.17f7c2063e20798f4e02.bundle.js
  main.17f7c2063e20798f4e02.bundle.js.map
  main.81eaf1bd5c24dbd7c561.bundle.js.map
  runtime~main.17f7c2063e20798f4e02.bundle.js
  runtime~main.17f7c2063e20798f4e02.bundle.js.map
  runtime~main.81eaf1bd5c24dbd7c561.bundle.js.map
  vendors~main.17f7c2063e20798f4e02.bundle.js
  vendors~main.17f7c2063e20798f4e02.bundle.js.LICENSE.txt
  vendors~main.17f7c2063e20798f4e02.bundle.js.map
  vendors~main.81eaf1bd5c24dbd7c561.bundle.js.map
Due: eslint, prettier --write

chore(deps): update dependency lerna to v4
  package.json
  yarn.lock
Due: prettier-package-json --write

Updates [skip ci]
  iframe.html
  main.17f7c2063e20798f4e02.bundle.js.map
  main.6c4b44b4cb15f4748fb6.bundle.js
  main.6c4b44b4cb15f4748fb6.bundle.js.map
  runtime~main.17f7c2063e20798f4e02.bundle.js.map
  runtime~main.6c4b44b4cb15f4748fb6.bundle.js
  runtime~main.6c4b44b4cb15f4748fb6.bundle.js.map
  vendors~main.17f7c2063e20798f4e02.bundle.js.map
  vendors~main.6c4b44b4cb15f4748fb6.bundle.js
  vendors~main.6c4b44b4cb15f4748fb6.bundle.js.LICENSE.txt
  vendors~main.6c4b44b4cb15f4748fb6.bundle.js.map
Due: eslint, prettier --write

Migrate husky config to v5
  .husky/.gitignore
  .husky/pre-commit
  .huskyrc
  package.json
Due: prettier-package-json --write

chore(deps): update dependency husky to v5
  package.json
  yarn.lock
Due: prettier-package-json --write

Move to postinstall
  package.json
Due: prettier-package-json --write

fix(accordions): provide valid React keys
  packages/accordion/accordion.stories.tsx
  packages/accordion/src/AccordionContainer.spec.tsx
Due: none

Updates [skip ci]
  iframe.html
  main.2b465a0c00c824dd7749.bundle.js
  main.2b465a0c00c824dd7749.bundle.js.map
  main.6c4b44b4cb15f4748fb6.bundle.js.map
  runtime~main.2b465a0c00c824dd7749.bundle.js
  runtime~main.2b465a0c00c824dd7749.bundle.js.map
  runtime~main.6c4b44b4cb15f4748fb6.bundle.js.map
  vendors~main.2b465a0c00c824dd7749.bundle.js
  vendors~main.2b465a0c00c824dd7749.bundle.js.LICENSE.txt
  vendors~main.2b465a0c00c824dd7749.bundle.js.map
  vendors~main.6c4b44b4cb15f4748fb6.bundle.js.map
Due: eslint, prettier --write

fix(accordions): provide valid React keys (#281)
  packages/accordion/accordion.stories.tsx
  packages/accordion/src/AccordionContainer.spec.tsx
Due: none

Updates [skip ci]
  iframe.html
  main.27a0850bc9bc94fcee4f.bundle.js
  main.27a0850bc9bc94fcee4f.bundle.js.map
  main.2b465a0c00c824dd7749.bundle.js
  main.2b465a0c00c824dd7749.bundle.js.map
  runtime~main.27a0850bc9bc94fcee4f.bundle.js
  runtime~main.27a0850bc9bc94fcee4f.bundle.js.map
  runtime~main.2b465a0c00c824dd7749.bundle.js.map
  vendors~main.27a0850bc9bc94fcee4f.bundle.js
  vendors~main.27a0850bc9bc94fcee4f.bundle.js.LICENSE.txt
  vendors~main.27a0850bc9bc94fcee4f.bundle.js.map
  vendors~main.2b465a0c00c824dd7749.bundle.js.map
Due: eslint, prettier --write

fix(modals): only close modal onmouseup for modal container
  packages/modal/.size-snapshot.json
  packages/modal/src/useModal.ts
Due: none

fix(modals): only close modal onmouseup for modal container (#282)
  packages/modal/.size-snapshot.json
  packages/modal/src/useModal.ts
Due: none

Updates [skip ci]
  iframe.html
  main.27a0850bc9bc94fcee4f.bundle.js
  main.27a0850bc9bc94fcee4f.bundle.js.map
  main.e3f251e4b2512aef57b6.bundle.js
  main.e3f251e4b2512aef57b6.bundle.js.map
  runtime~main.27a0850bc9bc94fcee4f.bundle.js.map
  runtime~main.e3f251e4b2512aef57b6.bundle.js
  runtime~main.e3f251e4b2512aef57b6.bundle.js.map
  vendors~main.27a0850bc9bc94fcee4f.bundle.js.map
  vendors~main.e3f251e4b2512aef57b6.bundle.js
  vendors~main.e3f251e4b2512aef57b6.bundle.js.LICENSE.txt
  vendors~main.e3f251e4b2512aef57b6.bundle.js.map
Due: eslint, prettier --write

chore(release): publish
  packages/accordion/.size-snapshot.json
  packages/accordion/CHANGELOG.md
  packages/accordion/package.json
  packages/modal/CHANGELOG.md
  packages/modal/package.json
Due: prettier-package-json --write

Updates [skip ci]
  iframe.html
  main.1b508629ba3411977de3.bundle.js
  main.1b508629ba3411977de3.bundle.js.map
  main.e3f251e4b2512aef57b6.bundle.js.map
  runtime~main.1b508629ba3411977de3.bundle.js
  runtime~main.1b508629ba3411977de3.bundle.js.map
  runtime~main.e3f251e4b2512aef57b6.bundle.js.map
  vendors~main.1b508629ba3411977de3.bundle.js
  vendors~main.1b508629ba3411977de3.bundle.js.LICENSE.txt
  vendors~main.1b508629ba3411977de3.bundle.js.map
  vendors~main.e3f251e4b2512aef57b6.bundle.js.map
Due: eslint, prettier --write

fix: update bedrock CSS link
  .storybook/preview-head.html
Due: none

fix: update bedrock CSS link (#284)
  .storybook/preview-head.html
Due: none

Updates [skip ci]
  iframe.html
Due: none

feat(scrollregion): add new scroll region hook
  packages/scrollregion/.size-snapshot.json
  packages/scrollregion/README.md
  packages/scrollregion/package.json
  packages/scrollregion/scrollregion.stories.tsx
  packages/scrollregion/src/ScrollRegionContainer.spec.tsx
  packages/scrollregion/src/ScrollRegionContainer.tsx
  packages/scrollregion/src/index.ts
  packages/scrollregion/src/useScrollRegion.ts
  packages/scrollregion/tsconfig.build.json
  packages/scrollregion/yarn.lock
Due: prettier-package-json --write

Update README with description of scroll regions
  packages/scrollregion/scrollregion.stories.tsx
Due: none

Update package.json
  packages/scrollregion/package.json
Due: prettier-package-json --write

Update README
  packages/scrollregion/README.md
Due: none

Pass scroll region container interface to container component
  packages/scrollregion/.size-snapshot.json
  packages/scrollregion/src/ScrollRegionContainer.tsx
Due: none

Use up-to-date prop-types and move to dependencies
  packages/scrollregion/package.json
  packages/scrollregion/yarn.lock
Due: prettier-package-json --write

Pin dev dependency
  packages/scrollregion/package.json
  packages/scrollregion/yarn.lock
Due: prettier-package-json --write

Add space between label and checkbox
  packages/scrollregion/scrollregion.stories.tsx
Due: none

feat(scrollregion): add new scroll region hook (#286)
  packages/scrollregion/.size-snapshot.json
  packages/scrollregion/README.md
  packages/scrollregion/package.json
  packages/scrollregion/scrollregion.stories.tsx
  packages/scrollregion/src/ScrollRegionContainer.spec.tsx
  packages/scrollregion/src/ScrollRegionContainer.tsx
  packages/scrollregion/src/index.ts
  packages/scrollregion/src/useScrollRegion.ts
  packages/scrollregion/tsconfig.build.json
  packages/scrollregion/yarn.lock
Due: prettier-package-json --write

Updates [skip ci]
  iframe.html
  main.1b508629ba3411977de3.bundle.js
  main.1b508629ba3411977de3.bundle.js.map
  main.e57b3310f5d30be5141e.bundle.js
  main.e57b3310f5d30be5141e.bundle.js.map
  runtime~main.1b508629ba3411977de3.bundle.js.map
  runtime~main.e57b3310f5d30be5141e.bundle.js
  runtime~main.e57b3310f5d30be5141e.bundle.js.map
  vendors~main.1b508629ba3411977de3.bundle.js
  vendors~main.1b508629ba3411977de3.bundle.js.map
  vendors~main.e57b3310f5d30be5141e.bundle.js
  vendors~main.e57b3310f5d30be5141e.bundle.js.LICENSE.txt
  vendors~main.e57b3310f5d30be5141e.bundle.js.map
Due: eslint, prettier --write

chore(release): publish
  packages/scrollregion/CHANGELOG.md
  packages/scrollregion/package.json
Due: prettier-package-json --write

chore(demo): restore coverage report
  .circleci/config.yml
  .gitignore
  package.json
  utils/test/jest.config.js
Due: eslint, prettier --write, prettier-package-json --write

chore(demo): restore coverage report (#287)
  .circleci/config.yml
  .gitignore
  package.json
  utils/test/jest.config.js
Due: eslint, prettier --write, prettier-package-json --write

chore: refactor tests for accurate coverage
  packages/accordion/src/AccordionContainer.spec.tsx
  packages/breadcrumb/src/BreadcrumbContainer.spec.tsx
  packages/breadcrumb/src/BreadcrumbContainer.tsx
  packages/breadcrumb/src/index.ts
  packages/breadcrumb/src/useBreadcrumb.ts
  packages/buttongroup/src/ButtonGroupContainer.spec.tsx
  packages/field/src/FieldContainer.spec.tsx
  packages/focusjail/src/FocusJailContainer.spec.tsx
  packages/keyboardfocus/src/KeyboardFocusContainer.spec.tsx
  packages/modal/src/ModalContainer.spec.tsx
  packages/pagination/src/PaginationContainer.spec.tsx
  packages/schedule/src/ScheduleContainer.spec.tsx
  packages/scrollregion/src/ScrollRegionContainer.spec.tsx
  packages/selection/src/SelectionContainer.spec.tsx
  packages/tabs/src/TabsContainer.spec.tsx
  packages/tooltip/src/TooltipContainer.spec.tsx
Due: none
