Repository zendeskgarden/react-containers: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, prettier-package-json --write

chore(deps): update dependency @rollup/plugin-node-resolve to v9
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency @zendeskgarden/eslint-config to v15
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency ts-loader to v8
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency typescript to v4
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update node orb to v4
  .circleci/config.yml
Due: none

chore(deps): update non-major shared dependencies to v3.10.0
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update non-major shared dependencies
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update storybook monorepo to v6
  package.json
  yarn.lock
Due: prettier-package-json --write

Remove @storybook/preset-typescript
  .storybook/main.js
  package.json
Due: eslint, prettier --write, prettier-package-json --write

Add resolutions
  package.json
  yarn.lock
Due: prettier-package-json --write

Remove withA11y because Storybook v6 injects it directly
  .storybook/preview.js
Due: eslint, prettier --write

Use Storybook v6 annotations & docs description parameter
  packages/accordion/accordion.stories.tsx
  packages/breadcrumb/breadcrumb.stories.tsx
  packages/buttongroup/buttongroup.stories.tsx
  packages/field/field.stories.tsx
  packages/focusjail/focusjail.stories.tsx
  packages/focusvisible/focusvisible.stories.tsx
  packages/keyboardfocus/keyboardfocus.stories.tsx
  packages/modal/modal.stories.tsx
  packages/pagination/pagination.stories.tsx
  packages/schedule/schedule.stories.tsx
  packages/selection/selection.stories.tsx
  packages/tabs/tabs.stories.tsx
  packages/tooltip/tooltip.stories.tsx
Due: none

Pin resolutions
  package.json
Due: prettier-package-json --write

Remove deprecated addon-centered & center previews
  .storybook/preview.js
  package.json
  packages/accordion/accordion.stories.tsx
  packages/breadcrumb/breadcrumb.stories.tsx
  packages/buttongroup/buttongroup.stories.tsx
  packages/field/field.stories.tsx
  packages/focusjail/focusjail.stories.tsx
  packages/focusvisible/focusvisible.stories.tsx
  packages/keyboardfocus/keyboardfocus.stories.tsx
  packages/modal/modal.stories.tsx
  packages/pagination/pagination.stories.tsx
  packages/schedule/schedule.stories.tsx
  packages/selection/selection.stories.tsx
  packages/tabs/tabs.stories.tsx
  packages/tooltip/tooltip.stories.tsx
  yarn.lock
Due: eslint, prettier --write, prettier-package-json --write

Move prop descriptions to their interfaces
  packages/accordion/src/AccordionContainer.tsx
  packages/accordion/src/useAccordion.ts
  packages/breadcrumb/src/BreadcrumbContainer.tsx
  packages/buttongroup/src/ButtonGroupContainer.tsx
  packages/field/src/FieldContainer.tsx
  packages/focusjail/src/FocusJailContainer.tsx
  packages/focusjail/src/useFocusJail.ts
  packages/focusvisible/src/FocusVisibleContainer.tsx
  packages/focusvisible/src/useFocusVisible.ts
  packages/keyboardfocus/src/KeyboardFocusContainer.tsx
  packages/modal/src/ModalContainer.tsx
  packages/modal/src/useModal.ts
  packages/pagination/src/PaginationContainer.tsx
  packages/schedule/src/ScheduleContainer.tsx
  packages/schedule/src/useSchedule.ts
  packages/selection/src/SelectionContainer.tsx
  packages/selection/src/useSelection.ts
  packages/tabs/src/TabsContainer.tsx
  packages/tabs/src/useTabs.ts
  packages/tooltip/src/TooltipContainer.tsx
  packages/tooltip/src/useTooltip.ts
Due: none

Update hrefs on home page
  demo/index.html
Due: none

fix(tabs): use separate refs for separate examples
  packages/tabs/tabs.stories.tsx
Due: none

fix(tabs): use separate refs for separate examples (#239)
  packages/tabs/tabs.stories.tsx
Due: none

chore(deps): update node orb to v4.1.0
  .circleci/config.yml
Due: none

chore(deps): update dependency @testing-library/react to v11
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency eslint-plugin-jest to v24
  package.json
  yarn.lock
Due: prettier-package-json --write

Do not wrap expect in conditional
  packages/focusjail/src/FocusJailContainer.spec.tsx
Due: none

fix(deps): update dependency tabbable to v5
  packages/focusjail/package.json
  packages/focusjail/yarn.lock
Due: prettier-package-json --write

Path conditions:
  eslint: any of: *.js
  prettier --write: any of: *.js
  prettier-package-json --write: any of: **/package.json
