Repository zendeskgarden/react-containers: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, prettier-package-json --write

feat: move ID utilities to react-uid
  packages/accordion/package.json
  packages/accordion/src/useAccordion.ts
  packages/field/package.json
  packages/field/src/useField.ts
  packages/field/stories.tsx
  packages/modal/package.json
  packages/modal/src/useModal.ts
  packages/tabs/package.json
  packages/tabs/src/useTabs.ts
  packages/tooltip/package.json
  packages/tooltip/src/useTooltip.ts
  packages/utilities/src/utils/IdManager.ts
Due: prettier-package-json --write

feat: move ID utilities to react-uid (#142)
  packages/accordion/package.json
  packages/accordion/src/useAccordion.ts
  packages/field/package.json
  packages/field/src/useField.ts
  packages/field/stories.tsx
  packages/modal/package.json
  packages/modal/src/useModal.ts
  packages/tabs/package.json
  packages/tabs/src/useTabs.ts
  packages/tooltip/package.json
  packages/tooltip/src/useTooltip.ts
  packages/utilities/src/utils/IdManager.ts
Due: prettier-package-json --write

chore(release): publish
  packages/accordion/CHANGELOG.md
  packages/accordion/package.json
  packages/buttongroup/CHANGELOG.md
  packages/buttongroup/package.json
  packages/field/CHANGELOG.md
  packages/field/package.json
  packages/focusjail/CHANGELOG.md
  packages/focusjail/package.json
  packages/keyboardfocus/CHANGELOG.md
  packages/keyboardfocus/package.json
  packages/modal/CHANGELOG.md
  packages/modal/package.json
  packages/pagination/CHANGELOG.md
  packages/pagination/package.json
  packages/selection/CHANGELOG.md
  packages/selection/package.json
  packages/tabs/CHANGELOG.md
  packages/tabs/package.json
  packages/tooltip/CHANGELOG.md
  packages/tooltip/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
Due: prettier-package-json --write

docs(README.md): fix typo
  README.md
Due: none

fix(docs) README `styles` typo (#148)
  README.md
Due: none

Format README (slipped through with #148)
  README.md
Due: none

fix: format README (#149)
  README.md
Due: none

Fix a11y semantics
  packages/pagination/src/PaginationContainer.spec.tsx
  packages/pagination/src/usePagination.ts
Due: none

Improve pagination example a11y, behavior, along with using non-semantic markup for container story
  packages/pagination/stories.tsx
Due: none

Guard against applying null `selectedAriaKey`
  packages/selection/src/useSelection.ts
Due: none

fix(pagination): accessibility semantics (#150)
  packages/pagination/src/PaginationContainer.spec.tsx
  packages/pagination/src/usePagination.ts
  packages/pagination/stories.tsx
  packages/selection/src/useSelection.ts
Due: none

chore(release): publish
  packages/buttongroup/CHANGELOG.md
  packages/buttongroup/package.json
  packages/pagination/CHANGELOG.md
  packages/pagination/package.json
  packages/selection/CHANGELOG.md
  packages/selection/package.json
  packages/tabs/CHANGELOG.md
  packages/tabs/package.json
Due: prettier-package-json --write

chore(deps): update dependency @testing-library/jest-dom to v5
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update non-major shared dependencies
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency lint-staged to v10
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency styled-components to v5
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency @types/jest to v25
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency ts-jest to v25
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update jest monorepo to v25
  package.json
  yarn.lock
Due: prettier-package-json --write

Remove snapshot to test travis failure
  packages/accordion/.size-snapshot.json
Due: none

Add missing size-snapshot
  packages/accordion/.size-snapshot.json
Due: none

Add side-effect false for Webpack 4+
  packages/.template/package.json
  packages/accordion/package.json
  packages/breadcrumb/package.json
  packages/buttongroup/package.json
  packages/field/package.json
  packages/focusjail/package.json
  packages/focusvisible/package.json
  packages/keyboardfocus/package.json
  packages/modal/package.json
  packages/pagination/package.json
  packages/schedule/package.json
  packages/selection/package.json
  packages/tabs/package.json
  packages/tooltip/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

fix(build): build size snapshots during version lifecycle hooks
  package.json
Due: prettier-package-json --write

chore(release): publish
  packages/accordion/.size-snapshot.json
  packages/accordion/CHANGELOG.md
  packages/accordion/package.json
  packages/breadcrumb/CHANGELOG.md
  packages/breadcrumb/package.json
  packages/buttongroup/.size-snapshot.json
  packages/buttongroup/CHANGELOG.md
  packages/buttongroup/package.json
  packages/field/.size-snapshot.json
  packages/field/CHANGELOG.md
  packages/field/package.json
  packages/focusjail/CHANGELOG.md
  packages/focusjail/package.json
  packages/focusvisible/CHANGELOG.md
  packages/focusvisible/package.json
  packages/keyboardfocus/CHANGELOG.md
  packages/keyboardfocus/package.json
  packages/modal/.size-snapshot.json
  packages/modal/CHANGELOG.md
  packages/modal/package.json
  packages/pagination/.size-snapshot.json
  packages/pagination/CHANGELOG.md
  packages/pagination/package.json
  packages/schedule/CHANGELOG.md
  packages/schedule/package.json
  packages/selection/CHANGELOG.md
  packages/selection/package.json
  packages/tabs/CHANGELOG.md
  packages/tabs/package.json
  packages/tooltip/CHANGELOG.md
  packages/tooltip/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
Due: prettier-package-json --write

fix(build): apply babel to all bundles
  package.json
  packages/accordion/.size-snapshot.json
  packages/breadcrumb/.size-snapshot.json
  packages/buttongroup/.size-snapshot.json
  packages/field/.size-snapshot.json
  packages/focusjail/.size-snapshot.json
  packages/focusvisible/.size-snapshot.json
  packages/keyboardfocus/.size-snapshot.json
  packages/modal/.size-snapshot.json
  packages/pagination/.size-snapshot.json
  packages/schedule/.size-snapshot.json
  packages/selection/.size-snapshot.json
  packages/tabs/.size-snapshot.json
  packages/tooltip/.size-snapshot.json
  packages/utilities/.size-snapshot.json
  utils/build/rollup.config.js
  utils/scripts/build.sh
  yarn.lock
Due: eslint, prettier --write, prettier-package-json --write

fix(build): apply babel to all bundles (#160)
  package.json
  packages/accordion/.size-snapshot.json
  packages/breadcrumb/.size-snapshot.json
  packages/buttongroup/.size-snapshot.json
  packages/field/.size-snapshot.json
  packages/focusjail/.size-snapshot.json
  packages/focusvisible/.size-snapshot.json
  packages/keyboardfocus/.size-snapshot.json
  packages/modal/.size-snapshot.json
  packages/pagination/.size-snapshot.json
  packages/schedule/.size-snapshot.json
  packages/selection/.size-snapshot.json
  packages/tabs/.size-snapshot.json
  packages/tooltip/.size-snapshot.json
  packages/utilities/.size-snapshot.json
  utils/build/rollup.config.js
  utils/scripts/build.sh
  yarn.lock
Due: eslint, prettier --write, prettier-package-json --write

chore(release): publish
  packages/accordion/.size-snapshot.json
  packages/accordion/CHANGELOG.md
  packages/accordion/package.json
  packages/breadcrumb/.size-snapshot.json
  packages/breadcrumb/CHANGELOG.md
  packages/breadcrumb/package.json
  packages/buttongroup/.size-snapshot.json
  packages/buttongroup/CHANGELOG.md
  packages/buttongroup/package.json
  packages/field/CHANGELOG.md
  packages/field/package.json
  packages/focusjail/CHANGELOG.md
  packages/focusjail/package.json
  packages/focusvisible/CHANGELOG.md
  packages/focusvisible/package.json
  packages/keyboardfocus/.size-snapshot.json
  packages/keyboardfocus/CHANGELOG.md
  packages/keyboardfocus/package.json
  packages/modal/.size-snapshot.json
  packages/modal/CHANGELOG.md
  packages/modal/package.json
  packages/pagination/CHANGELOG.md
  packages/pagination/package.json
  packages/schedule/CHANGELOG.md
  packages/schedule/package.json
  packages/selection/CHANGELOG.md
  packages/selection/package.json
  packages/tabs/CHANGELOG.md
  packages/tabs/package.json
  packages/tooltip/CHANGELOG.md
  packages/tooltip/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
Due: prettier-package-json --write

Ensure babel works with jest
  babel.config.js
Due: eslint, prettier --write

chore(release): publish
  packages/accordion/CHANGELOG.md
  packages/accordion/package.json
  packages/breadcrumb/.size-snapshot.json
  packages/breadcrumb/CHANGELOG.md
  packages/breadcrumb/package.json
  packages/buttongroup/CHANGELOG.md
  packages/buttongroup/package.json
  packages/field/CHANGELOG.md
  packages/field/package.json
  packages/focusjail/.size-snapshot.json
  packages/focusjail/CHANGELOG.md
  packages/focusjail/package.json
  packages/focusvisible/CHANGELOG.md
  packages/focusvisible/package.json
  packages/keyboardfocus/CHANGELOG.md
  packages/keyboardfocus/package.json
  packages/modal/.size-snapshot.json
  packages/modal/CHANGELOG.md
  packages/modal/package.json
  packages/pagination/CHANGELOG.md
  packages/pagination/package.json
  packages/schedule/CHANGELOG.md
  packages/schedule/package.json
  packages/selection/.size-snapshot.json
  packages/selection/CHANGELOG.md
  packages/selection/package.json
  packages/tabs/.size-snapshot.json
  packages/tabs/CHANGELOG.md
  packages/tabs/package.json
  packages/tooltip/.size-snapshot.json
  packages/tooltip/CHANGELOG.md
  packages/tooltip/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
Due: prettier-package-json --write

feat(useFocusJail): return focus
  packages/focusjail/.size-snapshot.json
  packages/focusjail/src/FocusJailContainer.spec.tsx
  packages/focusjail/src/useFocusJail.ts
Due: none

feat(useFocusJail): return focus (#161)
  packages/focusjail/.size-snapshot.json
  packages/focusjail/src/FocusJailContainer.spec.tsx
  packages/focusjail/src/useFocusJail.ts
Due: none

chore(release): publish
  packages/focusjail/CHANGELOG.md
  packages/focusjail/package.json
  packages/modal/.size-snapshot.json
  packages/modal/CHANGELOG.md
  packages/modal/package.json
Due: prettier-package-json --write

fix(focusvisible): allow server side rendering
  packages/focusvisible/.size-snapshot.json
  packages/focusvisible/src/useFocusVisible.ts
Due: none

feat(modal): allow optional restore focus
  packages/modal/.size-snapshot.json
  packages/modal/src/useModal.ts
  packages/modal/stories.tsx
Due: none

feat(modal): allow optional restore focus (#164)
  packages/modal/.size-snapshot.json
  packages/modal/src/useModal.ts
  packages/modal/stories.tsx
Due: none

chore(release): publish
  packages/modal/.size-snapshot.json
  packages/modal/CHANGELOG.md
  packages/modal/package.json
Due: prettier-package-json --write

Path conditions:
  eslint: any of: *.js
  prettier --write: any of: *.js
  prettier-package-json --write: any of: **/package.json
