Repository zendeskgarden/react-containers: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, prettier-package-json --write

chore(deps): update dependency @testing-library/dom to v7.30.4
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency @testing-library/user-event to v13
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency @rollup/plugin-node-resolve to v11.2.1
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency @types/jest to v26.0.23
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency chalk to v4.1.1
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update node orb to v4.3.0
  .circleci/config.yml
Due: none

chore(deps): update babel monorepo
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency @rollup/plugin-replace to v2.4.2
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency @testing-library/react to v11.2.6
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency @types/webpack to v4.41.28
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency lint-staged to v11
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update react monorepo to v17.0.2
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency @rollup/plugin-commonjs to v19
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency husky to v6
  package.json
  yarn.lock
Due: prettier-package-json --write

chore: refactor tests for accurate coverage (#288)
  packages/accordion/src/AccordionContainer.spec.tsx
  packages/breadcrumb/src/BreadcrumbContainer.spec.tsx
  packages/breadcrumb/src/BreadcrumbContainer.tsx
  packages/breadcrumb/src/index.ts
  packages/breadcrumb/src/useBreadcrumb.ts
  packages/buttongroup/src/ButtonGroupContainer.spec.tsx
  packages/field/src/FieldContainer.spec.tsx
  packages/focusjail/src/FocusJailContainer.spec.tsx
  packages/keyboardfocus/src/KeyboardFocusContainer.spec.tsx
  packages/modal/src/ModalContainer.spec.tsx
  packages/pagination/src/PaginationContainer.spec.tsx
  packages/schedule/src/ScheduleContainer.spec.tsx
  packages/scrollregion/src/ScrollRegionContainer.spec.tsx
  packages/selection/src/SelectionContainer.spec.tsx
  packages/tabs/src/TabsContainer.spec.tsx
  packages/tooltip/src/TooltipContainer.spec.tsx
Due: none

Use explicit postcss-loader
  .storybook/main.js
  package.json
  yarn.lock
Due: eslint, prettier --write, prettier-package-json --write

chore(deps): update non-major shared dependencies
  package.json
  yarn.lock
Due: prettier-package-json --write

Use loose mode for babel plugins
  babel.config.js
Due: eslint, prettier --write

Run yarn format
  packages/accordion/README.md
  packages/accordion/accordion.stories.tsx
  packages/accordion/package.json
  packages/breadcrumb/package.json
  packages/buttongroup/package.json
  packages/buttongroup/src/useButtonGroup.ts
  packages/field/package.json
  packages/focusjail/package.json
  packages/focusvisible/package.json
  packages/keyboardfocus/package.json
  packages/modal/README.md
  packages/modal/modal.stories.tsx
  packages/modal/package.json
  packages/pagination/package.json
  packages/schedule/package.json
  packages/scrollregion/package.json
  packages/selection/package.json
  packages/tabs/package.json
  packages/tooltip/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

chore(deps): update dependency @types/react to v17.0.5
  package.json
  yarn.lock
Due: prettier-package-json --write

deduplicate yarn.lock via npx yarn-deduplicate
  yarn.lock
Due: none

chore(deps): update dependency @types/react-dom to v17.0.3
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency eslint-plugin-jest to v24.3.6
  package.json
  yarn.lock
Due: prettier-package-json --write

Path conditions:
  eslint: any of: *.js
  prettier --write: any of: *.js
  prettier-package-json --write: any of: **/package.json
