Repository zendeskgarden/react-containers: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, prettier-package-json --write

.lintstagedrc:

{
  "*.js": [
    "eslint",
    "prettier --write",
    "git add"
  ],
  "!(*CHANGELOG).md": [
    "markdownlint",
    "prettier --write",
    "git add"
  ],
  "**/package.json": [
    "prettier-package-json --write",
    "git add"
  ]
}

chore(deps): update dependency coveralls to v3.1.1
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency prettier to v2.3.2
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update node orb to v4.5.1
  .circleci/config.yml
Due: none

chore(deps): update non-major shared dependencies
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency @testing-library/dom to v8
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency @testing-library/react to v12
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency husky to v7
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update jest monorepo
  package.json
  yarn.lock
Due: prettier-package-json --write

Update jest config and refactor tests for v27
  packages/schedule/src/ScheduleContainer.spec.tsx
  packages/tooltip/src/TooltipContainer.spec.tsx
  utils/test/jest.config.js
Due: eslint, prettier --write

chore(docs): add missing scrollregion package to README
  README.md
Due: none

chore(docs): add missing scrollregion package to README (#337)
  README.md
Due: none

Update template package structure
  packages/.template/README.md
  packages/.template/example.stories.tsx
  packages/.template/package.json
  packages/.template/src/ExampleContainer.js
  packages/.template/src/ExampleContainer.spec.tsx
  packages/.template/src/ExampleContainer.tsx
  packages/.template/src/index.spec.js
  packages/.template/src/index.ts
  packages/.template/src/useExample.js
  packages/.template/src/useExample.ts
  packages/.template/stories.js
  packages/.template/tsconfig.build.json
Due: eslint, prettier --write, prettier-package-json --write

Fix template issues
  packages/.template/.size-snapshot.json
  packages/.template/example.stories.tsx
  packages/.template/package.json
  packages/.template/src/ExampleContainer.spec.tsx
  packages/.template/src/ExampleContainer.tsx
  packages/.template/src/useExample.ts
  packages/.template/yarn.lock
Due: prettier-package-json --write

fix(selection): stop hijacking keyboard events with modifier pressed
  packages/selection/.size-snapshot.json
  packages/selection/src/SelectionContainer.spec.tsx
  packages/selection/src/useSelection.ts
Due: none

fix(template): replace outdated package structure with typescript (#339)
  packages/.template/.size-snapshot.json
  packages/.template/README.md
  packages/.template/example.stories.tsx
  packages/.template/package.json
  packages/.template/src/ExampleContainer.js
  packages/.template/src/ExampleContainer.spec.tsx
  packages/.template/src/ExampleContainer.tsx
  packages/.template/src/index.spec.js
  packages/.template/src/index.ts
  packages/.template/src/useExample.js
  packages/.template/src/useExample.ts
  packages/.template/stories.js
  packages/.template/tsconfig.build.json
  packages/.template/yarn.lock
Due: eslint, prettier --write, prettier-package-json --write

Update `yarn new` with enhanced lerna-new command
  package.json
  packages/.template/README.md
  packages/.template/example.stories.tsx
  packages/.template/package.json
  packages/.template/src/ExampleContainer.spec.tsx
  packages/.template/src/ExampleContainer.tsx
  packages/.template/src/index.ts
  packages/.template/src/useExample.ts
  packages/.template/src/use{{capitalize component}}.ts
  packages/.template/src/{{capitalize component}}Container.spec.tsx
  packages/.template/src/{{capitalize component}}Container.tsx
  packages/.template/{{lowercase component}}.stories.tsx
  utils/scripts/new.js
  yarn.lock
Due: eslint, prettier --write, prettier-package-json --write

Update script
  utils/scripts/new.js
Due: eslint, prettier --write

Merge cleanup
  packages/.template/example.stories.tsx
  packages/.template/src/ExampleContainer.spec.tsx
  packages/.template/src/ExampleContainer.tsx
  packages/.template/src/index.ts
  packages/.template/src/useExample.ts
Due: none

Update scripts dependency
  package.json
  yarn.lock
Due: prettier-package-json --write

Skip .template prettier format check
  package.json
Due: prettier-package-json --write

fix(selection): stop hijacking keyboard events with modifier pressed (#341)
  packages/selection/.size-snapshot.json
  packages/selection/src/SelectionContainer.spec.tsx
  packages/selection/src/useSelection.ts
Due: none

chore(release): publish
  packages/accordion/.size-snapshot.json
  packages/accordion/CHANGELOG.md
  packages/accordion/package.json
  packages/breadcrumb/.size-snapshot.json
  packages/breadcrumb/CHANGELOG.md
  packages/breadcrumb/package.json
  packages/buttongroup/.size-snapshot.json
  packages/buttongroup/CHANGELOG.md
  packages/buttongroup/package.json
  packages/field/.size-snapshot.json
  packages/field/CHANGELOG.md
  packages/field/package.json
  packages/focusjail/CHANGELOG.md
  packages/focusjail/package.json
  packages/focusvisible/CHANGELOG.md
  packages/focusvisible/package.json
  packages/keyboardfocus/.size-snapshot.json
  packages/keyboardfocus/CHANGELOG.md
  packages/keyboardfocus/package.json
  packages/modal/CHANGELOG.md
  packages/modal/package.json
  packages/pagination/.size-snapshot.json
  packages/pagination/CHANGELOG.md
  packages/pagination/package.json
  packages/schedule/CHANGELOG.md
  packages/schedule/package.json
  packages/scrollregion/CHANGELOG.md
  packages/scrollregion/package.json
  packages/selection/.size-snapshot.json
  packages/selection/CHANGELOG.md
  packages/selection/package.json
  packages/tabs/.size-snapshot.json
  packages/tabs/CHANGELOG.md
  packages/tabs/package.json
  packages/tooltip/CHANGELOG.md
  packages/tooltip/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
Due: prettier-package-json --write

chore: enhance `yarn new` script (#342)
  package.json
  packages/.template/README.md
  packages/.template/example.stories.tsx
  packages/.template/package.json
  packages/.template/src/ExampleContainer.spec.tsx
  packages/.template/src/ExampleContainer.tsx
  packages/.template/src/index.ts
  packages/.template/src/useExample.ts
  packages/.template/src/use{{capitalize component}}.ts
  packages/.template/src/{{capitalize component}}Container.spec.tsx
  packages/.template/src/{{capitalize component}}Container.tsx
  packages/.template/{{lowercase component}}.stories.tsx
  utils/scripts/new.js
  yarn.lock
Due: eslint, prettier --write, prettier-package-json --write
