Repository zendeskgarden/react-containers: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, prettier-package-json --write

feat(field): migrate useField to TypeScript (#110)
  packages/field/package.json
  packages/field/src/FieldContainer.js
  packages/field/src/FieldContainer.spec.tsx
  packages/field/src/FieldContainer.ts
  packages/field/src/index.spec.js
  packages/field/src/index.ts
  packages/field/src/useField.ts
  packages/field/stories.tsx
  packages/field/tsconfig.build.json
Due: eslint, prettier --write, prettier-package-json --write

fix(field): update field interface
  packages/field/src/useField.ts
  packages/field/stories.tsx
Due: none

chore(release): publish
  packages/accordion/CHANGELOG.md
  packages/accordion/package.json
  packages/field/CHANGELOG.md
  packages/field/package.json
Due: prettier-package-json --write

fix(field): update field interface (#112)
  packages/field/src/useField.ts
  packages/field/stories.tsx
Due: none

chore(release): publish
  packages/field/CHANGELOG.md
  packages/field/package.json
Due: prettier-package-json --write

feat(tabs): migrate tabs to TypeScript
  packages/tabs/package.json
  packages/tabs/src/TabsContainer.js
  packages/tabs/src/TabsContainer.spec.tsx
  packages/tabs/src/TabsContainer.ts
  packages/tabs/src/index.spec.js
  packages/tabs/src/index.ts
  packages/tabs/src/useTabs.js
  packages/tabs/src/useTabs.ts
  packages/tabs/stories.tsx
  packages/tabs/tsconfig.build.json
Due: eslint, prettier --write, prettier-package-json --write

feat(tabs): migrate tabs to TypeScript (#111)
  packages/tabs/package.json
  packages/tabs/src/TabsContainer.js
  packages/tabs/src/TabsContainer.spec.tsx
  packages/tabs/src/TabsContainer.ts
  packages/tabs/src/index.spec.js
  packages/tabs/src/index.ts
  packages/tabs/src/useTabs.js
  packages/tabs/src/useTabs.ts
  packages/tabs/stories.tsx
  packages/tabs/tsconfig.build.json
Due: eslint, prettier --write, prettier-package-json --write

chore(release): publish
  packages/tabs/CHANGELOG.md
  packages/tabs/package.json
Due: prettier-package-json --write

feat(focusjail): migrate focusjail to TypeScript
  packages/focusjail/package.json
  packages/focusjail/src/FocusJailContainer.js
  packages/focusjail/src/FocusJailContainer.spec.tsx
  packages/focusjail/src/FocusJailContainer.ts
  packages/focusjail/src/index.spec.js
  packages/focusjail/src/index.ts
  packages/focusjail/src/useFocusJail.ts
  packages/focusjail/stories.tsx
  packages/focusjail/tsconfig.build.json
Due: eslint, prettier --write, prettier-package-json --write

feat(focusjail): migrate focusjail to TypeScript (#113)
  packages/focusjail/package.json
  packages/focusjail/src/FocusJailContainer.js
  packages/focusjail/src/FocusJailContainer.spec.tsx
  packages/focusjail/src/FocusJailContainer.ts
  packages/focusjail/src/index.spec.js
  packages/focusjail/src/index.ts
  packages/focusjail/src/useFocusJail.ts
  packages/focusjail/stories.tsx
  packages/focusjail/tsconfig.build.json
Due: eslint, prettier --write, prettier-package-json --write

chore(release): publish
  packages/focusjail/CHANGELOG.md
  packages/focusjail/package.json
  packages/modal/CHANGELOG.md
  packages/modal/package.json
Due: prettier-package-json --write

chore(deps): update dependency @zendeskgarden/eslint-config to v10
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update non-major shared dependencies
  package.json
  yarn.lock
Due: prettier-package-json --write

Update typescript usage to align with new type definitions
  packages/accordion/src/AccordionContainer.ts
  packages/buttongroup/src/ButtonGroupContainer.ts
  packages/field/src/FieldContainer.ts
  packages/focusjail/src/FocusJailContainer.ts
  packages/selection/src/SelectionContainer.ts
  yarn.lock
Due: none

fix(keyboardfocus): allow events to be composed within useKeyboardFocus() hook
  packages/keyboardfocus/src/useKeyboardFocus.js
Due: eslint, prettier --write

fix(keyboardfocus): allow events to be composed within useKeyboardFocus() hook (#117)
  packages/keyboardfocus/src/useKeyboardFocus.js
Due: eslint, prettier --write

chore(release): publish
  packages/accordion/CHANGELOG.md
  packages/accordion/package.json
  packages/buttongroup/CHANGELOG.md
  packages/buttongroup/package.json
  packages/field/CHANGELOG.md
  packages/field/package.json
  packages/focusjail/CHANGELOG.md
  packages/focusjail/package.json
  packages/keyboardfocus/CHANGELOG.md
  packages/keyboardfocus/package.json
  packages/modal/CHANGELOG.md
  packages/modal/package.json
  packages/pagination/CHANGELOG.md
  packages/pagination/package.json
  packages/selection/CHANGELOG.md
  packages/selection/package.json
  packages/tabs/CHANGELOG.md
  packages/tabs/package.json
Due: prettier-package-json --write

chore(deps): update dependency @types/react to v16.9.9
  package.json
  yarn.lock
Due: prettier-package-json --write

Update yarn.lock
  yarn.lock
Due: none

fix(pagination): remove unnecessary attributes
  packages/pagination/stories.js
Due: eslint, prettier --write

Fix invalid example code
  packages/focusvisible/README.md
Due: none

fix(pagination): remove unnecessary attributes (#119)
  packages/pagination/stories.js
Due: eslint, prettier --write

chore(release): publish
  packages/pagination/CHANGELOG.md
  packages/pagination/package.json
Due: prettier-package-json --write

fix(focusvisible): invalid import in README example code (#120)
  packages/focusvisible/README.md
Due: none

feat(modal): migrate useModal to TypeScript
  packages/modal/package.json
  packages/modal/src/ModalContainer.js
  packages/modal/src/ModalContainer.spec.tsx
  packages/modal/src/ModalContainer.ts
  packages/modal/src/index.spec.js
  packages/modal/src/index.ts
  packages/modal/src/useModal.ts
  packages/modal/stories.tsx
  packages/modal/tsconfig.build.json
Due: eslint, prettier --write, prettier-package-json --write

fix: update render prop function return types
  packages/accordion/src/AccordionContainer.ts
  packages/breadcrumb/src/BreadcrumbContainer.ts
  packages/buttongroup/src/ButtonGroupContainer.ts
  packages/field/src/FieldContainer.ts
  packages/focusjail/src/FocusJailContainer.ts
  packages/selection/src/SelectionContainer.ts
  packages/tabs/src/TabsContainer.ts
Due: none

fix: update render prop function return types (#121)
  packages/accordion/src/AccordionContainer.ts
  packages/breadcrumb/src/BreadcrumbContainer.ts
  packages/buttongroup/src/ButtonGroupContainer.ts
  packages/field/src/FieldContainer.ts
  packages/focusjail/src/FocusJailContainer.ts
  packages/selection/src/SelectionContainer.ts
  packages/tabs/src/TabsContainer.ts
Due: none

chore(release): publish
  packages/accordion/CHANGELOG.md
  packages/accordion/package.json
  packages/breadcrumb/CHANGELOG.md
  packages/breadcrumb/package.json
  packages/buttongroup/CHANGELOG.md
  packages/buttongroup/package.json
  packages/field/CHANGELOG.md
  packages/field/package.json
  packages/focusjail/CHANGELOG.md
  packages/focusjail/package.json
  packages/modal/CHANGELOG.md
  packages/modal/package.json
  packages/pagination/CHANGELOG.md
  packages/pagination/package.json
  packages/selection/CHANGELOG.md
  packages/selection/package.json
  packages/tabs/CHANGELOG.md
  packages/tabs/package.json
Due: prettier-package-json --write

feat(modal): migrate useModal to TypeScript (#118)
  packages/modal/package.json
  packages/modal/src/ModalContainer.js
  packages/modal/src/ModalContainer.spec.tsx
  packages/modal/src/ModalContainer.ts
  packages/modal/src/index.spec.js
  packages/modal/src/index.ts
  packages/modal/src/useModal.ts
  packages/modal/stories.tsx
  packages/modal/tsconfig.build.json
Due: eslint, prettier --write, prettier-package-json --write

chore(release): publish
  packages/modal/CHANGELOG.md
  packages/modal/package.json
Due: prettier-package-json --write

feat(pagination): upgrade pagination package to TypeScript
  packages/pagination/package.json
  packages/pagination/src/PaginationContainer.js
  packages/pagination/src/PaginationContainer.spec.tsx
  packages/pagination/src/PaginationContainer.ts
  packages/pagination/src/index.js
  packages/pagination/src/index.spec.js
  packages/pagination/src/index.ts
  packages/pagination/src/usePagination.ts
  packages/pagination/stories.tsx
  packages/pagination/tsconfig.build.json
Due: eslint, prettier --write, prettier-package-json --write

feat(schedule): migrate schedule package to TypeScript
  packages/schedule/package.json
  packages/schedule/src/ScheduleContainer.js
  packages/schedule/src/ScheduleContainer.spec.tsx
  packages/schedule/src/ScheduleContainer.ts
  packages/schedule/src/index.spec.js
  packages/schedule/src/index.ts
  packages/schedule/src/useSchedule.ts
  packages/schedule/stories.tsx
  packages/schedule/tsconfig.build.json
Due: eslint, prettier --write, prettier-package-json --write

feat(schedule): migrate schedule package to TypeScript (#123)
  packages/schedule/package.json
  packages/schedule/src/ScheduleContainer.js
  packages/schedule/src/ScheduleContainer.spec.tsx
  packages/schedule/src/ScheduleContainer.ts
  packages/schedule/src/index.spec.js
  packages/schedule/src/index.ts
  packages/schedule/src/useSchedule.ts
  packages/schedule/stories.tsx
  packages/schedule/tsconfig.build.json
Due: eslint, prettier --write, prettier-package-json --write

chore(release): publish
  packages/schedule/CHANGELOG.md
  packages/schedule/package.json
Due: prettier-package-json --write

feat(pagination): upgrade pagination package to TypeScript (#122)
  packages/pagination/package.json
  packages/pagination/src/PaginationContainer.js
  packages/pagination/src/PaginationContainer.spec.tsx
  packages/pagination/src/PaginationContainer.ts
  packages/pagination/src/index.js
  packages/pagination/src/index.spec.js
  packages/pagination/src/index.ts
  packages/pagination/src/usePagination.ts
  packages/pagination/stories.tsx
  packages/pagination/tsconfig.build.json
Due: eslint, prettier --write, prettier-package-json --write

fix(selection): correct vertical ordering in RTL mode
  packages/selection/src/SelectionContainer.spec.tsx
  packages/selection/src/useSelection.ts
Due: none

fix(selection): correct vertical ordering in RTL mode (#125)
  packages/selection/src/SelectionContainer.spec.tsx
  packages/selection/src/useSelection.ts
Due: none

chore(release): publish
  packages/buttongroup/CHANGELOG.md
  packages/buttongroup/package.json
  packages/pagination/CHANGELOG.md
  packages/pagination/package.json
  packages/selection/CHANGELOG.md
  packages/selection/package.json
  packages/tabs/CHANGELOG.md
  packages/tabs/package.json
Due: prettier-package-json --write

Add `containers.` prefix to all `data-container-garden-id` attributes
  packages/.template/src/useExample.js
  packages/accordion/src/useAccordion.ts
  packages/breadcrumb/src/useBreadcrumb.ts
  packages/buttongroup/src/useButtonGroup.ts
  packages/field/src/useField.ts
  packages/focusjail/src/useFocusJail.ts
  packages/keyboardfocus/src/useKeyboardFocus.js
  packages/modal/src/useModal.ts
  packages/pagination/src/usePagination.ts
  packages/selection/src/useSelection.ts
  packages/tabs/src/useTabs.ts
  packages/tooltip/src/useTooltip.js
Due: eslint, prettier --write

Path conditions:
  eslint: any of: *.js
  prettier --write: any of: *.js
  prettier-package-json --write: any of: **/package.json
