Repository zendeskgarden/react-containers: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, prettier-package-json --write

.lintstagedrc:

{
  "*.js": [
    "eslint",
    "prettier --write",
    "git add"
  ],
  "!(*CHANGELOG).md": [
    "markdownlint",
    "prettier --write",
    "git add"
  ],
  "**/package.json": [
    "prettier-package-json --write",
    "git add"
  ]
}

chore: add `containers` prefix to `data-garden-container-id` attributes (#127)
  packages/.template/src/useExample.js
  packages/accordion/src/useAccordion.ts
  packages/breadcrumb/src/useBreadcrumb.ts
  packages/buttongroup/src/useButtonGroup.ts
  packages/field/src/useField.ts
  packages/focusjail/src/useFocusJail.ts
  packages/keyboardfocus/src/useKeyboardFocus.js
  packages/modal/src/useModal.ts
  packages/pagination/src/usePagination.ts
  packages/selection/src/useSelection.ts
  packages/tabs/src/useTabs.ts
  packages/tooltip/src/useTooltip.js
Due: eslint, prettier --write

chore(release): publish
  packages/accordion/CHANGELOG.md
  packages/accordion/package.json
  packages/breadcrumb/CHANGELOG.md
  packages/breadcrumb/package.json
  packages/buttongroup/CHANGELOG.md
  packages/buttongroup/package.json
  packages/field/CHANGELOG.md
  packages/field/package.json
  packages/focusjail/CHANGELOG.md
  packages/focusjail/package.json
  packages/keyboardfocus/CHANGELOG.md
  packages/keyboardfocus/package.json
  packages/modal/CHANGELOG.md
  packages/modal/package.json
  packages/pagination/CHANGELOG.md
  packages/pagination/package.json
  packages/selection/CHANGELOG.md
  packages/selection/package.json
  packages/tabs/CHANGELOG.md
  packages/tabs/package.json
  packages/tooltip/CHANGELOG.md
  packages/tooltip/package.json
Due: prettier-package-json --write

feat(keyboardfocus): migrate keyboardfocus package to TypeScript
  packages/keyboardfocus/package.json
  packages/keyboardfocus/src/KeyboardFocusContainer.js
  packages/keyboardfocus/src/KeyboardFocusContainer.spec.tsx
  packages/keyboardfocus/src/KeyboardFocusContainer.ts
  packages/keyboardfocus/src/index.spec.js
  packages/keyboardfocus/src/index.ts
  packages/keyboardfocus/src/useKeyboardFocus.ts
  packages/keyboardfocus/stories.tsx
  packages/keyboardfocus/tsconfig.build.json
Due: eslint, prettier --write, prettier-package-json --write

feat(keyboardfocus): migrate keyboardfocus package to TypeScript (#126)
  packages/keyboardfocus/package.json
  packages/keyboardfocus/src/KeyboardFocusContainer.js
  packages/keyboardfocus/src/KeyboardFocusContainer.spec.tsx
  packages/keyboardfocus/src/KeyboardFocusContainer.ts
  packages/keyboardfocus/src/index.spec.js
  packages/keyboardfocus/src/index.ts
  packages/keyboardfocus/src/useKeyboardFocus.ts
  packages/keyboardfocus/stories.tsx
  packages/keyboardfocus/tsconfig.build.json
Due: eslint, prettier --write, prettier-package-json --write

chore(release): publish
  packages/keyboardfocus/CHANGELOG.md
  packages/keyboardfocus/package.json
Due: prettier-package-json --write

feat(tooltip): migrate tooltip package to TypeScript
  packages/modal/src/ModalContainer.spec.tsx
  packages/modal/src/useModal.ts
  packages/modal/stories.tsx
  packages/tooltip/package.json
  packages/tooltip/src/TooltipContainer.js
  packages/tooltip/src/TooltipContainer.spec.tsx
  packages/tooltip/src/TooltipContainer.ts
  packages/tooltip/src/index.spec.js
  packages/tooltip/src/index.ts
  packages/tooltip/src/useTooltip.ts
  packages/tooltip/stories.tsx
  packages/tooltip/tsconfig.build.json
  utils/usePopper.ts
Due: eslint, prettier --write, prettier-package-json --write

feat(tooltip): migrate tooltip package to TypeScript (#124)
  packages/modal/src/ModalContainer.spec.tsx
  packages/modal/src/useModal.ts
  packages/modal/stories.tsx
  packages/tooltip/package.json
  packages/tooltip/src/TooltipContainer.js
  packages/tooltip/src/TooltipContainer.spec.tsx
  packages/tooltip/src/TooltipContainer.ts
  packages/tooltip/src/index.spec.js
  packages/tooltip/src/index.ts
  packages/tooltip/src/useTooltip.ts
  packages/tooltip/stories.tsx
  packages/tooltip/tsconfig.build.json
  utils/usePopper.ts
Due: eslint, prettier --write, prettier-package-json --write

chore(release): publish
  packages/modal/CHANGELOG.md
  packages/modal/package.json
  packages/tooltip/CHANGELOG.md
  packages/tooltip/package.json
Due: prettier-package-json --write

fix(selection): remove aria orientation
  packages/pagination/src/PaginationContainer.spec.tsx
  packages/pagination/src/usePagination.ts
  packages/pagination/stories.tsx
  packages/selection/src/SelectionContainer.spec.tsx
  packages/selection/src/useSelection.ts
  packages/tabs/src/TabsContainer.spec.tsx
  packages/tabs/src/useTabs.ts
Due: none

fix(selection): remove aria orientation (#129)
  packages/pagination/src/PaginationContainer.spec.tsx
  packages/pagination/src/usePagination.ts
  packages/pagination/stories.tsx
  packages/selection/src/SelectionContainer.spec.tsx
  packages/selection/src/useSelection.ts
  packages/tabs/src/TabsContainer.spec.tsx
  packages/tabs/src/useTabs.ts
Due: none

chore(release): publish
  packages/buttongroup/CHANGELOG.md
  packages/buttongroup/package.json
  packages/pagination/CHANGELOG.md
  packages/pagination/package.json
  packages/selection/CHANGELOG.md
  packages/selection/package.json
  packages/tabs/CHANGELOG.md
  packages/tabs/package.json
Due: prettier-package-json --write

fix(schedule): update timeout type
  packages/schedule/src/useSchedule.ts
Due: none

chore(focusvisible): move callbacks into useEffect
  packages/focusvisible/src/useFocusVisible.js
Due: eslint, prettier --write

fix(schedule): update timeout type (#130)
  packages/schedule/src/useSchedule.ts
Due: none

chore(release): publish
  packages/schedule/CHANGELOG.md
  packages/schedule/package.json
Due: prettier-package-json --write

chore(focusvisible): move callbacks into useEffect (#131)
  packages/focusvisible/src/useFocusVisible.js
Due: eslint, prettier --write

chore(release): publish
  packages/focusvisible/CHANGELOG.md
  packages/focusvisible/package.json
Due: prettier-package-json --write

chore(deps): update non-major shared dependencies
  package.json
  yarn.lock
Due: prettier-package-json --write

fix: upgrade react types and yarn.lock
  package.json
  yarn.lock
Due: prettier-package-json --write

Re-generate and update yarn.lock
  yarn.lock
Due: none

Run yarn format for Prettier upgrade
  packages/selection/src/SelectionContainer.spec.tsx
Due: none

chore(deps): update dependency chalk to v3
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency eslint-plugin-jest to v23
  package.json
  yarn.lock
Due: prettier-package-json --write

feat(focusvisible): migrate focusvisible to TypeScript
  .yarnclean
  package.json
  packages/focusvisible/package.json
  packages/focusvisible/src/FocusVisibleContainer.js
  packages/focusvisible/src/FocusVisibleContainer.spec.tsx
  packages/focusvisible/src/FocusVisibleContainer.ts
  packages/focusvisible/src/index.spec.js
  packages/focusvisible/src/index.ts
  packages/focusvisible/src/useFocusVisible.ts
  packages/focusvisible/stories.tsx
  packages/focusvisible/tsconfig.build.json
  yarn.lock
Due: eslint, prettier --write, prettier-package-json --write

feat(focusvisible): migrate focusvisible to TypeScript (#137)
  .yarnclean
  package.json
  packages/focusvisible/package.json
  packages/focusvisible/src/FocusVisibleContainer.js
  packages/focusvisible/src/FocusVisibleContainer.spec.tsx
  packages/focusvisible/src/FocusVisibleContainer.ts
  packages/focusvisible/src/index.spec.js
  packages/focusvisible/src/index.ts
  packages/focusvisible/src/useFocusVisible.ts
  packages/focusvisible/stories.tsx
  packages/focusvisible/tsconfig.build.json
  yarn.lock
Due: eslint, prettier --write, prettier-package-json --write

Apply garden logo to demo pages
  .storybook/config.js
  demo/index.html
  demo/index.svg
  demo/zendesk.svg
Due: eslint, prettier --write

Add garden SVG
  demo/garden.svg
Due: none

Update menu icon
  demo/index.html
Due: none

fix: update config to handle stories.tsx
  .storybook/webpack.config.js
Due: eslint, prettier --write

fix: update config to handle stories.tsx (#139)
  .storybook/webpack.config.js
Due: eslint, prettier --write

chore: apply garden logo to demo pages (#138)
  .storybook/config.js
  demo/garden.svg
  demo/index.html
  demo/index.svg
  demo/zendesk.svg
Due: eslint, prettier --write

Update yarn lint command
  package.json
Due: prettier-package-json --write

chore(deps): update dependency @zendeskgarden/eslint-config to v11
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency husky to v4
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency handlebars to v4.6.0
  package.json
  yarn.lock
Due: prettier-package-json --write
