Repository zendeskgarden/react-containers: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, prettier-package-json --write

feat(utilities): add utilities
  packages/grid/grid.stories.tsx
  packages/grid/package.json
  packages/grid/yarn.lock
  packages/utilities/.size-snapshot.json
  packages/utilities/package.json
  packages/utilities/src/index.ts
  packages/utilities/src/utils/convertToMatrix.spec.ts
  packages/utilities/src/utils/convertToMatrix.ts
  packages/utilities/src/utils/useId.ts
  packages/utilities/yarn.lock
Due: prettier-package-json --write

remove line break
  packages/utilities/src/utils/convertToMatrix.ts
  packages/utilities/src/utils/useId.ts
Due: none

feat(utilities): add utilities (#371)
  packages/grid/grid.stories.tsx
  packages/grid/package.json
  packages/grid/yarn.lock
  packages/utilities/.size-snapshot.json
  packages/utilities/package.json
  packages/utilities/src/index.ts
  packages/utilities/src/utils/convertToMatrix.spec.ts
  packages/utilities/src/utils/convertToMatrix.ts
  packages/utilities/src/utils/useId.ts
  packages/utilities/yarn.lock
Due: prettier-package-json --write

chore(release): publish
  packages/accordion/CHANGELOG.md
  packages/accordion/package.json
  packages/buttongroup/CHANGELOG.md
  packages/buttongroup/package.json
  packages/focusjail/CHANGELOG.md
  packages/focusjail/package.json
  packages/grid/CHANGELOG.md
  packages/grid/package.json
  packages/keyboardfocus/.size-snapshot.json
  packages/keyboardfocus/CHANGELOG.md
  packages/keyboardfocus/package.json
  packages/modal/CHANGELOG.md
  packages/modal/package.json
  packages/pagination/CHANGELOG.md
  packages/pagination/package.json
  packages/selection/CHANGELOG.md
  packages/selection/package.json
  packages/tabs/CHANGELOG.md
  packages/tabs/package.json
  packages/tooltip/.size-snapshot.json
  packages/tooltip/CHANGELOG.md
  packages/tooltip/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
Due: prettier-package-json --write

fix(grid): revert updated container-utilities until its published
  packages/grid/grid.stories.tsx
  packages/grid/package.json
  packages/grid/yarn.lock
Due: prettier-package-json --write

fix(grid): revert updated container-utilities until its published (#372)
  packages/grid/grid.stories.tsx
  packages/grid/package.json
  packages/grid/yarn.lock
Due: prettier-package-json --write

chore(release): publish
  packages/grid/CHANGELOG.md
  packages/grid/package.json
Due: prettier-package-json --write

chore(scripts): force version tag
  package.json
Due: prettier-package-json --write

chore(release): publish
  packages/accordion/.size-snapshot.json
  packages/accordion/CHANGELOG.md
  packages/accordion/package.json
  packages/buttongroup/CHANGELOG.md
  packages/buttongroup/package.json
  packages/focusjail/CHANGELOG.md
  packages/focusjail/package.json
  packages/keyboardfocus/.size-snapshot.json
  packages/keyboardfocus/CHANGELOG.md
  packages/keyboardfocus/package.json
  packages/modal/.size-snapshot.json
  packages/modal/CHANGELOG.md
  packages/modal/package.json
  packages/pagination/CHANGELOG.md
  packages/pagination/package.json
  packages/selection/.size-snapshot.json
  packages/selection/CHANGELOG.md
  packages/selection/package.json
  packages/tabs/.size-snapshot.json
  packages/tabs/CHANGELOG.md
  packages/tabs/package.json
  packages/tooltip/.size-snapshot.json
  packages/tooltip/CHANGELOG.md
  packages/tooltip/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
Due: prettier-package-json --write

chore(scripts): force version tag (#373)
  package.json
Due: prettier-package-json --write

fix(deps): rollback dependency ora to v5
  package.json
  yarn.lock
Due: prettier-package-json --write

fix(deps): rollback dependency ora to v5 (#374)
  package.json
  yarn.lock
Due: prettier-package-json --write

fix(tooltip): persist timeout ids
  packages/tooltip/.size-snapshot.json
  packages/tooltip/src/useTooltip.ts
Due: none

chore(deps): update webpack to v5
  .storybook/main.js
  .storybook/webpack.config.js
  package.json
  yarn.lock
Due: eslint, prettier --write, prettier-package-json --write

refactor(utilities): deprecate useCombinedRefs hook
  packages/utilities/src/utils/useCombinedRefs.ts
Due: none

fix(tooltip): persist timeout ids (#375)
  packages/tooltip/.size-snapshot.json
  packages/tooltip/src/useTooltip.ts
Due: none

chore(release): publish
  packages/tooltip/.size-snapshot.json
  packages/tooltip/CHANGELOG.md
  packages/tooltip/package.json
Due: prettier-package-json --write

chore(meta): update size snapshot
  packages/utilities/.size-snapshot.json
Due: none

chore(lockfile): update yarn lock
  yarn.lock
Due: none

build(storybook): omit static source flag in build:demo
  package.json
Due: prettier-package-json --write

chore(storybook): omit static source flag in build:demo (#377)
  package.json
Due: prettier-package-json --write

chore(pkg): pin deps versions
  package.json
Due: prettier-package-json --write

chore(lockfile): pin yarn lock
  yarn.lock
Due: none

chore(scripts): enhance deploy with added bandwidth checking
  package.json
  utils/scripts/deploy.js
  yarn.lock
Due: eslint, prettier --write, prettier-package-json --write

chore(scripts): enhance deploy with added bandwidth checking (#378)
  package.json
  utils/scripts/deploy.js
  yarn.lock
Due: eslint, prettier --write, prettier-package-json --write

Updates [skip ci]
  iframe.html
  main.825bf3ab.iframe.bundle.js
Due: eslint, prettier --write

feat(splitter): add splitter
  packages/splitter/.size-snapshot.json
  packages/splitter/CHANGELOG.md
  packages/splitter/README.md
  packages/splitter/package.json
  packages/splitter/splitter.stories.tsx
  packages/splitter/src/SplitterContainer.spec.tsx
  packages/splitter/src/SplitterContainer.tsx
  packages/splitter/src/index.ts
  packages/splitter/src/useSplitter.ts
  packages/splitter/tsconfig.build.json
  packages/splitter/yarn.lock
Due: prettier-package-json --write

chore(deps): update webpack to v5 (#376)
  .storybook/main.js
  .storybook/webpack.config.js
  package.json
  yarn.lock
Due: eslint, prettier --write, prettier-package-json --write

chore(renovate): refactor config
  .github/renovate.json
Due: none

Path conditions:
  eslint: any of: *.js
  prettier --write: any of: *.js
  prettier-package-json --write: any of: **/package.json
