Repository zendeskgarden/react-containers: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

Pass ref type generics through useCombobox
  packages/combobox/src/useCombobox.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Allow disabled options to be aria-selected
  packages/combobox/.size-snapshot.json
  packages/combobox/src/useCombobox.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Updates [skip ci]
  project.json
Due: none

fix!(combobox): update environment to be of type `Window` rather than `Document` (#537)
  packages/combobox/.size-snapshot.json
  packages/combobox/src/ComboboxContainer.spec.tsx
  packages/combobox/src/types.ts
  packages/combobox/src/useCombobox.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Updates [skip ci]
  iframe.html
  main.24d4003b.iframe.bundle.js
  main.b470dd44.iframe.bundle.js
  project.json
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore(release): publish
  packages/combobox/.size-snapshot.json
  packages/combobox/CHANGELOG.md
  packages/combobox/package.json
Due: prettier-package-json --write

fix!(combobox): update option value to be `string | object` rather than `any`
  packages/combobox/.size-snapshot.json
  packages/combobox/demo/stories/ComboboxStory.tsx
  packages/combobox/src/ComboboxContainer.spec.tsx
  packages/combobox/src/types.ts
  packages/combobox/src/useCombobox.ts
  packages/combobox/src/utils.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Fix tests and add utility JSDoc
  packages/combobox/src/ComboboxContainer.spec.tsx
  packages/combobox/src/utils.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Remove `isAutocomplete` default & set undefined options as `aria-disabled`
  packages/combobox/.size-snapshot.json
  packages/combobox/demo/combobox.stories.mdx
  packages/combobox/src/ComboboxContainer.tsx
  packages/combobox/src/useCombobox.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

fix!(combobox): update option value to be `string | object` rather than `any`; remove `isAutocomplete=true` default (#538)
  packages/combobox/.size-snapshot.json
  packages/combobox/demo/combobox.stories.mdx
  packages/combobox/demo/stories/ComboboxStory.tsx
  packages/combobox/src/ComboboxContainer.spec.tsx
  packages/combobox/src/ComboboxContainer.tsx
  packages/combobox/src/types.ts
  packages/combobox/src/useCombobox.ts
  packages/combobox/src/utils.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Updates [skip ci]
  iframe.html
  main.b470dd44.iframe.bundle.js
  main.f906ea59.iframe.bundle.js
  project.json
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore(release): publish
  packages/combobox/CHANGELOG.md
  packages/combobox/package.json
Due: prettier-package-json --write

fix(combobox): ensure listbox collapse on non-editable combobox blur
  packages/combobox/.size-snapshot.json
  packages/combobox/src/ComboboxContainer.spec.tsx
  packages/combobox/src/useCombobox.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

fix(combobox): ensure listbox collapse on non-editable combobox blur (#539)
  packages/combobox/.size-snapshot.json
  packages/combobox/src/ComboboxContainer.spec.tsx
  packages/combobox/src/useCombobox.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Updates [skip ci]
  iframe.html
  main.5cacbd5d.iframe.bundle.js
  main.f906ea59.iframe.bundle.js
  project.json
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

fix(combobox): prevent Downshift from overriding controlled `activeIndex`
  packages/combobox/.size-snapshot.json
  packages/combobox/src/useCombobox.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

fix(combobox): prevent Downshift from overriding controlled `activeIndex` (#540)
  packages/combobox/.size-snapshot.json
  packages/combobox/src/useCombobox.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Updates [skip ci]
  iframe.html
  main.5cacbd5d.iframe.bundle.js
  main.792cc685.iframe.bundle.js
  project.json
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

fix(combobox): prevent selection from altering active index
  packages/combobox/.size-snapshot.json
  packages/combobox/src/useCombobox.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Fix controlled onchange callbacks and ensure the focused input is scrolled into view
  packages/combobox/.size-snapshot.json
  packages/combobox/package.json
  packages/combobox/src/useCombobox.ts
  packages/combobox/yarn.lock
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

restore: prevent selection from altering active index
  packages/combobox/.size-snapshot.json
  packages/combobox/src/useCombobox.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Add listbox `aria-owns` hack for grouped options
  packages/combobox/.size-snapshot.json
  packages/combobox/src/useCombobox.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Rollback listbox `aria-owns`
  packages/combobox/.size-snapshot.json
  packages/combobox/src/useCombobox.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

fix(combobox): handle controlled actions (#541)
  packages/combobox/.size-snapshot.json
  packages/combobox/package.json
  packages/combobox/src/useCombobox.ts
  packages/combobox/yarn.lock
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

Updates [skip ci]
  iframe.html
  main.792cc685.iframe.bundle.js
  main.a6fec8cf.iframe.bundle.js
  project.json
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

fix(combobox): update yarn lock file
  packages/combobox/yarn.lock
Due: none

fix(combobox): update yarn lock file (#546)
  packages/combobox/yarn.lock
Due: none

Update config for storybook v7
  .storybook/babel.config.js
  .storybook/main.js
  package.json
  packages/slider/.size-snapshot.json
  yarn.lock
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

Path conditions:
  eslint --max-warnings 0: any of: *.{js,ts,tsx}
  jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier-package-json --write: any of: **/package.json
