Repository zendeskgarden/react-containers: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, prettier-package-json --write

Update eslint dependencies
  package.json
  yarn.lock
Due: prettier-package-json --write

Update eslint config to incorporate @zendeskgarden plugins
  .eslintrc.json
  packages/accordion/src/AccordionContainer.spec.tsx
  packages/accordion/stories.tsx
  packages/focusjail/src/FocusJailContainer.spec.tsx
  packages/focusvisible/src/FocusVisibleContainer.spec.tsx
  packages/focusvisible/src/useFocusVisible.ts
  packages/pagination/src/PaginationContainer.spec.tsx
  packages/schedule/src/useSchedule.ts
  packages/selection/src/SelectionContainer.spec.tsx
  packages/tabs/src/TabsContainer.spec.tsx
  packages/tooltip/src/TooltipContainer.spec.tsx
  packages/utilities/src/utils/useCombinedRefs.spec.tsx
Due: none

Clean up eslint config
  .eslintrc.json
Due: none

Cleanup
  .eslintrc.json
Due: none

HNY
  README.md
Due: none

Update eslint config dependency
  package.json
  yarn.lock
Due: prettier-package-json --write

Update linting config
  .eslintrc.json
  packages/accordion/accordion.stories.tsx
Due: none

chore: use @zendeskgarden/eslint-config plugins (#263)
  .eslintrc.json
  README.md
  package.json
  packages/accordion/accordion.stories.tsx
  packages/accordion/src/AccordionContainer.spec.tsx
  packages/focusjail/src/FocusJailContainer.spec.tsx
  packages/focusvisible/src/FocusVisibleContainer.spec.tsx
  packages/pagination/src/PaginationContainer.spec.tsx
  packages/selection/src/SelectionContainer.spec.tsx
  packages/tabs/src/TabsContainer.spec.tsx
  packages/tooltip/src/TooltipContainer.spec.tsx
  packages/utilities/src/utils/useCombinedRefs.spec.tsx
  yarn.lock
Due: prettier-package-json --write

chore(deps): upgrade all packages to React v17
  package.json
  packages/.template/package.json
  packages/accordion/package.json
  packages/breadcrumb/package.json
  packages/buttongroup/package.json
  packages/field/package.json
  packages/focusjail/package.json
  packages/focusvisible/package.json
  packages/keyboardfocus/package.json
  packages/modal/package.json
  packages/pagination/package.json
  packages/schedule/package.json
  packages/selection/package.json
  packages/tabs/package.json
  packages/tooltip/package.json
  packages/utilities/package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): upgrade all packages to React v17 (#264)
  package.json
  packages/.template/package.json
  packages/accordion/package.json
  packages/breadcrumb/package.json
  packages/buttongroup/package.json
  packages/field/package.json
  packages/focusjail/package.json
  packages/focusvisible/package.json
  packages/keyboardfocus/package.json
  packages/modal/package.json
  packages/pagination/package.json
  packages/schedule/package.json
  packages/selection/package.json
  packages/tabs/package.json
  packages/tooltip/package.json
  packages/utilities/package.json
  yarn.lock
Due: prettier-package-json --write

chore(release): publish
  packages/accordion/CHANGELOG.md
  packages/accordion/package.json
  packages/breadcrumb/CHANGELOG.md
  packages/breadcrumb/package.json
  packages/buttongroup/CHANGELOG.md
  packages/buttongroup/package.json
  packages/field/.size-snapshot.json
  packages/field/CHANGELOG.md
  packages/field/package.json
  packages/focusjail/.size-snapshot.json
  packages/focusjail/CHANGELOG.md
  packages/focusjail/package.json
  packages/focusvisible/CHANGELOG.md
  packages/focusvisible/package.json
  packages/keyboardfocus/CHANGELOG.md
  packages/keyboardfocus/package.json
  packages/modal/CHANGELOG.md
  packages/modal/package.json
  packages/pagination/.size-snapshot.json
  packages/pagination/CHANGELOG.md
  packages/pagination/package.json
  packages/schedule/CHANGELOG.md
  packages/schedule/package.json
  packages/selection/.size-snapshot.json
  packages/selection/CHANGELOG.md
  packages/selection/package.json
  packages/tabs/CHANGELOG.md
  packages/tabs/package.json
  packages/tooltip/.size-snapshot.json
  packages/tooltip/CHANGELOG.md
  packages/tooltip/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
Due: prettier-package-json --write

chore(deps): update dependency @zendeskgarden/eslint-config to v18
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update non-major shared dependencies
  package.json
  yarn.lock
Due: prettier-package-json --write

Update size snapshots
  packages/accordion/.size-snapshot.json
  packages/breadcrumb/.size-snapshot.json
  packages/buttongroup/.size-snapshot.json
  packages/field/.size-snapshot.json
  packages/focusjail/.size-snapshot.json
  packages/focusvisible/.size-snapshot.json
  packages/keyboardfocus/.size-snapshot.json
  packages/modal/.size-snapshot.json
  packages/pagination/.size-snapshot.json
  packages/schedule/.size-snapshot.json
  packages/selection/.size-snapshot.json
  packages/tabs/.size-snapshot.json
  packages/tooltip/.size-snapshot.json
Due: none

chore(deps): update dependency rollup-plugin-analyzer to v4
  package.json
  yarn.lock
Due: prettier-package-json --write

Set `demo` as the root directory for storybook
  .gitignore
  demo/garden.svg
  demo/index.html
  demo/index.svg
  package.json
Due: prettier-package-json --write

Update storybook dependencies
  package.json
  yarn.lock
Due: prettier-package-json --write

Update storybook configuration
  .storybook/main.js
  .storybook/manager-head.html
  .storybook/manager.js
  .storybook/preview-head.html
  .storybook/preview.js
Due: eslint, prettier --write

Replace knobs with controls
  .storybook/preview-head.html
  packages/accordion/accordion.stories.tsx
  packages/field/field.stories.tsx
  packages/focusjail/focusjail.stories.tsx
  packages/modal/modal.stories.tsx
  packages/modal/src/ModalContainer.tsx
  packages/schedule/schedule.stories.tsx
  packages/selection/selection.stories.tsx
  packages/tabs/tabs.stories.tsx
  packages/tooltip/tooltip.stories.tsx
Due: none

Remove storybook addon-knobs dependency
  package.json
  packages/.template/stories.js
  packages/breadcrumb/breadcrumb.stories.tsx
  packages/buttongroup/buttongroup.stories.tsx
  packages/focusvisible/focusvisible.stories.tsx
  packages/keyboardfocus/keyboardfocus.stories.tsx
  packages/modal/.size-snapshot.json
  packages/pagination/pagination.stories.tsx
  yarn.lock
Due: eslint, prettier --write, prettier-package-json --write

chore: refactor storybook (#269)
  .gitignore
  .storybook/main.js
  .storybook/manager-head.html
  .storybook/manager.js
  .storybook/preview.js
  demo/garden.svg
  demo/index.html
  demo/index.svg
  package.json
  packages/.template/stories.js
  packages/accordion/accordion.stories.tsx
  packages/breadcrumb/breadcrumb.stories.tsx
  packages/buttongroup/buttongroup.stories.tsx
  packages/field/field.stories.tsx
  packages/focusjail/focusjail.stories.tsx
  packages/focusvisible/focusvisible.stories.tsx
  packages/keyboardfocus/keyboardfocus.stories.tsx
  packages/modal/.size-snapshot.json
  packages/modal/modal.stories.tsx
  packages/modal/src/ModalContainer.tsx
  packages/pagination/pagination.stories.tsx
  packages/schedule/schedule.stories.tsx
  packages/selection/selection.stories.tsx
  packages/tabs/tabs.stories.tsx
  packages/tooltip/tooltip.stories.tsx
  yarn.lock
Due: eslint, prettier --write, prettier-package-json --write

fix(modals): ensure that modals do not close when click originates within modals
  packages/modal/.size-snapshot.json
  packages/modal/src/ModalContainer.spec.tsx
  packages/modal/src/useModal.ts
Due: none

Remove extra move to onMouseDown
  packages/modal/.size-snapshot.json
  packages/modal/src/useModal.ts
Due: none

fix(modals): ensure that modals do not close when click originates within modals (#270)
  packages/modal/.size-snapshot.json
  packages/modal/src/ModalContainer.spec.tsx
  packages/modal/src/useModal.ts
Due: none

chore(release): publish
  packages/accordion/.size-snapshot.json
  packages/accordion/CHANGELOG.md
  packages/accordion/package.json
  packages/breadcrumb/CHANGELOG.md
  packages/breadcrumb/package.json
  packages/buttongroup/.size-snapshot.json
  packages/buttongroup/CHANGELOG.md
  packages/buttongroup/package.json
  packages/field/CHANGELOG.md
  packages/field/package.json
  packages/focusjail/CHANGELOG.md
  packages/focusjail/package.json
  packages/focusvisible/CHANGELOG.md
  packages/focusvisible/package.json
  packages/keyboardfocus/CHANGELOG.md
  packages/keyboardfocus/package.json
  packages/modal/.size-snapshot.json
  packages/modal/CHANGELOG.md
  packages/modal/package.json
  packages/pagination/.size-snapshot.json
  packages/pagination/CHANGELOG.md
  packages/pagination/package.json
  packages/schedule/CHANGELOG.md
  packages/schedule/package.json
  packages/selection/.size-snapshot.json
  packages/selection/CHANGELOG.md
  packages/selection/package.json
  packages/tabs/.size-snapshot.json
  packages/tabs/CHANGELOG.md
  packages/tabs/package.json
  packages/tooltip/CHANGELOG.md
  packages/tooltip/package.json
Due: prettier-package-json --write

Updates [skip ci]
  iframe.html
  main.7bc7b5deca5efc877e7b.bundle.js
  main.7bc7b5deca5efc877e7b.bundle.js.map
  main.bae8713ccf1db0ed7052.bundle.js
  main.bae8713ccf1db0ed7052.bundle.js.map
  runtime~main.7bc7b5deca5efc877e7b.bundle.js.map
  runtime~main.bae8713ccf1db0ed7052.bundle.js
  runtime~main.bae8713ccf1db0ed7052.bundle.js.map
  vendors~main.7bc7b5deca5efc877e7b.bundle.js.map
  vendors~main.bae8713ccf1db0ed7052.bundle.js
  vendors~main.bae8713ccf1db0ed7052.bundle.js.LICENSE.txt
  vendors~main.bae8713ccf1db0ed7052.bundle.js.map
Due: eslint, prettier --write

Updates [skip ci]
  iframe.html
  main.956f8c23be2ab9183e34.bundle.js
  main.956f8c23be2ab9183e34.bundle.js.map
  main.bae8713ccf1db0ed7052.bundle.js
  main.bae8713ccf1db0ed7052.bundle.js.map
  runtime~main.956f8c23be2ab9183e34.bundle.js
  runtime~main.956f8c23be2ab9183e34.bundle.js.map
  runtime~main.bae8713ccf1db0ed7052.bundle.js.map
  vendors~main.956f8c23be2ab9183e34.bundle.js
  vendors~main.956f8c23be2ab9183e34.bundle.js.LICENSE.txt
  vendors~main.956f8c23be2ab9183e34.bundle.js.map
  vendors~main.bae8713ccf1db0ed7052.bundle.js.map
Due: eslint, prettier --write

Dedup yarn.lock
  yarn.lock
Due: none

chore(deps): update dependency @zendeskgarden/eslint-config to v19
  package.json
  yarn.lock
Due: prettier-package-json --write

Updates [skip ci]
  iframe.html
  index.html
  main.4c93ea6c71e052b35d16.bundle.js
  main.81eaf1bd5c24dbd7c561.bundle.js
  main.81eaf1bd5c24dbd7c561.bundle.js.map
  main.956f8c23be2ab9183e34.bundle.js
  main.956f8c23be2ab9183e34.bundle.js.map
  main.f87c3c0f1e333e146dc6.bundle.js
  runtime~main.81eaf1bd5c24dbd7c561.bundle.js
  runtime~main.81eaf1bd5c24dbd7c561.bundle.js.map
  runtime~main.956f8c23be2ab9183e34.bundle.js.map
  vendors~main.4198ffc02d64ea096660.bundle.js
  vendors~main.4198ffc02d64ea096660.bundle.js.LICENSE.txt
  vendors~main.783c19b8e6d76920a4dd.bundle.js
  vendors~main.81eaf1bd5c24dbd7c561.bundle.js
  vendors~main.81eaf1bd5c24dbd7c561.bundle.js.LICENSE.txt
  vendors~main.81eaf1bd5c24dbd7c561.bundle.js.map
  vendors~main.956f8c23be2ab9183e34.bundle.js
  vendors~main.956f8c23be2ab9183e34.bundle.js.map
Due: eslint, prettier --write

chore(deps): update dependency eslint-config-prettier to v8
  package.json
  yarn.lock
Due: prettier-package-json --write

Updates [skip ci]
  iframe.html
  main.17f7c2063e20798f4e02.bundle.js
  main.17f7c2063e20798f4e02.bundle.js.map
  main.81eaf1bd5c24dbd7c561.bundle.js.map
  runtime~main.17f7c2063e20798f4e02.bundle.js
  runtime~main.17f7c2063e20798f4e02.bundle.js.map
  runtime~main.81eaf1bd5c24dbd7c561.bundle.js.map
  vendors~main.17f7c2063e20798f4e02.bundle.js
  vendors~main.17f7c2063e20798f4e02.bundle.js.LICENSE.txt
  vendors~main.17f7c2063e20798f4e02.bundle.js.map
  vendors~main.81eaf1bd5c24dbd7c561.bundle.js.map
Due: eslint, prettier --write

Use merged prettier config
  .eslintrc.json
Due: none

Path conditions:
  eslint: any of: *.js
  prettier --write: any of: *.js
  prettier-package-json --write: any of: **/package.json
