Repository zendeskgarden/react-containers: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "eslint --max-warnings 0",
    "jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests",
    "prettier --write"
  ],
  "!(*CHANGELOG).md": [
    "markdownlint",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

fix: allow default for element selection
  packages/menu/demo/stories/MenuStory.tsx
  packages/menu/demo/stories/data.ts
  packages/menu/src/useMenu.ts
  packages/menu/src/utils.ts
  packages/selection/src/types.ts
  packages/selection/src/useSelection.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore: code review
  packages/menu/demo/stories/MenuStory.tsx
  packages/menu/src/useMenu.ts
  packages/selection/src/types.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore(release): publish
  package-lock.json
  packages/accordion/CHANGELOG.md
  packages/accordion/package.json
  packages/breadcrumb/CHANGELOG.md
  packages/breadcrumb/package.json
  packages/combobox/CHANGELOG.md
  packages/combobox/package.json
  packages/field/CHANGELOG.md
  packages/field/package.json
  packages/focusjail/CHANGELOG.md
  packages/focusjail/package.json
  packages/focusvisible/CHANGELOG.md
  packages/focusvisible/package.json
  packages/grid/CHANGELOG.md
  packages/grid/package.json
  packages/menu/CHANGELOG.md
  packages/menu/package.json
  packages/modal/CHANGELOG.md
  packages/modal/package.json
  packages/schedule/CHANGELOG.md
  packages/schedule/package.json
  packages/scrollregion/CHANGELOG.md
  packages/scrollregion/package.json
  packages/selection/CHANGELOG.md
  packages/selection/package.json
  packages/slider/CHANGELOG.md
  packages/slider/package.json
  packages/splitter/CHANGELOG.md
  packages/splitter/package.json
  packages/tabs/CHANGELOG.md
  packages/tabs/package.json
  packages/tooltip/CHANGELOG.md
  packages/tooltip/package.json
Due: prettier-package-json --write

Updates [skip ci]
  project.json
Due: none

feat(menu): adds support for link items (#648)
  .storybook/preview.js
  packages/menu/README.md
  packages/menu/demo/stories/MenuStory.tsx
  packages/menu/demo/stories/data.ts
  packages/menu/src/MenuContainer.spec.tsx
  packages/menu/src/types.ts
  packages/menu/src/useMenu.ts
  packages/menu/src/utils.ts
  packages/selection/src/types.ts
  packages/selection/src/useSelection.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Updates [skip ci]
  1972.1772b882.iframe.bundle.js
  1972.1772b882.iframe.bundle.js.LICENSE.txt
  1972.978ca5d4.iframe.bundle.js
  focusvisible-demo-patterns-patterns-mdx.3485a3aa.iframe.bundle.js
  focusvisible-demo-patterns-patterns-mdx.3485a3aa.iframe.bundle.js.LICENSE.txt
  focusvisible-demo-patterns-patterns-mdx.681e03c4.iframe.bundle.js
  focusvisible-demo-patterns-patterns-stories.5397fa03.iframe.bundle.js
  focusvisible-demo-patterns-patterns-stories.5397fa03.iframe.bundle.js.LICENSE.txt
  focusvisible-demo-patterns-patterns-stories.d9c3bfbb.iframe.bundle.js
  iframe.html
  main.6caf73f2.iframe.bundle.js
  main.fa8f519d.iframe.bundle.js
  menu-demo-menu-mdx.0bb2a31b.iframe.bundle.js
  menu-demo-menu-mdx.0bb2a31b.iframe.bundle.js.LICENSE.txt
  menu-demo-menu-mdx.1bf10336.iframe.bundle.js
  menu-demo-menu-stories.1b68c92c.iframe.bundle.js
  menu-demo-menu-stories.5d33d8a2.iframe.bundle.js
  project.json
  runtime~main.63e4b22f.iframe.bundle.js
  runtime~main.cbfb5c07.iframe.bundle.js
  selection-demo-selection-mdx.5576fd91.iframe.bundle.js
  selection-demo-selection-mdx.5576fd91.iframe.bundle.js.LICENSE.txt
  selection-demo-selection-mdx.b243cbdd.iframe.bundle.js
  selection-demo-selection-stories.450e5bd2.iframe.bundle.js
  selection-demo-selection-stories.450e5bd2.iframe.bundle.js.LICENSE.txt
  selection-demo-selection-stories.51a83d15.iframe.bundle.js
  tabs-demo-tabs-mdx.4ebdd83c.iframe.bundle.js
  tabs-demo-tabs-mdx.4ebdd83c.iframe.bundle.js.LICENSE.txt
  tabs-demo-tabs-mdx.9d3943ff.iframe.bundle.js
  tabs-demo-tabs-stories.a04931de.iframe.bundle.js
  tabs-demo-tabs-stories.a04931de.iframe.bundle.js.LICENSE.txt
  tabs-demo-tabs-stories.c8c21215.iframe.bundle.js
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore(release): publish
  package-lock.json
  packages/menu/CHANGELOG.md
  packages/menu/package.json
  packages/selection/CHANGELOG.md
  packages/selection/package.json
  packages/tabs/CHANGELOG.md
  packages/tabs/package.json
Due: prettier-package-json --write

chore(deps): update eslint config
  .eslintignore
  .eslintrc.json
  .storybook/main.js
  .storybook/tailwind.config.js
  eslint.config.mjs
  package-lock.json
  package.json
  utils/build/rollup.config.js
  utils/scripts/deploy.mjs
  utils/scripts/new.mjs
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

chore: remove node_modules ignore pattern as its ignored by default
  eslint.config.mjs
  package-lock.json
  package.json
Due: prettier-package-json --write

chore: move react rules to react plugin extension
  eslint.config.mjs
Due: none

chore: code review & style fixes
  .storybook/main.js
  eslint.config.mjs
  package-lock.json
  package.json
  packages/accordion/demo/stories/AccordionStory.tsx
  packages/field/demo/stories/FieldStory.tsx
  packages/focusvisible/demo/stories/FocusVisibleStory.tsx
  packages/focusvisible/src/FocusVisibleContainer.spec.tsx
  packages/grid/src/GridContainer.spec.tsx
  packages/schedule/demo/stories/ScheduleStory.tsx
  packages/schedule/src/ScheduleContainer.spec.tsx
  packages/scrollregion/demo/stories/ScrollRegionStory.tsx
  packages/tooltip/demo/stories/TooltipStory.tsx
  packages/tooltip/src/TooltipContainer.spec.tsx
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

chore: apply no render leak rule changes
  eslint.config.mjs
  packages/combobox/demo/stories/ComboboxStory.tsx
  packages/combobox/demo/~patterns/stories/IMEStory.tsx
  packages/combobox/src/ComboboxContainer.spec.tsx
  packages/field/demo/stories/FieldStory.tsx
  packages/focusjail/src/FocusJailContainer.spec.tsx
  packages/menu/demo/stories/MenuStory.tsx
  packages/menu/demo/~patterns/stories/NestedStory.tsx
  packages/modal/demo/stories/ModalStory.tsx
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore(release): publish
  package-lock.json
  packages/accordion/CHANGELOG.md
  packages/accordion/package.json
  packages/combobox/CHANGELOG.md
  packages/combobox/package.json
  packages/field/CHANGELOG.md
  packages/field/package.json
  packages/focusjail/CHANGELOG.md
  packages/focusjail/package.json
  packages/focusvisible/CHANGELOG.md
  packages/focusvisible/package.json
  packages/grid/CHANGELOG.md
  packages/grid/package.json
  packages/menu/CHANGELOG.md
  packages/menu/package.json
  packages/modal/CHANGELOG.md
  packages/modal/package.json
  packages/schedule/CHANGELOG.md
  packages/schedule/package.json
  packages/scrollregion/CHANGELOG.md
  packages/scrollregion/package.json
  packages/tooltip/CHANGELOG.md
  packages/tooltip/package.json
Due: prettier-package-json --write

Updates [skip ci]
  5528.f0540155.iframe.bundle.js
  5528.f2305dce.iframe.bundle.js
  5528.f2305dce.iframe.bundle.js.LICENSE.txt
  iframe.html
  project.json
  runtime~main.39c4f712.iframe.bundle.js
  runtime~main.88b45c5d.iframe.bundle.js
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

fix: React peer dependency ranges
  package-lock.json
  packages/.template/package.json
  packages/accordion/package.json
  packages/breadcrumb/package.json
  packages/combobox/package.json
  packages/field/package.json
  packages/focusjail/package.json
  packages/focusvisible/package.json
  packages/grid/package.json
  packages/menu/package.json
  packages/modal/package.json
  packages/schedule/package.json
  packages/scrollregion/package.json
  packages/selection/package.json
  packages/slider/package.json
  packages/splitter/package.json
  packages/tabs/package.json
  packages/tooltip/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

fix: React peer dependency ranges (#656)
  package-lock.json
  packages/.template/package.json
  packages/accordion/package.json
  packages/breadcrumb/package.json
  packages/combobox/package.json
  packages/field/package.json
  packages/focusjail/package.json
  packages/focusvisible/package.json
  packages/grid/package.json
  packages/menu/package.json
  packages/modal/package.json
  packages/schedule/package.json
  packages/scrollregion/package.json
  packages/selection/package.json
  packages/slider/package.json
  packages/splitter/package.json
  packages/tabs/package.json
  packages/tooltip/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

chore(release): publish
  package-lock.json
  packages/accordion/CHANGELOG.md
  packages/accordion/package.json
  packages/breadcrumb/CHANGELOG.md
  packages/breadcrumb/package.json
  packages/combobox/CHANGELOG.md
  packages/combobox/package.json
  packages/field/CHANGELOG.md
  packages/field/package.json
  packages/focusjail/CHANGELOG.md
  packages/focusjail/package.json
  packages/focusvisible/CHANGELOG.md
  packages/focusvisible/package.json
  packages/grid/CHANGELOG.md
  packages/grid/package.json
  packages/menu/CHANGELOG.md
  packages/menu/package.json
  packages/modal/CHANGELOG.md
  packages/modal/package.json
  packages/schedule/CHANGELOG.md
  packages/schedule/package.json
  packages/scrollregion/CHANGELOG.md
  packages/scrollregion/package.json
  packages/selection/CHANGELOG.md
  packages/selection/package.json
  packages/slider/CHANGELOG.md
  packages/slider/package.json
  packages/splitter/CHANGELOG.md
  packages/splitter/package.json
  packages/tabs/CHANGELOG.md
  packages/tabs/package.json
  packages/tooltip/CHANGELOG.md
  packages/tooltip/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
Due: prettier-package-json --write

fix(container-menu): improves logic for returning focus to trigger
  packages/menu/src/useMenu.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

fix: improve focus handling for controlled menu
  packages/menu/src/useMenu.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

refactor: PR feedback
  packages/menu/src/useMenu.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

feat(menu): add props.restoreFocus
  packages/menu/src/types.ts
  packages/menu/src/useMenu.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

docs: document restoreFocus prop + set default props
  packages/menu/src/MenuContainer.tsx
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

docs: add managed focus story
  packages/menu/demo/menu.stories.tsx
  packages/menu/demo/stories/MenuStory.tsx
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

fix(menu): prevents defaultFocusedValue on trigger click
  packages/menu/src/MenuContainer.spec.tsx
  packages/menu/src/useMenu.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore: fix test
  packages/menu/src/MenuContainer.spec.tsx
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

fix(menu): prevents `defaultFocusedValue` from focusing items on trigger click (#660)
  packages/menu/src/MenuContainer.spec.tsx
  packages/menu/src/useMenu.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Updates [skip ci]
  6736.5b140e96.iframe.bundle.js
  6736.5b140e96.iframe.bundle.js.LICENSE.txt
  6736.f957583d.iframe.bundle.js
  iframe.html
  project.json
  runtime~main.903c38f0.iframe.bundle.js
  runtime~main.ff61c289.iframe.bundle.js
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

docs: fix story
  packages/menu/demo/menu.stories.tsx
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write
