Repository zendeskgarden/react-containers: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "eslint --max-warnings 0",
    "jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests",
    "prettier --write"
  ],
  "!(*CHANGELOG).md": [
    "markdownlint",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

fix: remove v8 coverage provider
  utils/test/jest.config.js
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

feat: swap esbuild with swc
  package.json
  utils/test/jest.config.js
  yarn.lock
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

fix: revert version
  utils/test/jest.config.js
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

fix: set preserve all comments to true
  utils/test/jest.config.js
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

fix: failing tests and clean up logs
  packages/accordion/src/AccordionContainer.spec.tsx
  packages/buttongroup/src/ButtonGroupContainer.spec.tsx
  packages/grid/src/GridContainer.spec.tsx
  packages/slider/src/SliderContainer.spec.tsx
  packages/treeview/src/TreeviewContainer.spec.tsx
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

test: add splitter
  packages/splitter/src/SplitterContainer.spec.tsx
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

fix(splitter): update `isFixed` to leverage enter key handling (#488)
  packages/splitter/.size-snapshot.json
  packages/splitter/demo/splitter.stories.mdx
  packages/splitter/demo/stories/SplitterStory.tsx
  packages/splitter/src/SplitterContainer.spec.tsx
  packages/splitter/src/useSplitter.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore(release): publish
  packages/splitter/.size-snapshot.json
  packages/splitter/CHANGELOG.md
  packages/splitter/package.json
Due: prettier-package-json --write

Updates [skip ci]
  iframe.html
  main.905c2a3d.iframe.bundle.js
  main.eebbe71a.iframe.bundle.js
  project.json
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Updates [skip ci]
  project.json
Due: none

chore(jest): update to @swc/jest (#474)
  .circleci/config.yml
  .gitignore
  babel.config.js
  package.json
  utils/test/jest.config.js
  utils/test/jest.resolver.js
  utils/test/jest.setup.js
  yarn.lock
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

chore(demo): prevent strict mode tool in production Storybook
  .storybook/preview.js
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore(demo): prevent strict mode tool in production Storybook (#490)
  .storybook/preview.js
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Initial combobox container
  packages/combobox/.size-snapshot.json
  packages/combobox/CHANGELOG.md
  packages/combobox/README.md
  packages/combobox/demo/#readme.stories.mdx
  packages/combobox/demo/combobox.stories.mdx
  packages/combobox/demo/stories/ComboboxStory.tsx
  packages/combobox/package.json
  packages/combobox/src/ComboboxContainer.spec.tsx
  packages/combobox/src/ComboboxContainer.tsx
  packages/combobox/src/index.ts
  packages/combobox/src/types.ts
  packages/combobox/src/useCombobox.ts
  packages/combobox/tsconfig.build.json
  packages/combobox/yarn.lock
  tsconfig.json
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

Updates [skip ci]
  iframe.html
  main.1b19d4a3.iframe.bundle.js
  main.88ce9a39.iframe.bundle.js
  project.json
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Updates [skip ci]
  iframe.html
  main.3f6d4e61.iframe.bundle.js
  main.7d0eb3b6.iframe.bundle.js
  project.json
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Initial multiselectable
  packages/combobox/demo/combobox.stories.mdx
  packages/combobox/demo/stories/ComboboxStory.tsx
  packages/combobox/src/ComboboxContainer.tsx
  packages/combobox/src/types.ts
  packages/combobox/src/useCombobox.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

fix: rollup command
  packages/accordion/.size-snapshot.json
  packages/breadcrumb/.size-snapshot.json
  packages/buttongroup/.size-snapshot.json
  packages/field/.size-snapshot.json
  packages/focusjail/.size-snapshot.json
  packages/focusvisible/.size-snapshot.json
  packages/grid/.size-snapshot.json
  packages/keyboardfocus/.size-snapshot.json
  packages/modal/.size-snapshot.json
  packages/pagination/.size-snapshot.json
  packages/schedule/.size-snapshot.json
  packages/scrollregion/.size-snapshot.json
  packages/selection/.size-snapshot.json
  packages/slider/.size-snapshot.json
  packages/splitter/.size-snapshot.json
  packages/tabs/.size-snapshot.json
  packages/tooltip/.size-snapshot.json
  packages/treeview/.size-snapshot.json
  packages/utilities/.size-snapshot.json
  utils/build/rollup.config.js
  utils/scripts/build.sh
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

chore: support node v18
  package.json
  packages/accordion/.size-snapshot.json
  packages/breadcrumb/.size-snapshot.json
  packages/buttongroup/.size-snapshot.json
  packages/field/.size-snapshot.json
  packages/focusjail/.size-snapshot.json
  packages/focusvisible/.size-snapshot.json
  packages/grid/.size-snapshot.json
  packages/keyboardfocus/.size-snapshot.json
  packages/modal/.size-snapshot.json
  packages/pagination/.size-snapshot.json
  packages/schedule/.size-snapshot.json
  packages/scrollregion/.size-snapshot.json
  packages/selection/.size-snapshot.json
  packages/slider/.size-snapshot.json
  packages/splitter/.size-snapshot.json
  packages/tabs/.size-snapshot.json
  packages/tooltip/.size-snapshot.json
  packages/treeview/.size-snapshot.json
  packages/utilities/.size-snapshot.json
  utils/build/rollup.config.js
  yarn.lock
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

chore: support node v18 (#507)
  package.json
  packages/accordion/.size-snapshot.json
  packages/breadcrumb/.size-snapshot.json
  packages/buttongroup/.size-snapshot.json
  packages/field/.size-snapshot.json
  packages/focusjail/.size-snapshot.json
  packages/focusvisible/.size-snapshot.json
  packages/grid/.size-snapshot.json
  packages/keyboardfocus/.size-snapshot.json
  packages/modal/.size-snapshot.json
  packages/pagination/.size-snapshot.json
  packages/schedule/.size-snapshot.json
  packages/scrollregion/.size-snapshot.json
  packages/selection/.size-snapshot.json
  packages/slider/.size-snapshot.json
  packages/splitter/.size-snapshot.json
  packages/tabs/.size-snapshot.json
  packages/tooltip/.size-snapshot.json
  packages/treeview/.size-snapshot.json
  packages/utilities/.size-snapshot.json
  utils/build/rollup.config.js
  yarn.lock
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

Handle multiselectable
  packages/combobox/demo/stories/ComboboxStory.tsx
  packages/combobox/src/ComboboxContainer.tsx
  packages/combobox/src/types.ts
  packages/combobox/src/useCombobox.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Initial controlled implementation
  packages/combobox/demo/combobox.stories.mdx
  packages/combobox/src/ComboboxContainer.tsx
  packages/combobox/src/types.ts
  packages/combobox/src/useCombobox.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Implement controlled selection
  packages/combobox/demo/combobox.stories.mdx
  packages/combobox/demo/stories/ComboboxStory.tsx
  packages/combobox/src/ComboboxContainer.tsx
  packages/combobox/src/types.ts
  packages/combobox/src/useCombobox.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write

Offload controlled state on to Downshift
  packages/combobox/src/useCombobox.ts
Due: eslint --max-warnings 0, jest --config=utils/test/jest.config.js --findRelatedTests --passWithNoTests, prettier --write
