Repository zendeskgarden/react-containers: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, prettier-package-json --write

chore(splitter): refactor storybook (#434)
  packages/splitter/.size-snapshot.json
  packages/splitter/README.md
  packages/splitter/demo/#readme.stories.mdx
  packages/splitter/demo/splitter.stories.mdx
  packages/splitter/demo/stories/SplitterStory.tsx
  packages/splitter/splitter.stories.tsx
  packages/splitter/src/SplitterContainer.spec.tsx
  packages/splitter/src/SplitterContainer.tsx
  packages/splitter/src/useSplitter.ts
Due: none

Updates [skip ci]
  iframe.html
  main.1cecaa9a.iframe.bundle.js
  main.e7d56a1f.iframe.bundle.js
Due: eslint, prettier --write

Fix tabs API exports
  packages/tabs/.size-snapshot.json
  packages/tabs/src/TabsContainer.tsx
  packages/tabs/src/index.ts
Due: none

Refactor tabs storybook demos
  packages/tabs/demo/#readme.stories.mdx
  packages/tabs/demo/stories/TabsStory.tsx
  packages/tabs/demo/tabs.stories.mdx
Due: none

Update README
  packages/tabs/README.md
Due: none

Removed refactored tabs story
  packages/tabs/tabs.stories.tsx
Due: none

chore(tabs): refactor storybook (#440)
  packages/tabs/.size-snapshot.json
  packages/tabs/README.md
  packages/tabs/demo/#readme.stories.mdx
  packages/tabs/demo/stories/TabsStory.tsx
  packages/tabs/demo/tabs.stories.mdx
  packages/tabs/src/TabsContainer.tsx
  packages/tabs/src/index.ts
  packages/tabs/tabs.stories.tsx
Due: none

Updates [skip ci]
  iframe.html
  main.0b8dc6fd.iframe.bundle.js
  main.1cecaa9a.iframe.bundle.js
Due: eslint, prettier --write

Tooltip component fixes
  packages/tooltip/.size-snapshot.json
  packages/tooltip/README.md
  packages/tooltip/src/TooltipContainer.tsx
  packages/tooltip/src/index.ts
Due: none

Refactor tooltip demo stories
  packages/tooltip/demo/#readme.stories.mdx
  packages/tooltip/demo/stories/TooltipStory.tsx
  packages/tooltip/demo/tooltip.stories.mdx
  packages/tooltip/demo/~patterns/patterns.stories.mdx
  packages/tooltip/demo/~patterns/stories/FocusStory.tsx
Due: none

Remove refactored tooltip stories
  package.json
  packages/tooltip/tooltip.stories.tsx
  utils/usePopper.ts
  yarn.lock
Due: prettier-package-json --write

chore(tooltip): refactor storybook (#441)
  package.json
  packages/tooltip/.size-snapshot.json
  packages/tooltip/README.md
  packages/tooltip/demo/#readme.stories.mdx
  packages/tooltip/demo/stories/TooltipStory.tsx
  packages/tooltip/demo/tooltip.stories.mdx
  packages/tooltip/demo/~patterns/patterns.stories.mdx
  packages/tooltip/demo/~patterns/stories/FocusStory.tsx
  packages/tooltip/src/TooltipContainer.tsx
  packages/tooltip/src/index.ts
  packages/tooltip/tooltip.stories.tsx
  utils/usePopper.ts
  yarn.lock
Due: prettier-package-json --write

Fix exports
  packages/treeview/README.md
  packages/treeview/src/index.ts
Due: none

Treeview API fixes
  packages/treeview/src/TreeviewContainer.tsx
  packages/treeview/src/useTreeview.ts
Due: none

Refactor treeview demo stories
  packages/treeview/.size-snapshot.json
  packages/treeview/demo/#readme.stories.mdx
  packages/treeview/demo/stories/TreeviewStory.tsx
  packages/treeview/demo/stories/data.ts
  packages/treeview/demo/stories/types.ts
  packages/treeview/demo/treeview.stories.mdx
Due: none

Removed refactored treeview stories
  packages/treeview/treeview.stories.tsx
Due: none

Update tests to reflect default unselected state
  packages/treeview/src/TreeviewContainer.spec.tsx
Due: none

Remove reviewer notes from README
  packages/treeview/README.md
Due: none

Correct README
  packages/treeview/README.md
Due: none

Fix lint:js
  package.json
Due: prettier-package-json --write

Update README checklist
  packages/treeview/README.md
Due: none

fix(treeview): finesse API and refactor storybook (#443)
  package.json
  packages/treeview/.size-snapshot.json
  packages/treeview/README.md
  packages/treeview/demo/#readme.stories.mdx
  packages/treeview/demo/stories/TreeviewStory.tsx
  packages/treeview/demo/stories/data.ts
  packages/treeview/demo/stories/types.ts
  packages/treeview/demo/treeview.stories.mdx
  packages/treeview/src/TreeviewContainer.spec.tsx
  packages/treeview/src/TreeviewContainer.tsx
  packages/treeview/src/index.ts
  packages/treeview/src/useTreeview.ts
  packages/treeview/treeview.stories.tsx
Due: prettier-package-json --write

chore(deps): update dependency eslint-plugin-jest to v26
  package.json
  yarn.lock
Due: prettier-package-json --write

chore: storybook demo cleanup (#444)
  packages/accordion/demo/stories/AccordionStory.tsx
  packages/buttongroup/demo/stories/ButtonGroupStory.tsx
  packages/focusvisible/demo/stories/FocusVisibleStory.tsx
  packages/focusvisible/src/useFocusVisible.ts
  packages/modal/demo/stories/ModalStory.tsx
  packages/modal/src/ModalContainer.tsx
  packages/modal/src/useModal.ts
  packages/pagination/demo/stories/PaginationStory.tsx
Due: none

chore(release): publish
  packages/accordion/CHANGELOG.md
  packages/accordion/package.json
  packages/buttongroup/CHANGELOG.md
  packages/buttongroup/package.json
  packages/focusvisible/CHANGELOG.md
  packages/focusvisible/package.json
  packages/grid/CHANGELOG.md
  packages/grid/package.json
  packages/keyboardfocus/CHANGELOG.md
  packages/keyboardfocus/package.json
  packages/modal/CHANGELOG.md
  packages/modal/package.json
  packages/pagination/CHANGELOG.md
  packages/pagination/package.json
  packages/schedule/CHANGELOG.md
  packages/schedule/package.json
  packages/scrollregion/CHANGELOG.md
  packages/scrollregion/package.json
  packages/selection/CHANGELOG.md
  packages/selection/package.json
  packages/splitter/CHANGELOG.md
  packages/splitter/package.json
  packages/tabs/CHANGELOG.md
  packages/tabs/package.json
  packages/tooltip/.size-snapshot.json
  packages/tooltip/CHANGELOG.md
  packages/tooltip/package.json
  packages/treeview/CHANGELOG.md
  packages/treeview/package.json
Due: prettier-package-json --write

fix(selection): keyboard action for direction `both` + `rtl`
  packages/selection/.size-snapshot.json
  packages/selection/src/useSelection.ts
Due: none

Add testing support for `both` direction
  packages/selection/src/SelectionContainer.spec.tsx
Due: none

Fix production demo styling
  .storybook/tailwind.config.js
Due: eslint, prettier --write

Refine config
  .storybook/tailwind.config.js
Due: eslint, prettier --write

Fix eslint warning (and catchfuture test errors in lint-staged)
  .eslintignore
  .lintstagedrc
  .storybook/tailwind.config.js
  package.json
Due: eslint, prettier --write, prettier-package-json --write

Fix newline
  .eslintignore
Due: none

fix(selection): keyboard action for direction `both` + `rtl` (#445)
  .eslintignore
  .lintstagedrc
  .storybook/tailwind.config.js
  package.json
  packages/selection/.size-snapshot.json
  packages/selection/src/SelectionContainer.spec.tsx
  packages/selection/src/useSelection.ts
Due: eslint, prettier --write, prettier-package-json --write

chore(release): publish
  packages/buttongroup/.size-snapshot.json
  packages/buttongroup/CHANGELOG.md
  packages/buttongroup/package.json
  packages/pagination/CHANGELOG.md
  packages/pagination/package.json
  packages/selection/CHANGELOG.md
  packages/selection/package.json
  packages/tabs/CHANGELOG.md
  packages/tabs/package.json
  packages/treeview/CHANGELOG.md
  packages/treeview/package.json
Due: prettier-package-json --write

Updates [skip ci]
  iframe.html
  main.bd4285d0.iframe.bundle.js
  main.de4d8950.iframe.bundle.js
Due: eslint, prettier --write

Remove selection logic
  packages/grid/src/GridContainer.tsx
  packages/grid/src/useGrid.ts
Due: none

Update grid demo story
  packages/grid/.size-snapshot.json
  packages/grid/demo/grid.stories.mdx
  packages/grid/demo/stories/GridStory.tsx
Due: none

Use utility KEYS constants
  packages/grid/src/useGrid.ts
Due: none

Path conditions:
  eslint: any of: *.js
  prettier --write: any of: *.js
  prettier-package-json --write: any of: **/package.json
