Repository zendeskgarden/react-containers: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, prettier-package-json --write

.lintstagedrc:

{
  "*.js": [
    "eslint",
    "prettier --write",
    "git add"
  ],
  "!(*CHANGELOG).md": [
    "markdownlint",
    "prettier --write",
    "git add"
  ],
  "**/package.json": [
    "prettier-package-json --write",
    "git add"
  ]
}

fix(environment): migrate windowObject back to environment
  packages/splitter/.size-snapshot.json
  packages/splitter/package.json
  packages/splitter/splitter.stories.tsx
  packages/splitter/src/SplitterContainer.spec.tsx
  packages/splitter/src/SplitterContainer.tsx
  packages/splitter/src/useSplitter.ts
Due: prettier-package-json --write

test(rename): use document to use window
  packages/utilities/src/utils/useWindow.spec.tsx
Due: none

feat(environment): environment is required
  packages/splitter/.size-snapshot.json
  packages/splitter/README.md
  packages/splitter/splitter.stories.tsx
  packages/splitter/src/SplitterContainer.spec.tsx
  packages/splitter/src/SplitterContainer.tsx
  packages/splitter/src/useSplitter.ts
  packages/utilities/.size-snapshot.json
  packages/utilities/src/index.ts
  packages/utilities/src/utils/useWindow.spec.tsx
  packages/utilities/src/utils/useWindow.ts
Due: none

Updates [skip ci]
  iframe.html
  main.7597479b.iframe.bundle.js
  main.7cde75a8.iframe.bundle.js
Due: eslint, prettier --write

fix(splitter): fix offset for pointer to separator alignment (#405)
  packages/splitter/.size-snapshot.json
  packages/splitter/README.md
  packages/splitter/package.json
  packages/splitter/splitter.stories.tsx
  packages/splitter/src/SplitterContainer.spec.tsx
  packages/splitter/src/SplitterContainer.tsx
  packages/splitter/src/index.ts
  packages/splitter/src/useSplitter.ts
  packages/splitter/yarn.lock
Due: prettier-package-json --write

chore(lock): update lockfile
  packages/splitter/yarn.lock
Due: none

chore(lock): update lockfile (#415)
  packages/splitter/yarn.lock
Due: none

feat(splitter): v0.2.0
  packages/splitter/package.json
Due: prettier-package-json --write

chore(release): publish
  packages/grid/CHANGELOG.md
  packages/grid/package.json
  packages/splitter/CHANGELOG.md
  packages/splitter/package.json
Due: prettier-package-json --write

Updates [skip ci]
  iframe.html
  main.8dd129c7.iframe.bundle.js
  main.cdd8ab0b.iframe.bundle.js
Due: eslint, prettier --write

feat(treeview): add treeview container (#346)
  .storybook/main.js
  README.md
  packages/treeview/.size-snapshot.json
  packages/treeview/CHANGELOG.md
  packages/treeview/README.md
  packages/treeview/package.json
  packages/treeview/src/TreeviewContainer.spec.tsx
  packages/treeview/src/TreeviewContainer.tsx
  packages/treeview/src/index.ts
  packages/treeview/src/keyboardInteractions.spec.tsx
  packages/treeview/src/keyboardInteractions.ts
  packages/treeview/src/types.ts
  packages/treeview/src/useTreeview.ts
  packages/treeview/src/utils.ts
  packages/treeview/treeview.stories.tsx
  packages/treeview/tsconfig.build.json
  packages/treeview/yarn.lock
  utils/test/jest.config.js
Due: eslint, prettier --write, prettier-package-json --write

fix(treeview): update yarn.lock
  packages/treeview/yarn.lock
Due: none

fix(treeview): update yarn.lock (#416)
  packages/treeview/yarn.lock
Due: none

Updates [skip ci]
  iframe.html
  main.40e925ce.iframe.bundle.js
  main.606b4c0f.iframe.bundle.js
Due: eslint, prettier --write

chore(release): publish
  packages/treeview/.size-snapshot.json
  packages/treeview/CHANGELOG.md
  packages/treeview/package.json
Due: prettier-package-json --write

chore(renovate): remove post update from config
  .github/renovate.json
Due: none

chore(renovate): remove post update from config (#417)
  .github/renovate.json
Due: none

chore(deps): update node orb to v4.9.0
  .circleci/config.yml
Due: none

chore(deps): update node orb to v5
  .circleci/config.yml
Due: none

chore(deps): update dependency @zendeskgarden/eslint-config to v27
  package.json
  yarn.lock
Due: prettier-package-json --write

Update storybook config
  .storybook/main.js
  .storybook/manager.js
  .storybook/preview.js
  .storybook/tsconfig.storybook.json
  package.json
  yarn.lock
Due: eslint, prettier --write, prettier-package-json --write

Update storybook config
  .gitignore
  .storybook/babel.config.js
  .storybook/main.js
  .storybook/preview.js
  .storybook/tsconfig.storybook.json
  .storybook/webpack.config.js
  package.json
  yarn.lock
Due: eslint, prettier --write, prettier-package-json --write

Update storybook config
  .gitignore
  .storybook/index.css
  .storybook/main.js
  .storybook/preview-head.html
  .storybook/preview.js
  .storybook/tailwind.config.js
  package.json
  yarn.lock
Due: eslint, prettier --write, prettier-package-json --write

Update TS config to allow storybook `@zendeskgarden/container-*` imports
  packages/.template/tsconfig.build.json
  packages/accordion/tsconfig.build.json
  packages/breadcrumb/tsconfig.build.json
  packages/buttongroup/tsconfig.build.json
  packages/field/tsconfig.build.json
  packages/focusjail/tsconfig.build.json
  packages/grid/tsconfig.build.json
  packages/keyboardfocus/tsconfig.build.json
  packages/modal/tsconfig.build.json
  packages/pagination/tsconfig.build.json
  packages/schedule/tsconfig.build.json
  packages/scrollregion/tsconfig.build.json
  packages/selection/tsconfig.build.json
  packages/splitter/tsconfig.build.json
  packages/tabs/tsconfig.build.json
  packages/tooltip/tsconfig.build.json
  packages/treeview/tsconfig.build.json
  packages/utilities/tsconfig.build.json
  tsconfig.json
Due: none

Fix linting
  .storybook/main.js
  .storybook/tailwind.config.js
Due: eslint, prettier --write

Update precommit hook
  .husky/pre-commit
  packages/accordion/.size-snapshot.json
Due: none

Restore size snapshot
  packages/accordion/.size-snapshot.json
Due: none

chore: update storybook configuration (#418)
  .gitignore
  .husky/pre-commit
  .storybook/babel.config.js
  .storybook/index.css
  .storybook/main.js
  .storybook/manager.js
  .storybook/preview-head.html
  .storybook/preview.js
  .storybook/tailwind.config.js
  .storybook/tsconfig.storybook.json
  .storybook/webpack.config.js
  package.json
  packages/.template/tsconfig.build.json
  packages/accordion/tsconfig.build.json
  packages/breadcrumb/tsconfig.build.json
  packages/buttongroup/tsconfig.build.json
  packages/field/tsconfig.build.json
  packages/focusjail/tsconfig.build.json
  packages/grid/tsconfig.build.json
  packages/keyboardfocus/tsconfig.build.json
  packages/modal/tsconfig.build.json
  packages/pagination/tsconfig.build.json
  packages/schedule/tsconfig.build.json
  packages/scrollregion/tsconfig.build.json
  packages/selection/tsconfig.build.json
  packages/splitter/tsconfig.build.json
  packages/tabs/tsconfig.build.json
  packages/tooltip/tsconfig.build.json
  packages/treeview/tsconfig.build.json
  packages/utilities/tsconfig.build.json
  tsconfig.json
  yarn.lock
Due: eslint, prettier --write, prettier-package-json --write

Add missing prop type
  packages/accordion/.size-snapshot.json
  packages/accordion/src/AccordionContainer.tsx
Due: none

Add initial MDX demo
  packages/accordion/demo/#readme.stories.mdx
  packages/accordion/demo/accordion.stories.mdx
  packages/accordion/demo/stories/AccordionStory.tsx
Due: none

Remove styleguidist hints
  packages/accordion/.size-snapshot.json
  packages/accordion/README.md
Due: none

Fill out refactored accordion demo story
  packages/accordion/accordion.stories.tsx
  packages/accordion/demo/accordion.stories.mdx
  packages/accordion/demo/stories/AccordionStory.tsx
  packages/accordion/src/AccordionContainer.tsx
  packages/accordion/src/useAccordion.ts
Due: none

Correct URL
  packages/accordion/README.md
Due: none

Template story alignment
  packages/.template/README.md
  packages/.template/src/index.ts
  packages/.template/tsconfig.build.json
  packages/accordion/demo/stories/AccordionStory.tsx
Due: none

Refactor .template story
  packages/.template/demo/#readme.stories.mdx
  packages/.template/demo/stories/{{capitalize component}}Story.tsx
  packages/.template/demo/{{lowercase component}}.stories.mdx
  packages/.template/{{lowercase component}}.stories.tsx
Due: none
