Repository zendeskgarden/react-containers: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, prettier-package-json --write

.lintstagedrc:

{
  "*.js": [
    "eslint",
    "prettier --write",
    "git add"
  ],
  "!(*CHANGELOG).md": [
    "markdownlint",
    "prettier --write",
    "git add"
  ],
  "**/package.json": [
    "prettier-package-json --write",
    "git add"
  ]
}

Use new named export for tabbable & update tests
  packages/focusjail/.size-snapshot.json
  packages/focusjail/src/FocusJailContainer.spec.tsx
  packages/focusjail/src/useFocusJail.ts
  packages/focusjail/yarn.lock
Due: none

chore(deps): update dependency @testing-library/dom to v7.26.1
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency webpack to v5
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update typescript-eslint monorepo to v4
  package.json
  yarn.lock
Due: prettier-package-json --write

Remove outdated @types/tabbable
  packages/focusjail/package.json
  packages/focusjail/yarn.lock
Due: prettier-package-json --write

Use no-use-before-define
  .eslintrc.json
  packages/focusvisible/src/useFocusVisible.ts
  packages/schedule/src/useSchedule.ts
  packages/selection/src/useSelection.ts
Due: none

fix(selection): update reducer to not run side effect
  packages/selection/.size-snapshot.json
  packages/selection/src/useSelection.ts
Due: none

Do not dispatch for controlled select usage
  packages/selection/.size-snapshot.json
  packages/selection/src/useSelection.ts
Due: none

Add focusedItem control check; remove logic from reducer
  packages/selection/.size-snapshot.json
  packages/selection/src/useSelection.ts
Due: none

Tidy up from rebase
  packages/selection/src/useSelection.ts
Due: none

Refactor test to assert against UI
  packages/focusjail/src/FocusJailContainer.spec.tsx
Due: none

fix(focusjail): use tab focusTrap option in test
  packages/focusjail/src/FocusJailContainer.spec.tsx
Due: none

fix(focusjail): use tab focusTrap option in test (#250)
  packages/focusjail/src/FocusJailContainer.spec.tsx
Due: none

fix(selection): update reducer to not run side effect (#241)
  packages/selection/.size-snapshot.json
  packages/selection/src/useSelection.ts
Due: none

chore(release): publish
  packages/accordion/.size-snapshot.json
  packages/accordion/CHANGELOG.md
  packages/accordion/package.json
  packages/breadcrumb/.size-snapshot.json
  packages/breadcrumb/CHANGELOG.md
  packages/breadcrumb/package.json
  packages/buttongroup/CHANGELOG.md
  packages/buttongroup/package.json
  packages/field/.size-snapshot.json
  packages/field/CHANGELOG.md
  packages/field/package.json
  packages/focusjail/.size-snapshot.json
  packages/focusjail/CHANGELOG.md
  packages/focusjail/package.json
  packages/focusvisible/CHANGELOG.md
  packages/focusvisible/package.json
  packages/keyboardfocus/.size-snapshot.json
  packages/keyboardfocus/CHANGELOG.md
  packages/keyboardfocus/package.json
  packages/modal/.size-snapshot.json
  packages/modal/CHANGELOG.md
  packages/modal/package.json
  packages/pagination/CHANGELOG.md
  packages/pagination/package.json
  packages/schedule/CHANGELOG.md
  packages/schedule/package.json
  packages/selection/CHANGELOG.md
  packages/selection/package.json
  packages/tabs/.size-snapshot.json
  packages/tabs/CHANGELOG.md
  packages/tabs/package.json
  packages/tooltip/.size-snapshot.json
  packages/tooltip/CHANGELOG.md
  packages/tooltip/package.json
Due: prettier-package-json --write

chore(deps): update non-major shared dependencies
  package.json
  yarn.lock
Due: prettier-package-json --write

Rename tsconfig key in jest config
  utils/test/jest.config.js
Due: eslint, prettier --write

chore(deps): update dependency @rollup/plugin-commonjs to v17
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency @rollup/plugin-node-resolve to v11
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency rollup to v2.35.1
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency @zendeskgarden/eslint-config to v16
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency eslint-config-prettier to v7
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update non-major shared dependencies to v4.10.0
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency @types/react to v17
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency @types/react-dom to v17
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update react monorepo to v17
  package.json
  yarn.lock
Due: prettier-package-json --write
